@import "../typography/typography";
@import "../palette/palette";

// Toolbar colors
$colored-toolbar-bg-color: nth($primaryPalette, 6);
$colored-toolbar-text-color: #fff;
$colored-toolbar-hover-bg-color: nth($primaryPalette, 8);

// Search colors
$colored-search-bg-color: nth($primaryPalette, 8);

app-bar {
  background-color: $colored-toolbar-bg-color;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  display: block;
  height: 65px;
  left: 0;
  padding-left: 30px;
  position: relative;
  top: 0;
}

.main-container {
  display: inline-block;
  height: 100%;
  position: relative;
  top: 0;
  width: 80%;
}

.main-container .main-container-left {
  display: inline-block;
  height: 100%;
  padding: 23px 0;
  position: relative;
  vertical-align: middle;
  width: 115px;
  z-index: 7;
}

.main-container .main-container-left .hamburger-nav {
  padding-right: 10%;
  vertical-align: middle;
}

.main-container .main-container-left .title-page {
  color: $colored-toolbar-text-color;
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
}

.main-container .main-container-right {
  display: inline-block;
  height: 100%;
  padding: 13px 0;
  position: relative;
  vertical-align: middle;
  width: 80%;
}

.main-container .main-container-right search-bar {
  width: 75%;
}

.main-container .main-container-right .bar-options {
  display: inline-block;
  width: 20%;
}

.main-container .main-container-right .bar-options>* {
  margin-left: 10%;
  vertical-align: middle;
}

.right-options {
  text-align: right;
  display: inline-block;
  height: 100%;
  padding: 12px 0;
  position: absolute;
  right: 15px;
  top: 0;
  width: 100%;
  z-index: 5;
}

.right-options .mobile-options {
  display: inline-block;
  height: 43px;
  position: relative;
  vertical-align: middle;
  visibility: hidden;
}

.right-options .mobile-options .bar-options {
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle;
}

.right-options .mobile-options .bar-options>* {
  margin-right: 15px;
  vertical-align: middle;
}

.right-options .mobile-options:after {
  background: #324f7e;
  content: "";
  height: 40px;
  margin-top: -21px;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 50%;
  width: 1px;
}

.right-options .more-options {
  display: inline-block;
}

.right-options .more-options>* {
  margin-left: 15px;
  vertical-align: middle;
}

@media only screen and (min-width:1201px) {
  app-bar .main-container {
    z-index: 6;
  }
}

@media only screen and (max-width:1200px) {
  .active-search app-bar .main-container {
    visibility: hidden;
  }

  .active-search app-bar .right-options .mobile-options search-bar {
    width: 100%;
  }

  .active-search app-bar .right-options .mobile-options .bar-options {
    visibility: hidden;
  }

  .active-search app-bar .right-options .mobile-options:after {
    width: 0;
  }

  .main-container .main-container-right {
    visibility: hidden;
  }

  .right-options .mobile-options {
    text-align: right;
    visibility: visible;
    width: 85%;
  }

  .right-options .more-options >* {
    display: none;
  }

  .right-options .more-options apps-grid {
    display: inline-block;
  }

  .right-options .more-options avatar-button {
    display: inline-block;
  }
}

@media only screen and (max-width:800px) {
  .active-search app-bar .main-container {
    visibility: hidden;
  }

  .active-search app-bar .right-options .mobile-options {
    padding-left: 30px;
    width: 100%;
  }

  .active-search app-bar .right-options .more-options {
    display: none;
  }

  .right-options .mobile-options .bar-options>* {
    display: none;
  }

  .right-options .mobile-options .bar-options>overflow-menu-list {
    display: block;
    margin-right: 0;
  }

  .right-options .mobile-options:after {
    display: none;
  }

  .right-options .mobile-options search-bar {
    width: inherit;
  }

  .right-options .more-options>* {
    display: none;
  }

  .right-options .more-options apps-grid {
    display: none;
  }

  .right-options .more-options avatar-button {
    display: inline-block;
  }
}


@-webkit-keyframes fadeInDownUp{
  0% {
    opacity:0;
    -webkit-transform:translateY(10px)
  }

  100% {
    opacity:1;
    -webkit-transform:translateY(0)
  }
}

@-webkit-keyframes fadeInDown{
  0% {
    -webkit-transform-origin:top left;
    -webkit-transform:translateY(0);
    height:0;
    opacity:0;
    width:0
  }

  5% {
    opacity:1;
    -webkit-transform:translateX(-1%) scale(.3);
    width:50%
  }

  15% {
    height:50%;
    width:60%;
    -webkit-transform:translateX(-1%) scale(.7)
  }

  50% {
    height:90%;
    width:90%;
    -webkit-transform:translateX(-2%) scale(.9)
  }

  60% {
    -webkit-transform:translateX(0) translateY(12px) scale(1);
    height:100%;
    width:100%
  }

  100% {
    -webkit-transform:translateY(15px) scale(1);
    opacity:1;
    height:100%;
    width:100%
  }
}

@-webkit-keyframes fadeInLeftDown{
  0% {
    -webkit-transform-origin:top right;
    -webkit-transform:translateY(0);
    height:0;
    opacity:0;
    width:0
  }

  5% {
    opacity:1;
    -webkit-transform:translateX(-90%) scale(.3);
    width:50%
  }

  15% {
    height:50%;
    width:60%;
    -webkit-transform:translateX(-91%) scale(.7)
  }

  50% {
    height:90%;
    width:90%;
    -webkit-transform:translateX(-93%) scale(.9)
  }

  60% {
    -webkit-transform:translateX(-93%) translateY(12px) scale(1);
    height:100%;
    width:100%
  }

  100% {
    -webkit-transform:translateX(-93%) translateY(15px) scale(1);
    opacity:1;
    height:100%;
    width:100%
  }
}

@-webkit-keyframes fadeInRightText {
  0% {
    opacity:0;
    -webkit-transform:translateX(-10px)
  }

  100% {
    opacity:1;
    -webkit-transform:translateX(0)
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform:scale(1)
  }

  50% {
    -webkit-transform:scale(1.1)
  }

  100%{
    -webkit-transform:scale(1)
  }
}

/*Extras*/


body.activeMask .mask-modal {
  visibility: visible;
}

body.activeLeftNav left-nav {
  visibility: visible;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

body.activeLeftNav .mask-modal {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  transition-delay: 0;
}

search-bar {
  display: inline-block;
  position: relative;
}

search-bar input {
  background: $colored-search-bg-color;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-family: 'Roboto';
  font-size: 15px;
  outline: none;
  padding: 10px 15px 10px 75px;
  position: relative;
  width: 100%;
  z-index: 7;
}

search-bar input::-webkit-input-placeholder {
  color: rgba(165,194,239,0.7);
}

search-bar input:focus+.icon:before {
  opacity: 1;
}

search-bar input:focus::-webkit-input-placeholder {
  color: #a5c2ef;
}

search-bar .icon:before {
  -webkit-transition: opacity .5s cubic-bezier(0, 0, .2, 1);
  background-image: url('sprite.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
  height: 22px;
  margin-top: -13px;
  left: 26px;
  opacity: .7;
  top: 50%;
  width: 22px;
  position: absolute;
  z-index: 8;
}

search-bar .icon:hover:before {
  opacity: 1;
}

search-bar .close {
  display: none;
  font-size: 15px;
  margin-top: -7.5px;
  position: absolute;
  right: 20px;
  top: 50%;
}

search-bar .close:before {
  background-image: url('sprite.svg');
  background-position: -7px -302px;
  background-repeat: no-repeat;
  content: "";
  height: 13px;
  right: 0;
  opacity: .7;
  top: 50%;
  width: 12px;
  position: absolute;
  z-index: 8;
}

search-bar .close:hover:before {
  opacity: 1;
}

search-bar.mobile-view input {
  visibility: hidden;
}

search-bar.mobile-view .icon:before {
  left: auto;
  right: 0;
}

search-bar.active-mobile-view input {
  visibility: visible;
}

search-bar.active-mobile-view .icon:before {
  left: 26px;
  right: auto;
}

search-bar.active-mobile-view .close {
  display: inline-block;
}

overflow-menu-list {
  display: inline-block;
  font-family: 'Roboto';
  height: 16px;
  position: relative;
}

overflow-menu-list button {
  background-color: transparent;
  background-image: url('sprite.svg');
  background-position: -5px -246px;
  border: none;
  height: 17px;
  opacity: 1;
  outline: none;
  padding: 0;
  width: 16px;
}

overflow-menu-list button:hover {
  opacity: .7;
}

overflow-menu-list dialog {
  background: transparent;
  display: inline-block;
  position: absolute;
  text-align: left;
  visibility: hidden;
  width: 200px;
}

overflow-menu-list dialog ol {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  margin: 0;
  overflow: hidden;
  padding: 0;
  height: 100%;
  width: 100%;
}

overflow-menu-list dialog ol li {
  color: #444545;
  cursor: default;
  font-size: 13px;
  margin: 0;
  opacity: 0;
  padding: 15px 35px;
  width: 200px;
}

apps-grid {
  display: inline-block;
  font-family: 'Roboto';
  position: relative;
}

apps-grid button {
  background-color: transparent;
  background-image: url('sprite.svg');
  background-position: -4px -133px;
  border: none;
  height: 18px;
  opacity: .7;
  outline: none;
  padding: 0;
  width: 16px;
}

apps-grid button:hover {
  opacity: 1;
}

apps-grid.open button {
  opacity: 1;
}

apps-grid.open-left button {
  opacity: 1;
}

apps-grid dialog {
  background: transparent;
  border: none;
  display: inline-block;
  position: absolute;
  visibility: hidden;
  left:-265px;
}

apps-grid dialog ol {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  margin: 0;
  overflow: hidden;
  padding: 0;
  height: 100%;
  width: 100%;
}

apps-grid dialog ol li {
  color: #444545;
  cursor: default;
  font-size: 13px;
  margin: 0;
  opacity: 1;
  padding: 15px 16px;
}

apps-grid dialog ol li:hover {
  background-color: #def0f8;
}

apps-grid.open dialog {
  visibility: visible;
}

apps-grid.open .actor-translateY {
  -webkit-transform-origin: 100% 0;
  -webkit-animation-name: actor-translateY-keyframes;
  -webkit-animation-duration: 631ms;
  -webkit-animation-delay: 0ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
}

apps-grid.open .actor-scaleX {
  -webkit-transform-origin: 100% 0;
  -webkit-animation-name: actor-scaleX-keyframes;
  -webkit-animation-duration: 367ms;
  -webkit-animation-delay: 0ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
}

apps-grid.open .actor-scaleY {
  -webkit-transform-origin: 100% 0;
  -webkit-animation-name: actor-scaleY-keyframes;
  -webkit-animation-duration: 367ms;
  -webkit-animation-delay: 0ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
}

apps-grid.open .actor-rotate {
  -webkit-transform-origin: 100% 0;
  -webkit-animation-name: actor-rotate-keyframes;
  -webkit-animation-duration: 260ms;
  -webkit-animation-delay: 0ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
}


notification-list {
  display: inline-block;
  font-family: 'Roboto';
  position: relative;
}

notification-list button {
  -webkit-transition: opacity .5s cubic-bezier(0, 0, .2, 1);
  background-color: transparent;
  background-image: url('sprite.svg');
  background-position: -4px -190px;
  background-repeat: no-repeat;
  border: none;
  height: 21px;
  opacity: .7;
  outline: none;
  padding: 0;
  width: 16px;
}

notification-list button:hover {
  opacity: 1;
}

notification-list counter {
  -webkit-transform: scale(0);
  background: #fff;
  border: 1px solid rgba(164,164,164,0.3);
  border-radius: 10px;
  display: inline-block;
  min-height: 18px;
  min-width: 18px;
  left: 9px;
  position: absolute;
  top: -6px;
  z-index: 5;
}

notification-list counter span {
  font-size: 11px;
  display: block;
  margin-top: -5.5px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  z-index: 4;
}


notification-list.open button {
  opacity: 1;
}


notification-list.open-left button {
  opacity: 1;
}

notification-list dialog {
  background: transparent;
  border: none;
  display: inline-block;
  position: absolute;
  visibility: hidden;
  left:-265px;
}

notification-list dialog ol {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  margin: 0;
  overflow: hidden;
  padding: 0;
  height: 100%;
  width: 100%;
}

notification-list dialog ol li {
  color: #444545;
  cursor: default;
  font-size: 13px;
  margin: 0;
  opacity: 1;
  padding: 15px 16px;
}

notification-list dialog ol li:hover {
  background-color: #def0f8;
}

notification-list.open dialog {
  visibility: visible;
}

notification-list.open .actor-translateY {
  -webkit-transform-origin: 100% 0;
  -webkit-animation-name: actor-translateY-keyframes;
  -webkit-animation-duration: 631ms;
  -webkit-animation-delay: 0ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
}

notification-list.open .actor-scaleX {
  -webkit-transform-origin: 100% 0;
  -webkit-animation-name: actor-scaleX-keyframes;
  -webkit-animation-duration: 367ms;
  -webkit-animation-delay: 0ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
}

notification-list.open .actor-scaleY {
  -webkit-transform-origin: 100% 0;
  -webkit-animation-name: actor-scaleY-keyframes;
  -webkit-animation-duration: 367ms;
  -webkit-animation-delay: 0ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
}

notification-list.open .actor-rotate {
  -webkit-transform-origin: 100% 0;
  -webkit-animation-name: actor-rotate-keyframes;
  -webkit-animation-duration: 260ms;
  -webkit-animation-delay: 0ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
}

notification-list.activeNotifications button {
  opacity: 1;
}

notification-list.activeNotifications counter {
  -webkit-transform: scale(1);
}

notification-list.animateNotifications counter {
  -webkit-animation: pulse .6s cubic-bezier(.4, 0, 1, 1) both 0s;
}

.hamburger-nav {
  display: inline-block;
}

.hamburger-nav .hamburger-button {
  background-color: transparent;
  background-image: url('sprite.svg');
  background-position: -5px -221px;
  border: none;
  display: inline-block;
  height: 17px;
  opacity: .7;
  outline: none;
  padding: 0;
  position: relative;
  width: 16px;
}

.hamburger-nav .hamburger-button:hover {
  opacity: 1;
}

filter-button {
  background-color: transparent;
  background-image: url('sprite.svg');
  background-position: -3px -30px;
  border: none;
  display: inline-block;
  height: 13px;
  opacity: .7;
  outline: none;
  padding: 0;
  position: relative;
  width: 19px;
}

filter-button:hover {
  opacity: 1;
}

help-button {
  background-color: transparent;
  background-image: url('sprite.svg');
  background-position: -3px -51px;
  border: none;
  display: inline-block;
  height: 21px;
  opacity: .7;
  outline: none;
  padding: 0;
  position: relative;
  width: 21px;
}

help-button:hover {
  opacity: 1;
}

plus-button {
  background-color: transparent;
  background-image: url('sprite.svg');
  background-position: -5px -163px;
  border: none;
  display: inline-block;
  height: 14px;
  opacity: .7;
  outline: none;
  padding: 0;
  position: relative;
  width: 14px;
}

plus-button:hover {
  opacity: 1;
}

avatar-button {
  background-color: transparent;
  background-image: url('sprite.svg');
  background-position: -1px -273px;
  background-size: 300px 300px;
  border: none;
  display: inline-block;
  height: 25px;
  opacity: .7;
  outline: none;
  padding: 0;
  position: relative;
  width: 26px;
}

avatar-button:hover {
  opacity: 1;
}

left-nav {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateX(-241px);
  -moz-transform: translateX(-241px);
  -ms-transform: translateX(-241px);
  -o-transform: translateX(-241px);
  transform: translateX(-241px);
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  background: #fafafa;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 240px;
  visibility: hidden;
  z-index: 10;
}

.mask-modal {
  -webkit-transition: visibility 0 linear .4s,opacity .4s cubic-bezier(.4, 0, .2, 1);
  -webkit-transform: translateZ(0);
  background: rgba(0,0,0,0.5);
  height: 100%;
  left: 0;
  opacity: .1;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 9;
}

person-checkbox {
  display: inline-block;
  height: 41px;
  position: relative;
  width: 42px;
}

person-checkbox person {
  -webkit-transition: opacity .5s cubic-bezier(0, 0, .2, 1);
  background-image: url('sprite.svg');
  background-position: -3px -455px;
  background-repeat: no-repeat;
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

person-checkbox checkbox {
  background-image: url('sprite.svg');
  background-position: -109px -460px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 41px;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  width: 42px;
}

person-checkbox checkbox check {
  -webkit-transform: scale(0);
  background-image: url('sprite.svg');
  background-position: -156px -460px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 41px;
  margin-left: -5.5px;
  left: 50%;
  position: absolute;
  width: 25px;
}

person-checkbox.active person {
  opacity: 0;
}

person-checkbox.active checkbox {
  opacity: 1;
  visibility: visible;
}

person-checkbox.selected checkbox check {
  -webkit-animation: pulse .6s cubic-bezier(.4, 0, 1, 1) both 0s;
}

overflow-menu-action {
  display: inline-block;
  font-family: 'Roboto';
  position: relative;
}

overflow-menu-action button {
  background-color: transparent;
  background-image: url('sprite.svg');
  background-position: -5px -108px;
  border: none;
  height: 17px;
  opacity: .7;
  outline: none;
  padding: 0;
  width: 16px;
}

overflow-menu-action button:hover {
  opacity: 1;
}

overflow-menu-action dialog {
  background: transparent;
  display: inline-block;
  position: absolute;
  visibility: hidden;
  width: 200px;
  top: 0;
}

overflow-menu-action dialog .options {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  margin: 0;
  overflow: hidden;
  padding: 15px 0;
  height: 100%;
  width: 100%;
}

overflow-menu-action dialog .options li {
  color: #444545;
  cursor: default;
  font-size: 13px;
  margin: 0;
  opacity: 0;
  padding: 14px 35px;
  width: 200px;
}

overflow-menu-action dialog .options li:hover {
  background-color: #def0f8;
}

overflow-menu-action dialog .options .more-options {
  border-top: 1px solid rgba(229,229,229,0.7);
  height: 40px;
  margin: 14px auto 0 auto;
  width: 90%;
}

overflow-menu-action dialog .options .more-options .icons {
  display: inline-block;
  height: 100%;
  margin-left: -55px;
  left: 50%;
  position: relative;
  width: 110px;
}

overflow-menu-action dialog .options .more-options .icons span {
  background-image: url('sprite.svg');
  position: absolute;
  top: 15px;
}

overflow-menu-action dialog .options .more-options .icons span:hover {
  opacity: .8;
}

overflow-menu-action dialog .options .more-options .icons .hangouts {
  background-position: -6px -378px;
  height: 21px;
  left: 0;
  width: 17px;
}

overflow-menu-action dialog .options .more-options .icons .email {
  background-position: -4px -402px;
  height: 21px;
  right: 0;
  width: 21px;
}

overflow-menu-action.open button {
  opacity: 1;
}

overflow-menu-action.open dialog {
  visibility: visible;
}

overflow-menu-action.open dialog .options {
  -webkit-animation: fadeInDown .6s cubic-bezier(.4, 0, 1, 1) both 0s;
}

overflow-menu-action.open dialog .options li {
  -webkit-animation: fadeInRightText .3s cubic-bezier(.4, 0, 1, 1) both .3s;
}

overflow-menu-action.open dialog .options .more-options {
  -webkit-animation: fadeInDownUp .3s cubic-bezier(.4, 0, 1, 1) both .3s;
}

overflow-menu-action.open-left button {
  opacity: 1;
}

overflow-menu-action.open-left dialog {
  visibility: visible;
}

overflow-menu-action.open-left dialog .options {
  -webkit-animation: fadeInLeftDown .6s cubic-bezier(.4, 0, 1, 1) both 0s;
}

overflow-menu-action.open-left dialog .options li {
  -webkit-animation: fadeInRightText .3s cubic-bezier(.4, 0, 1, 1) both .3s;
}

overflow-menu-action.open-left dialog .options .more-options {
  -webkit-animation: fadeInDownUp .3s cubic-bezier(.4, 0, 1, 1) both .3s;
}

data-table table {
  width: 100%;
}

data-table tr:first-child {
  border-bottom: 1px solid rgba(209,209,209,0.5);
}

data-table tr:first-child+.data-table-list-item td {
  padding-top: 1em;
}

data-table a {
  color: #989897;
}

data-table th {
  color: #989897;
  font-size: .8em;
  font-weight: lighter;
  padding-bottom: 2em;
  padding-top: 10px;
  text-align: left;
}

data-table th .icon_down:after {
  display: none;
}

data-table th.sort .sortheader[sortdir="down"] {
  color: #000;
  font-weight: bolder;
  opacity: 70%;
}

data-table th.sort .icon_up:after {
  content: "â–¾";
  display: inline-block;
  font-size: 17px;
  margin-left: 8px;
  top: 20px;
}

data-table th.sort .icon_down:after {
  -webkit-transform: rotate(180deg);
  content: "â–¾";
  display: inline-block;
  font-size: 17px;
  margin-left: 8px;
  top: 18px;
}

data-table .data-table-list-item td {
  color: #989897;
  font-size: .8em;
  vertical-align: middle;
  padding-right: 15px;
  padding-bottom: 1em;
}

data-table .data-table-list-item .person {
  width: 60px;
}

data-table .data-table-list-item .name {
  color: #444545;
  font-weight: bolder;
}

data-table .data-table-list-item .name .email {
  color: #000;
  display: block;
  font-size: .8em;
  font-weight: lighter;
  opacity: .54;
  padding-top: 5px;
}

data-table .data-table-list-item .overflow-menu {
  padding-right: 0;
  width: 1px;
}

@media (min-width:801px) {
  data-table .data-table-list-item .name .email {
    display: none;
  }
}

@media (max-width:800px) {
  th:nth-child(3),th:nth-child(4) {
    display: none;
  }

  data-table .data-table-list-item .name {
    font-size: .95em;
  }

  data-table .data-table-list-item .name .email {
    font-size: .85em;
  }

  data-table .data-table-list-item>.email,data-table .data-table-list-item .last-login {
    display: none;
  }
}









overflow-menu-list {
  display: inline-block;
  font-family: 'Roboto';
  position: relative;
}

overflow-menu-list button {
  background-color: transparent;
  background-image: url('sprite.svg');
  background-position: -5px -246px;
  border: none;
  height: 17px;
  opacity: .8;
  outline: none;
  padding: 0;
  width: 16px;
}

overflow-menu-list button:hover {
  opacity: 1;
}

overflow-menu-list dialog {
  background: transparent;
  border: none;
  display: inline-block;
  position: absolute;
  visibility: hidden;
  width: 200px;
}

overflow-menu-list dialog ol {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  margin: 0;
  overflow: hidden;
  padding: 0;
  height: 100%;
  width: 100%;
}

overflow-menu-list dialog ol li {
  color: #444545;
  cursor: default;
  font-size: 13px;
  margin: 0;
  opacity: 1;
  padding: 15px 16px;
  width: 200px;
}

overflow-menu-list dialog ol li:hover {
  background-color: #def0f8;
}

overflow-menu-list.open dialog {
  visibility: visible;
}

.open .actor-translateY {
  -webkit-transform-origin: 0 0;
  -webkit-animation-name: actor-translateY-keyframes;
  -webkit-animation-duration: 631ms;
  -webkit-animation-delay: 0ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
}

.open .actor-scaleX {
  -webkit-transform-origin: 0 0;
  -webkit-animation-name: actor-scaleX-keyframes;
  -webkit-animation-duration: 367ms;
  -webkit-animation-delay: 0ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
}

.open .actor-scaleY {
  -webkit-transform-origin: 0 0;
  -webkit-animation-name: actor-scaleY-keyframes;
  -webkit-animation-duration: 367ms;
  -webkit-animation-delay: 0ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
}

.open .actor-rotate {
  -webkit-transform-origin: 0 0;
  -webkit-animation-name: actor-rotate-keyframes;
  -webkit-animation-duration: 260ms;
  -webkit-animation-delay: 0ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
}



@-webkit-keyframes actor-translateX-keyframes {
  0% {-webkit-transform: translateX(0px);}
  1.75% {-webkit-transform: translateX(0px);}
  100% {-webkit-transform: translateX(0px);}
}

@-webkit-keyframes actor-translateY-keyframes {
  0% {-webkit-transform: translateY(0px);}
  5.26949713941584% {-webkit-transform: translateY(0px);}
  10.84010840108401% {-webkit-transform: translateY(-14.87811px);}
  16.41071966275218% {-webkit-transform: translateY(-14.42601px);}
  22.01144233664559% {-webkit-transform: translateY(-13.53627px);}
  27.58205359831376% {-webkit-transform: translateY(-12.00966px);}
  33.15266485998193% {-webkit-transform: translateY(-9.82599px);}
  38.72327612165011% {-webkit-transform: translateY(-7.25514px);}
  44.29388738331828% {-webkit-transform: translateY(-5.42178px);}
  49.86449864498645% {-webkit-transform: translateY(-3.89259px);}
  55.43510990665462% {-webkit-transform: translateY(-2.8467px);}
  61.00572116832279% {-webkit-transform: translateY(-2.00244px);}
  66.57633242999097% {-webkit-transform: translateY(-1.31862px);}
  72.14694369165914% {-webkit-transform: translateY(-0.86358px);}
  77.71755495332731% {-webkit-transform: translateY(-0.52452px);}
  83.28816621499548% {-webkit-transform: translateY(-0.28071px);}
  94.42938873833183% {-webkit-transform: translateY(-0.1188px);}
  97.42938873833183% {-webkit-transform: translateY(-0.02505px);}
  100% {-webkit-transform: translateY(0px);}
}

@-webkit-keyframes actor-scaleX-keyframes {
  0% {-webkit-transform: scaleX(0.5);}
  9.01132852729145% {-webkit-transform: scaleX(0.5);}
  18.12564366632338% {-webkit-transform: scaleX(0.514);}
  27.2399588053553% {-webkit-transform: scaleX(0.5664256559766764);}
  36.30278063851699% {-webkit-transform: scaleX(0.6807081347086382);}
  45.41709577754892% {-webkit-transform: scaleX(0.8073544831452546);}
  54.53141091658084% {-webkit-transform: scaleX(0.8906849048755787);}
  63.59423274974253% {-webkit-transform: scaleX(0.9379996768636603);}
  72.70854788877446% {-webkit-transform: scaleX(0.9698863764014909);}
  81.82286302780639% {-webkit-transform: scaleX(0.987741682093455);}
  90.88568486096807% {-webkit-transform: scaleX(0.9971801546291841);}
  100% {-webkit-transform: scaleX(1);}
}

@-webkit-keyframes actor-scaleY-keyframes {
  0% {-webkit-transform: scaleY(0);}
  9.01132852729145% {-webkit-transform: scaleY(0);}
  18.12564366632338% {-webkit-transform: scaleY(0.028000000000000008);}
  27.2399588053553% {-webkit-transform: scaleY(0.13285131195335276);}
  36.30278063851699% {-webkit-transform: scaleY(0.36141626941727645);}
  45.41709577754892% {-webkit-transform: scaleY(0.6147089662905093);}
  54.53141091658084% {-webkit-transform: scaleY(0.7813698097511573);}
  63.59423274974253% {-webkit-transform: scaleY(0.8759993537273205);}
  72.70854788877446% {-webkit-transform: scaleY(0.9397727528029817);}
  81.82286302780639% {-webkit-transform: scaleY(0.97548336418691);}
  90.88568486096807% {-webkit-transform: scaleY(0.9943603092583682);}
  100% {-webkit-transform: scaleY(1);}
}

@-webkit-keyframes actor-rotate-keyframes {
  0% {-webkit-transform: rotate(0deg);}
  1.75% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(0deg);}
}