/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */

 @import "../styleguide/layout/layout";

body {
  margin: 0px;
}

main {
  padding: 20px;
}

html, body {
  color: $text-color-secondary;
}

h1, h2, h3, h4, h5 {
  color: $text-color-primary;
}
