@import "../palette/palette";

$fabBackgroundColor: nth($accentPalette, 5);
$fabHoverBackgroundColor: nth($accentPalette, 7);
$fabFocusBackgroundColor: nth($accentPalette, 12);
$fabActiveBackgroundColor: nth($accentPalette, 13);
$fabIconColor: black;
$fabColoredIconColor: white;
$fabWidth: 56px;
$fabHeight: 56px;
$fabFontSize: 24px;

.PaperFab {
  border-radius   : 50%;
  color           : $fabIconColor;
  font-size       : $fabFontSize;
  height          : $fabHeight;
  margin          : auto;
  min-width       : $fabWidth;
  width           : $fabWidth;
  padding         : 0;
  overflow: hidden;
}

.PaperFab--colored {
  background-color: $fabBackgroundColor;
  color: $fabColoredIconColor;
}

.PaperFab--colored:hover {
  background-color: $fabHoverBackgroundColor;
}

.PaperFab--colored:focus {
  background-color: $fabFocusBackgroundColor;
}

.PaperFab--colored:active {
  background-color: $fabActiveBackgroundColor
}
