@mixin typo-display-4($colorContrast:false) {
  font-family: 'RobotoDraft', 'Helvetica', 'Arial', sans-serif;
  font-size: 112px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.04em;

  @if $colorContrast {
    opacity: 0.54;
  }
}

@mixin typo-display-3($colorContrast:false) {
  font-family: 'RobotoDraft', 'Helvetica', 'Arial', sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;

  @if $colorContrast {
    opacity: 0.54;
  }
}

@mixin typo-display-2($colorContrast:false) {
  font-family: 'RobotoDraft', 'Helvetica', 'Arial', sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 48px;

  @if $colorContrast {
    opacity: 0.54;
  }
}

@mixin typo-display-1($colorContrast:false) {
  font-family: 'RobotoDraft', 'Helvetica', 'Arial', sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;

  @if $colorContrast {
    opacity: 0.54;
  }
}

@mixin typo-headline($colorContrast:false) {
  font-family: 'RobotoDraft', 'Helvetica', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  -moz-osx-font-smoothing: grayscale;

  @if $colorContrast {
    opacity: 0.87;
  }
}

@mixin typo-title($colorContrast:false) {
  font-family: 'RobotoDraft', 'Helvetica', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;

  @if $colorContrast {
    opacity: 0.87;
  }
}

@mixin typo-subhead($colorContrast:false) {
  font-family: 'RobotoDraft', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;

  @if $colorContrast {
    opacity: 0.87;
  }
}

@mixin typo-subhead-2($colorContrast:false) {
  font-family: 'RobotoDraft', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.04em;

  @if $colorContrast {
    opacity: 0.87;
  }
}

@mixin typo-body-2($colorContrast:false) {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;

  @if $colorContrast {
    opacity: 0.87;
  }
}

@mixin typo-body-1($colorContrast:false) {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;

  @if $colorContrast {
    opacity: 0.87;
  }
}

@mixin typo-caption($colorContrast:false) {
  font-family: 'RobotoDraft', 'Helvetica', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.08em;

  @if $colorContrast {
    opacity: 0.54;
  }
}

@mixin typo-blockquote($colorContrast:false) {
  font-family: 'RobotoDraft', 'Helvetica', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  line-height: 1;
  letter-spacing: 0.08em;
  &:before {
    content: '“';
    opacity: 0.54;
  }

  &:after {
    content: '”';
    opacity: 0.54;
  }

  @if $colorContrast {
    opacity: 0.54;
  }
}

@mixin typo-menu($colorContrast:false) {
  font-family: 'RobotoDraft', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.04em;

  @if $colorContrast {
    opacity: 0.87;
  }
}

@mixin typo-button($colorContrast:false) {
  font-family: 'RobotoDraft', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.04em;

  @if $colorContrast {
    opacity: 0.87;
  }
}

html, body {
	font-family: 'RobotoDraft', 'Helvetica', 'Arial', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

/**
 * Styles for HTML elements
 */

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  @include typo-display-3($colorContrast:true);
  font-size: 0.6em;
}

h1 {
  @include typo-display-3();
}

h2 {
  @include typo-display-2();
}

h3 {
  @include typo-display-1();
}

h4 {
  @include typo-headline();
}

h5 {
  @include typo-title();
}

h6 {
  @include typo-subhead();
}

p {
  @include typo-body-1();

  margin: 0 0 16px 0;
}

a {
  font-weight: bold;
}

blockquote {
  @include typo-blockquote();
}

mark {
  background-color: #f4ff81;
}

dt {
  font-weight: 700;
}

/**
 * Class Name Styles
 */

.Typography--display-4 {
  @include typo-display-4();
}

.Typography--display-4--colorContrast {
  @include typo-display-4($colorContrast:true);
}

.Typography--display-3 {
  @include typo-display-3();
}

.Typography--display-3--colorContrast {
  @include typo-display-3($colorContrast:true);
}

.Typography--display-2 {
  @include typo-display-2();
}

.Typography--display-2--colorContrast {
  @include typo-display-2($colorContrast:true);
}

.Typography--display-1 {
  @include typo-display-1();
}

.Typography--display-1--colorContrast {
  @include typo-display-1($colorContrast:true);
}

.Typography--headline {
  @include typo-headline();
}

.Typography--headline--colorContrast {
  @include typo-headline($colorContrast:true);
}

.Typography--title {
  @include typo-title();
}

.Typography--title--colorContrast {
  @include typo-title($colorContrast:true);
}

.Typography--subhead {
  @include typo-subhead();
}

.Typography--subhead--colorContrast {
  @include typo-subhead($colorContrast:true);
}

.Typography--body-2 {
  @include typo-body-2();
}

.Typography--Body-2--colorContrast {
  @include typo-body-2($colorContrast:true);
}

.Typography--body-1 {
  @include typo-body-1();
}

.Typography--body-1--colorContrast {
  @include typo-body-1($colorContrast:true);
}

.Typography--baption {
  @include typo-caption();
}

.Typography--caption--colorContrast {
  @include typo-caption($colorContrast:true);
}

.Typography--menu {
  @include typo-menu();
}

.Typography--menu--colorContrast {
  @include typo-menu($colorContrast:true);
}

.Typography--button {
  @include typo-button();
}

.Typography--button--colorContrast {
  @include typo-button($colorContrast:true);
}

.Typography--textLeft {
    text-align: left
}

.Typography--textRight {
    text-align: right
}

.Typography--textCenter {
    text-align: center
}

.Typography--textJustify {
    text-align: justify
}

.Typography--textNowrap {
    white-space: nowrap
}


.Typography--textLowercase {
    text-transform: lowercase
}

.Typography--textUppercase {
    text-transform: uppercase
}

.Typography--textCapitalize {
    text-transform: capitalize
}

.Typography--tableStriped > tbody > tr:nth-child(odd) > td,
.Typography--tableStriped > tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9
}

.Typography--tableStriped > tbody > tr:nth-child(odd) > td,
.Typography--tableStriped > tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9
}
