$feature-font-family: 'RobotoDraft', 'Helvetica', 'Arial', sans-serif;
$stock-font-family: 'Helvetica', 'Arial', sans-serif;

body {
  font-family: $feature-font-family;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $feature-font-family;
  font-weight: 300;
}
