@import "../styleguide_demo_bp";
@import 'typography';

table th {
  @include typo-caption($colorContrast: true);

  padding-right: 80px;

  vertical-align: top;
  text-align: left;
}

.PreviewBlock--white {
  background-color: white;
  color: black;
}

.PreviewBlock--black {
  background-color: black;
  color: white;
}

.PreviewBlock--white,
.PreviewBlock--black,
.PreviewBlock--img-1,
.PreviewBlock--img-2 {
  width: 360px;
  height: 272px;

  padding: 16px;
  box-sizing: border-box;
}

.PreviewBlock--img-1 {
  background-image: url(images/img-1.png);
  color: white;
}

.PreviewBlock--img-2 {
  background-image: url(images/img-2.png);
  color: white;
}
