@import "../styleguide_demo_bp";
@import 'typography';

table th {
  @include typo-caption($colorContrast: true);

  padding-right: 80px;

  vertical-align: top;
  text-align: left;
}

.preview-block-white {
  background-color: white;
  color: black;
}

.preview-block-black {
  background-color: black;
  color: white;
}

.preview-block-white, .preview-block-black, .preview-block-img-1, .preview-block-img-2 {
  width: 360px;
  height: 272px;

  box-sizing: border-box;
}

.preview-block-img-1 {
  background-image: url(images/img-1.png);
  color: white;
}

.preview-block-img-2 {
  background-image: url(images/img-2.png);
  color: white;
}
