# build output
dist/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
lib/components/.template
test/material-design-lite.css
coverage
build
css
examples/react
docsite/public/css/mdl.css
examples/lit/dist/style.css
examples/lit/types