[submodule "third_party/material-color-utilities"]
	path = third_party/material-color-utilities
	url = https://github.com/rodydavis/material-color-utilities
[submodule "third_party/postcss-color-hct"]
	path = third_party/postcss-color-hct
	url = https://github.com/rodydavis/postcss-color-hct
[submodule "third_party/material-theme-control"]
	path = third_party/material-theme-control
	url = https://github.com/rodydavis/material-theme-control
[submodule "third_party/web"]
	path = third_party/web
	url = https://github.com/material-components/material-web
[submodule "third_party/material-tokens"]
	path = third_party/material-tokens
	url = https://github.com/material-foundation/material-tokens
[submodule "third_party/tokens"]
	path = third_party/tokens
	url = https://github.com/material-foundation/material-tokens
