
@import "../variables";

.mdl-chip {
    height: $chip-height;
    font-family: $preferred_font;
    line-height: $chip-height;
    padding: 0 12px;
    border-radius: $chip-height / 2;
    background-color: $chip-bg-color;
    display: inline-block;
    color: $text-color-primary;
    margin: 2px 0;
    font-size: 0;
    
    &.mdl-chip--deletable {
        padding-right: 4px;
    }
    
    &.mdl-chip--contact {
        padding-left: 0;
    }

    .mdl-chip__text {
        font-size: $chip-font-size;
        vertical-align: middle;
        display: inline-block;
    }

    .mdl-chip__action {
        height: 24px;
        width: 24px;
        background: transparent;
        opacity: 0.54;
        display: inline-block;
        cursor: pointer;
        text-align: center;
        vertical-align: middle;
        padding: 0;
        margin: 0;
        margin-left: 4px;
        font-size: $chip-font-size;

        //a
        text-decoration: none;
        color: $text-color-primary;

        //button
        border: none;
        outline: none;
        overflow: hidden;
    }
    
    .mdl-chip__contact {
        height: $chip-height;
        width: $chip-height;
        border-radius: $chip-height / 2;
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
        overflow: hidden;
    }
}