@import "../typography/typography";
@import "../colors";
@import "../shadow/shadow";

.wsk-dropdown-menu {
  list-style   : none;
  background   : $default-dropdown-bg-color;
  border       : none;
  border-radius: 2px;
  display      : inline-block;
  min-width    : 124px;
  position     : relative;
  overflow     : hidden;
  padding      : 0;
  @include shadow-z1();
  will-change: box-shadow, transform;
  transition: box-shadow 0.2s ease-out;
}

.wsk-dropdown-menu .wsk-item {
  display: block;
  width: 100%;
}

/** TODO: DropdownMenu attached to other elements. */
