@import "../typography/typography";

$default-btn-bg-color: #fff;
$default-btn-text-color: #000;
$default-btn-outline-color: #ccc;
$default-btn-hover-bg-color: #eaeaea;
$colored-btn-bg-color: #4a90e2;
$colored-btn-text-color: #fff;
$colored-btn-hover-bg-color: #3367d6;
$ripple-bg-color: #111;
$disabled-btn-bg-color: #eaeaea;
$disabled-btn-text-color: #a8a8a8;

.paper-button {
  background   : $default-btn-bg-color;
  border       : none;
  border-radius: 2px;
  color        : $default-btn-text-color;
  display      : block;
  min-width    : 124px;
  outline-color: $default-btn-outline-color;
  padding      : 0.8em 1.6em;
  position     : relative;
  @include typo-button();
  overflow     : hidden;
}
.colored {
  background: $colored-btn-bg-color;
  color     : $colored-btn-text-color;
}
.ripple {
  -webkit-transform: translate(-50%, -50%);
  background       : $ripple-bg-color;
  border-radius    : 50%;
  height           : 50px;
  left             : 0;
  opacity          : 0;
  pointer-events   : none;
  position         : absolute;
  top              : 0;
  transform        : translate(-50%, -50%);
  width            : 50px;
}
.ripple.animate {
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.0, 0.0, 0.2, 1), opacity 0.6s cubic-bezier(0.0, 0.0, 0.2, 1);
  transition        : transform 0.6s cubic-bezier(0.0, 0.0, 0.2, 1), opacity 0.6s cubic-bezier(0.0, 0.0, 0.2, 1);
}
.paper-button.colored.ripple {
  background: #fff;
}
.paper-button[disabled] {
  background-color: $disabled-btn-bg-color !important;
  color           : $disabled-btn-text-color !important;
  cursor          : auto;
}
.paper-button:hover {
  background-color: $default-btn-hover-bg-color !important;
}
.colored:hover {
  background-color: $colored-btn-hover-bg-color !important;
}
