@import "../typography";

.paper-button {
        font-family: $font-family;
        background: $color-accent;
        color: #000;
        border-radius: 2px;
        border: none;
        padding: 0.8em 1.6em;
        overflow: hidden;
        position: relative;
        display: block;
	outline-color: $outline-color;
	text-transform: uppercase;
	font-size: 0.8em;
	min-width: 124px;
}

.colored {
  background: #4A90E2;
  color: #FFF;
}

.ripple {
        width: 50px;
        height: 50px;
        background: #111;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        border-radius: 50%;
        pointer-events: none;

        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

}

.ripple.animate {
        -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.0, 0.0, 0.2, 1),
                        opacity 0.6s cubic-bezier(0.0, 0.0, 0.2, 1);
        transition: transform 0.6s cubic-bezier(0.0, 0.0, 0.2, 1),
                        opacity 0.6s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.paper-button.colored.ripple {
        background: #FFF;
}

.paper-button[disabled] {
    background-color: #EAEAEA !important;
    color: #A8A8A8 !important;
    cursor: auto;
}

.paper-button:hover{
  background-color: #EAEAEA !important;
}

.colored:hover{
  background-color: #3367d6 !important;
}