@import "../colors";
@import "../animation/animation";
@import "../ripple/ripple";

$checkbox-label-height: 24px;
$checkbox-button-size: 16px;
$checkbox-inner-margin: 2px;
$checkbox-padding: 8px;
$checkbox-top-offset:
  ($checkbox-label-height - $checkbox-button-size - $checkbox-inner-margin) / 2;
$checkbox-ripple-size: $checkbox-label-height * 1.5;

@function svg-tick() {
    // URL-Encoded tick.svg
    @return url('data:image/svg+xml;charset=utf-8,' +
        '%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%0A%20%20%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%0A%20%20%20xmlns%3Acc%3D%22http%3A%2F%2Fcreativecommons.org%2Fns%23%22%0A%20%20%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%0A%20%20%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0A%20%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0A%20%20%20version%3D%221.1%22%0A%20%20%20viewBox%3D%220%200%201%201%22%0A%20%20%20preserveAspectRatio%3D%22xMinYMin%20meet%22%3E%0A%20%20%3Cpath%0A%20%20%20%20%20d%3D%22M%200.04038059%2C0.6267767%200.14644661%2C0.52071068%200.42928932%2C0.80355339%200.3232233%2C0.90961941%20z%20M%200.21715729%2C0.80355339%200.85355339%2C0.16715729%200.95961941%2C0.2732233%200.3232233%2C0.90961941%20z%22%0A%20%20%20%20%20id%3D%22rect3780%22%0A%20%20%20%20%20style%3D%22fill%3A%23ffffff%3Bfill-opacity%3A1%3Bstroke%3Anone%22%20%2F%3E%0A%3C%2Fsvg%3E%0A');
}

// ToDo: Not sure about this one - I don't know what it should do. Could see no difference...
@function svg-tickmask() {
    // URL-Encoded tickmask.svg#mask
    @return url('data:image/svg+xml;charset=utf-8,' +
        '%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%0A%20%20%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%0A%20%20%20xmlns%3Acc%3D%22http%3A%2F%2Fcreativecommons.org%2Fns%23%22%0A%20%20%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%0A%20%20%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0A%20%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0A%20%20%20version%3D%221.1%22%0A%20%20%20viewBox%3D%220%200%201%201%22%0A%20%20%20preserveAspectRatio%3D%22xMinYMin%20meet%22%3E%0A%20%20%20%20%3Cmask%20id%3D%22mask%22%20maskUnits%3D%22objectBoundingBox%22%20maskContentUnits%3D%22objectBoundingBox%22%3E%0A%20%20%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20%20%20d%3D%22M%200%2C0%200%2C1%201%2C1%201%2C0%200%2C0%20z%20M%200.8534375%2C0.1671875%200.9596875%2C0.273125%200.429375%2C0.8034375%200.323125%2C0.9096875%200.2171875%2C0.8034375%200.0403125%2C0.626875%200.1465625%2C0.520625%200.323125%2C0.6975%200.8534375%2C0.1671875%20z%22%0A%20%20%20%20%20%20%20%20%20style%3D%22fill%3A%23ffffff%3Bfill-opacity%3A1%3Bstroke%3Anone%22%20%2F%3E%0A%20%20%20%20%3C%2Fmask%3E%0A%3C%2Fsvg%3E%0A');
}

.wsk-checkbox {
  position: relative;

  z-index: 1;

  vertical-align: middle;

  display: inline-block;

  box-sizing: border-box;
  width: 100%;
  height: $checkbox-label-height;
  margin: 12px 0;
  padding: 0;

  &.is-upgraded {
    padding-left: $checkbox-button-size + $checkbox-padding;
  }
}

.wsk-checkbox__input {
  line-height: $checkbox-label-height;

  .wsk-checkbox.is-upgraded & {
    // Hide input element, while still making it respond to focus.
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
  }
}

.wsk-checkbox__box-outline {
  position: absolute;
  top: $checkbox-top-offset;
  left: 0;

  display: inline-block;

  box-sizing: border-box;
  width: $checkbox-button-size;
  height: $checkbox-button-size;
  margin: 0;

  cursor: pointer;
  overflow: hidden;

  border: 2px solid $checkbox-off-color;
  border-radius: 2px;

  z-index: 2;

  .wsk-checkbox.is-checked & {
    border: 2px solid $checkbox-color;
  }

  .wsk-checkbox.is-disabled & {
    border: 2px solid $checkbox-disabled-color;
    cursor: auto;
  }
}

.wsk-checkbox__focus-helper {
  position: absolute;
  top: $checkbox-top-offset;
  left: 0;

  display: inline-block;

  box-sizing: border-box;
  width: $checkbox-button-size;
  height: $checkbox-button-size;
  border-radius: 50%;

  background-color: transparent;

  .wsk-checkbox.is-focused & {
    box-shadow: 0 0 0px ($checkbox-button-size / 2) rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
  }

  .wsk-checkbox.is-focused.is-checked & {
    box-shadow: 0 0 0px ($checkbox-button-size / 2) $checkbox-focus-color;
    background-color: $checkbox-focus-color;
  }
}

.wsk-checkbox__tick-outline {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  mask: svg-tickmask();

  background: transparent;
  @include material-animation-default(0.28s);
  transition-property: background;

  .wsk-checkbox.is-checked & {
    background: $checkbox-color svg-tick();
  }

  .wsk-checkbox.is-checked.is-disabled & {
    background: $checkbox-disabled-color svg-tick();;
  }
}

.wsk-checkbox__label {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  line-height: $checkbox-label-height;
  margin: 0;

  .wsk-checkbox.is-disabled & {
    color: $checkbox-disabled-color;
    cursor: auto;
  }
}

.wsk-checkbox__ripple-container {
  position: absolute;
  z-index: 2;
  top: -(($checkbox-ripple-size - $checkbox-label-height) / 2);
  left: -(($checkbox-ripple-size - $checkbox-button-size) / 2);

  box-sizing: border-box;
  width: $checkbox-ripple-size;
  height: $checkbox-ripple-size;
  border-radius: 50%;

  cursor: pointer;

  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);

  & .wsk-ripple {
    background: $checkbox-color;
  }

  .wsk-checkbox.is-disabled & {
    cursor: auto;
  }

  .wsk-checkbox.is-disabled & .wsk-ripple {
    background: transparent;
  }
}
