@import "../palette/palette";
@import "../animation/animation";

// Default Range Colors
$default-range-bg-color: rgba(0, 0, 0, 0.26);
$default-range-color: nth($primaryPalette, 6);

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: calc(100% - 40px);
  height: 2px;
  background: transparent;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  outline: 0;
  margin: 0 20px;
  padding: 0;
  color: $default-range-color;
}

// Some CSS magic to target only IE.
_:-ms-input-placeholder, :root input[type="range"] {
  -ms-appearance: none;
  // The thumb can't overflow the track or the rest of the control in IE, so we
  // need to make it tall enough to contain the largest version of the thumb.
  height: 32px;
  margin: 0;
}

// Since we need to specify a height of 32px in IE, we add a class here for a
// container that brings it back to a reasonable height.
.Slider-IEContainer {
  height: 18px;
  overflow: visible;
  border: none;
  margin: none;
  padding: none;
}

// Disable default focus on Firefox.
input[type=range]::-moz-focus-outer {
  border: 0;
}

// Disable tooltip on IE.
input[type=range]::-ms-tooltip {
  display: none;
}

// We use a set of divs behind the track to style it in all non-IE browsers.
// This one contains both the background and the slider.
.Slider-container {
  position: relative;
  background: none;
  display: flex;
  flex-direction: row;
  height: 18px;
}

.Slider-container > input[type="range"] {
  align-self: center;
}

// This one sets up a flex box for the styled upper and lower portions of the
// slider track.
.Slider-backgroundFlex {
  background: transparent;
  position: absolute;
  height: 2px;
  width: calc(100% - 52px);
  top: 50%;
  left: 0;
  margin: 0 26px;
  z-index: -1;
  display: flex;
  overflow: hidden;
  border: 0;
  padding: 0;
  transform: translate(0, -1px);
}

// This one styles the lower part of the slider track.
.Slider-backgroundLower {
  background: $default-range-color;
  flex: 0;
  position: relative;
  border: 0;
  padding: 0;
}

// This one styles the upper part of the slider track.
.Slider-backgroundUpper {
  background: $default-range-bg-color;
  flex: 0;
  position: relative;
  border: 0;
  padding: 0;
  transition: left 0.18s $animation-curve-default
}

// Some CSS magic to disable track animations in Firefox, since the thumb
// doesn't animate.
_:-moz-tree-row(hover), .Slider-backgroundUpper {
  transition: none;
}



/* **** Tracks **** */

input[type="range"]::-webkit-slider-runnable-track {
  background: transparent;
}

input[type="range"]::-moz-range-track {
  background: transparent;
  border: none;
}

input[type="range"]::-ms-track {
  background: none;
  color: transparent;
  height: 2px;
  width: 100%;
  border: none;
}

input[type=range]::-ms-fill-lower {
  padding: 0;
  // Margin on -ms-track doesn't work right, so we use gradients on the fills.
  background: linear-gradient(to right,
                              transparent,
                              transparent 16px,
                              $default-range-color 16px,
                              $default-range-color 0);
}

input[type=range]::-ms-fill-upper {
  padding: 0;
  // Margin on -ms-track doesn't work right, so we use gradients on the fills.
  background: linear-gradient(to left,
                              transparent,
                              transparent 16px,
                              $default-range-bg-color 16px,
                              $default-range-bg-color 0);
}



/* **** Thumbs **** */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  border-radius: 50%;
  background: $default-range-color;
  border: none;
  transition: transform 0.18s $animation-curve-default,
              border 0.18s $animation-curve-default,
              box-shadow 0.18s $animation-curve-default,
              background 0.28s $animation-curve-default;
}

input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  border-radius: 50%;
  background-image: none;
  background: $default-range-color;
  border: none;
  // -moz-range-thumb doesn't currently support transitions.
}

input[type="range"]:focus:not(:active)::-webkit-slider-thumb {
  box-shadow: 0 0 0 10px rgba($default-range-color, 0.26);
}

input[type="range"]:focus:not(:active)::-moz-range-thumb {
  box-shadow: 0 0 0 10px rgba($default-range-color, 0.26);
}

input[type="range"]:active::-webkit-slider-thumb {
  background-image: none;
  background: $default-range-color;
  transform: scale(1.5);
}

input[type="range"]:active::-moz-range-thumb {
  background-image: none;
  background: $default-range-color;
  transform: scale(1.5);
}

input[type="range"]::-ms-thumb {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background: $default-range-color;
  transform: scale(0.375);
  // -ms-thumb doesn't currently support transitions, but leaving this here in
  // case support ever gets added.
  transition: transform 0.18s $animation-curve-default,
              background 0.28s $animation-curve-default;
}

input[type="range"]:focus:not(:active)::-ms-thumb {
  background: radial-gradient(circle closest-side,
                              $default-range-color 0%,
                              $default-range-color 37.5%,
                              rgba($default-range-color, 0.26) 37.5%,
                              rgba($default-range-color, 0.26) 100%);
  transform: scale(1);
}

input[type="range"]:active::-ms-thumb {
  background: $default-range-color;
  transform: scale(0.5625);
}


/* **** 0-value **** */

input[type="range"].zero::-webkit-slider-thumb {
  border: 2px solid $default-range-bg-color;
  background: transparent;
}

input[type="range"].zero::-moz-range-thumb {
  border: 2px solid $default-range-bg-color;
  background: transparent;
}

input[type="range"].zero ~ .Slider-backgroundFlex > .Slider-backgroundUpper {
  left: 6px;
}

input[type="range"].zero:focus:not(:active)::-webkit-slider-thumb {
  border: 1.8px solid $default-range-bg-color;
  transform: scale(1.33);
  box-shadow: none;
}

input[type="range"].zero:focus:not(:active)::-moz-range-thumb {
  border: 1.8px solid $default-range-bg-color;
  transform: scale(1.33);
  box-shadow: none;
}

input[type="range"].zero:focus:not(:active) ~ .Slider-backgroundFlex > .Slider-backgroundUpper {
  left: 8px;
}

input[type="range"].zero:active::-webkit-slider-thumb {
  border: 1.5px solid $default-range-bg-color;
  transform: scale(1.5);
}

input[type="range"].zero:active ~ .Slider-backgroundFlex > .Slider-backgroundUpper {
  left: 9px;
}

input[type="range"].zero:active::-moz-range-thumb {
  border: 1.5px solid $default-range-bg-color;
  transform: scale(1.5);
}

input[type="range"].zero::-ms-thumb {
  background: radial-gradient(circle closest-side,
                              transparent 0%,
                              transparent 66.67%,
                              $default-range-bg-color 66.67%,
                              $default-range-bg-color 100%);
}

input[type="range"].zero:focus:not(:active)::-ms-thumb {
  transform: scale(0.5);
  background: radial-gradient(circle closest-side,
                              transparent 0%,
                              transparent 75%,
                              $default-range-bg-color 75%,
                              $default-range-bg-color 100%);
}

input[type="range"].zero:active::-ms-thumb {
  transform: scale(0.5625);
  background: radial-gradient(circle closest-side,
                              transparent 0%,
                              transparent 77.78%,
                              $default-range-bg-color 77.78%,
                              $default-range-bg-color 100%);
}

input[type=range].zero::-ms-fill-lower {
  background: transparent;
}

input[type=range].zero::-ms-fill-upper {
  margin-left: 6px;
}

input[type=range].zero:focus:not(:active)::-ms-fill-upper {
  margin-left: 8px;
}

input[type=range].zero:active::-ms-fill-upper {
  margin-left: 9px;
}


/* **** Disabled **** */

input[type="range"]:disabled:focus::-webkit-slider-thumb,
input[type="range"]:disabled:active::-webkit-slider-thumb,
input[type="range"]:disabled::-webkit-slider-thumb {
  transform: scale(0.667);
  background: $default-range-bg-color;
}

input[type="range"]:disabled:focus::-moz-range-thumb,
input[type="range"]:disabled:active::-moz-range-thumb,
input[type="range"]:disabled::-moz-range-thumb {
  transform: scale(0.667);
  background: $default-range-bg-color;
}

input[type="range"]:disabled ~ .Slider-backgroundFlex > .Slider-backgroundLower {
  background-color: $default-range-bg-color;
  left: -6px;
}

input[type="range"]:disabled ~ .Slider-backgroundFlex > .Slider-backgroundUpper {
  left: 6px;
}

input[type="range"].zero:disabled:focus::-webkit-slider-thumb,
input[type="range"].zero:disabled:active::-webkit-slider-thumb,
input[type="range"].zero:disabled::-webkit-slider-thumb {
  border: 3px solid $default-range-bg-color;
  background: transparent;
  transform: scale(0.667);
}

input[type="range"].zero:disabled:focus::-moz-range-thumb,
input[type="range"].zero:disabled:active::-moz-range-thumb,
input[type="range"].zero:disabled::-moz-range-thumb {
  border: 3px solid $default-range-bg-color;
  background: transparent;
  transform: scale(0.667);
}

input[type="range"].zero:disabled:active ~ .Slider-backgroundFlex > .Slider-backgroundUpper {
  left: 6px;
}

input[type="range"]:disabled:focus::-ms-thumb,
input[type="range"]:disabled:active::-ms-thumb,
input[type="range"]:disabled::-ms-thumb {
  transform: scale(0.25);
  background: $default-range-bg-color;
}

input[type="range"].zero:disabled:focus::-ms-thumb,
input[type="range"].zero:disabled:active::-ms-thumb,
input[type="range"].zero:disabled::-ms-thumb {
  transform: scale(0.25);
  background: radial-gradient(circle closest-side,
                              transparent 0%,
                              transparent 50%,
                              $default-range-bg-color 50%,
                              $default-range-bg-color 100%);
}

input[type=range]:disabled::-ms-fill-lower {
  margin-right: 6px;
  background: linear-gradient(to right,
                              transparent,
                              transparent 25px,
                              $default-range-bg-color 25px,
                              $default-range-bg-color 0);
}

input[type=range]:disabled::-ms-fill-upper {
  margin-left: 6px;
}

input[type=range].zero:disabled:active::-ms-fill-upper {
  margin-left: 6px;
}
