.mdl-components {
  display: flex;
}

.mdl-components-index {
  box-sizing: border-box;
  position: relative;
  padding-top: 64px;
}

.mdl-components-index-text {
  max-width: 600px;
}

.mdl-components-img {
  position: absolute;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  left: 5%;
  height: 90%;
  width: 90%;
  max-height: 600px;
  background: url('../assets/compindex_2x.png') no-repeat top center / contain;
}

.mdl-components-text {
  margin: 0;
  padding: 0;
}

mdl-components-dl {
  padding: 0.5em;
  width: 80%;
}

mdl-components-dt {
  float: left;
  clear: left;
  width: 150px;
  font-weight: bold;
}

mdl-components-dd {
  margin: 0 0 0 150px;
  padding: 0 0 0.5em 0;
}

.mdl-components .mdl-components__nav {
  display: inline-block;
  background: #fff;
  width: 200px;
  box-sizing: border-box;
  padding: 24px 0;
  flex-shrink: 0;
  z-index: 1;
}

.mdl-components .mdl-components__pages {
  display: inline-block;
  flex-grow: 1;
}

.mdl-components .mdl-components__link {
  margin: 16px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.66);
  position: relative;
  padding-left: 72px;
  min-height: 48px;
  display: table;
  line-height: 48px;
}

.mdl-components .mdl-components__link.is-active {
  font-weight: bold;
  color: #c2185b;
}

.content {
  background: #fafafa;
}

.mdl-components .mdl-components__page {
  display: none;
  min-height: 1000px;
}

.mdl-components .docs-toc {
  margin-bottom: 60px;
}

.mdl-components .component-title {
  margin-bottom: 60px;
  margin-top: 30px;
}

.mdl-components .component-title h3 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 80px;
  text-transform: uppercase;
}

.mdl-components .mdl-components__page.is-active {
  display: block;
}

.mdl-components__link-image {
  display: inline-block;
  margin: 0 10px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ddd;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 48px;

  border-radius: 50%;
  height: 46px;
  width: 46px;
}

.mdl-components__link.is-active .mdl-components__link-image {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
      0 3px 3px -2px rgba(0, 0, 0, 0.2),
      0 1px 8px 0 rgba(0, 0, 0, 0.12);
}
.docs-readme {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}

.docs-readme .language-markup {
  width: 100%;
}
@media (max-width: 850px) {
  .docs-layout-content {
    position: relative;
    height: 100%;
    overflow: hidden !important;
  }

  .mdl-components .mdl-components__nav {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    flex-wrap: nowrap;
    width: 100%;
    height: 80px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 8px 0;
    z-index: 100;
    white-space: nowrap;
  }

  .mdl-components__nav .mdl-components__link {
    display: inline-block;
    height: 100%;
    margin: 0;
    width: auto;
    margin-right: 8px;
    padding-left: 64px;
  }

  .content {
    padding-top: 64px !important;
    padding-left: 0 !important;
    overflow-y: auto;
    height: 100%;
  }
}

#badges-section .snippet-demo .mdl-badge {
  color: rgba(0, 0, 0, 0.24);
}
