body {
  overflow: scroll !important;
}
#wheel {
  position: relative;
}
#wheel svg {
  width: 100%;
  height: auto;
}
#wheel .mdl-gen-download {
  position: absolute;
  left: 50%;
  top: 50%;
}
#wheel .mdl-gen-download .mdl-button {
  transform: translate(-50%, -50%);
}
#wheel g[data-color] {
  opacity: 1;
  transition: opacity 0.2s cubic-bezier(0.4, 0.0, 1, 1);
}
#wheel .selector {
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.4, 0.0, 1, 1);
  fill: #BDBDBD;
}
#wheel .selected .selector {
  opacity: 1;
}
#wheel .label {
  text-anchor: middle;
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.4, 0.0, 1, 1);
  fill: white;
  font-size: 24px;
}
#wheel .selected--1 .label--1,
#wheel .selected--2 .label--2 {
  opacity: 1;
}
#wheel.hide-nonaccents g[data-color="Blue Grey"]:not(.selected),
#wheel.hide-nonaccents g[data-color="Brown"]:not(.selected),
#wheel.hide-nonaccents g[data-color="Grey"]:not(.selected) {
  opacity: 0;
}
#wheel .selected {
  opacity: 1 !important;
}
.mdl-gen__preview {
  position: relative;
  height: 350px;
}
.mdl-gen__preview .mdl-layout__container {
  height: auto;
}
.mdl-gen__preview .mdl-layout__content {
  padding: 32px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.mdl-gen__preview .mdl-layout__content .mdl-button {
  margin: 0;
}
.mdl-gen__preview .mdl-layout__content .mdl-button--fab {
  align-self: flex-end;
}
.mdl-gen__preview .mdl-layout__content h3 {
  margin-top: 0;
}
.mdl-gen__panel {
  padding: 32px;
}
.mdl-gen__panel--right {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.mdl-gen__desc strong,
.mdl-gen__desc p {
  display: block;
  margin-bottom: 32px;
  color: rgba(0, 0, 0, 0.54);
}
