body {
  overflow: scroll !important;
}
#wheel {
  position: relative;
}
#wheel svg {
  width: 100%;
  height: auto;
}
#wheel .mdl-gen-download {
  position: absolute;
  left: 50%;
  top: 50%;
}
#wheel g[data-color] {
  opacity: 1;
  transition: opacity 0.2s cubic-bezier(0.4, 0.0, 1, 1);
}
#wheel .selector {
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.4, 0.0, 1, 1);
  fill: #BDBDBD;
}
#wheel .selected .selector {
  opacity: 1;
}
#wheel .label {
  text-anchor: middle;
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.4, 0.0, 1, 1);
  fill: white;
  font-size: 24px;
}
#wheel .selected--1 .label--1,
#wheel .selected--2 .label--2 {
  opacity: 1;
}
#wheel.hide-nonaccents g[data-color="Blue Grey"]:not(.selected),
#wheel.hide-nonaccents g[data-color="Brown"]:not(.selected),
#wheel.hide-nonaccents g[data-color="Grey"]:not(.selected) {
  opacity: 0;
}
#wheel .selected {
  opacity: 1 !important;
}
