html > body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
}
.docs-layout code,
.docs-layout pre {
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
  font-size: 85%;
  padding: 0.2em;
}
.docs-layout pre {
  padding: 16px;
}
.docs-layout code:before,
.docs-layout code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}
.docs-layout pre > code:before,
.docs-layout pre > code:after {
  letter-spacing: 0;
  content: "";
}
.docs-layout pre > code {
  background-color: rgba(0,0,0,0);
  padding: 0px;
  font-size: 100%;
}
.docs-layout-header {
  height: 33vh;
  flex-shrink: 0;
  background-size: auto 30%;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: none !important;
  align-items: flex-start;
  padding: 40px;
  flex-shrink: 0;
  position: relative;
}
.docs-layout-header .mdl-textfield {
  padding-top: 0;
}
.docs-layout-header > .mdl-layout__header-row {
  padding: 40px;
  align-items: flex-start;
  height: auto;
}
.docs-layout-header > .docs-navigation {
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
}
.docs-layout-title {
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.5em;
  font-size: 1rem;
}
.docs-layout-title a {
  font-weight: inherit;
}
.about .docs-layout-header {
  background-color: #37474f;
  background-image: url('logo.svg');
}
.docs-layout-header .mdl-textfield .mdl-button {
  right: 0;
}
.docs-layout-header .mdl-textfield .mdl-textfield__expandable-holder {
  margin-right: 32px;
}
.docs-layout-header .mdl-textfield label:after {
  background-color: rgba(255, 255, 255, 0.12);
}
body.about .docs-layout-header {
  background: url('logo.svg'), url('header.jpg');
  background-size: auto 30%, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center center, center center;
}
@media all and (-webkit-min-device-pixel-ratio: 2) {
  .about .docs-layout-header {
    background: url('logo.svg'), url('header_2x.jpg');
    background-size: auto 30%, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center center, center center;
  }
}
body:not(.about) .docs-layout-header {
  background-size: auto 30%;
  background-repeat: no-repeat;
  background-position: center center;
}
.templates .docs-layout-header {
  background-color: #263238;
  background-image: url('templates.svg');
}
.components .docs-layout-header {
  background-color: #C2185B;
  background-image: url('components.svg');
}
.styles .docs-layout-header {
  background-color: #8E24AA;
  background-image: url('styles.svg');
}
.customize .docs-layout-header {
  background-color: #1A237E;
  background-image: url('customize.svg');
}
body:not(.about) .docs-layout-header {
  box-sizing: border-box;
  height: 144px;
  padding-top: 0;
  background-position: 40px 32px;
}
body:not(.about) .docs-layout-title {
  display: none;
}
.docs-navigation {
  box-shadow: none !important;
  border: 0 !important;
  padding: 0 16px;
  width: 100%;
  height: 64px;
  flex-shrink: 0;
  padding-left: 16px !important;
}
.docs-navigation span.mdl-icon {
  font-size: 24px;
  margin-right: 8px;
}
.docs-navigation a {
  display: flex;
}
.docs-navigation a, section.download {
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 64px;
  padding: 0 24px;
  color: white;
  box-sizing: border-box;
  border-bottom: 3px solid transparent;
}
.docs-navigation a:hover {
  background-color: inherit;
}
.docs-navigation a:not(.download) {
  opacity: 0.65;
}
.docs-navigation a.download > span {
  opacity: 0.65;
}
.docs-navigation .mdl-layout-spacer ~ a {
  text-transform: none;
}
.docs-navigation .mdl-layout-spacer ~ a:hover {
  background-color: transparent;
}
.docs-navigation a.download {
  text-decoration: none;
}
.docs-navigation a.download > span {
  color: inherit;
  text-decoration: inherit;
}
.docs-navigation a.download button {
  margin-left: 8px;
}
.docs-navigation a.download .material-icons {
  color: black;
  opacity: 0.5;
}
.about .docs-navigation .about,
.templates .docs-navigation .templates,
.components .docs-navigation .components,
.styles .docs-navigation .styles,
.customize .docs-navigation .customize {
  opacity: 1;
  border-bottom-color: #18FFFF;
}
.docs-layout-content {
  overflow: visible;
}
.docs-layout-content > section.download {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.docs-layout-content > section.download > a {
  font-weight: 300;
  text-transform: uppercase;
}
.docs-layout-content > footer {
  height: 120px;
}
.docs-footer {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.docs-footer ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.docs-footer ul > a {
  margin: 0 8px;
  font-weight: 400;
  font-size: 12px;
}

.about-panel {
  box-sizing: border-box;
  width: 100%;
  flex-grow: 1;
}
.about-panel--text {
  padding: 100px;
}
.about-panel--text p {
  width: 640px;
  margin: 0 auto;
  line-height: 2em;
}
.about-panel--text dl {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.about-panel--text dl dt {
  text-align: right;
  vertical-align: top;
  width: 160px;
  margin-right: 24px;
}
.about-panel--text dl dd {
  text-align: left;
  vertical-align: top;
  width: 600px;
  margin: 0;
  margin-left: 24px;
}
.about-panel--components,
.about-panel--styles,
.about-panel--customize,
.about-panel--templates {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 40px;
  color: white;
  text-transform: uppercase;
  font-size: 1.6rem;
  width: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 50%;
  cursor: pointer;
}
.about-panel--templates {
  background-color: #B3E0E1;
  background-image: url(templates.svg);
}
.about-panel--templates:hover {
  background-image: url(templates_mo.svg);
}
.about-panel--components {
  background-color: #E90974;
  background-image: url(components.svg);
}
.about-panel--components:hover {
  background-image: url(components_mo.svg);
}
.about-panel--styles {
  background-color: #8F4099;
  background-image: url(styles.svg);
}
.about-panel--styles:hover {
  background-image: url(styles_mo.svg);
}
.about-panel--customize {
  height: 400px;
  background-color: #191E80;
  background-image: url(customize.svg);
}
.about-panel--customize:hover {
  background-image: url(customize_mo.svg);
}

.templates .content {
  max-width: 1280px;
}
.templates .docs-layout-content .content {
  padding: 72px 0;
}
.template {
  width: 100%;
  margin-bottom: 72px;
  align-items: flex-start;
}
.template > .template__meta {
  align-content: flex-start;
}
.template > .template__meta.template__meta > * {
  margin-bottom: 24px;
}
.template > .template__meta > *:last-child {
  margin-bottom: 0px;
}
.template > .template__meta a {
  color:inherit;
}
.template > .template__preview {
  height: auto;
}
.docs-layout-content p {
  font-size: 15px;
  margin-bottom: 32px;

  /* Override */
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.docs-layout-content ol li {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.docs-layout-content h1 {
  color: #c2185b;
  font-size: 2.5em;
  margin: .67em 0;
}


.docs-layout-content h2 {
  padding-top: 48px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 30px;
  color: #c2185b;
}

.docs-layout-content a {
  @extend mdl-color-text--cyan-600;
  text-decoration: none;
}

.docs-layout-content .mdl-download {
  color: #000;
  font-weight: normal;
}

.docs-layout-title a,
button a {
  color: inherit;
  text-decoration: none;
}

.component-description {
  max-width: 720px;
  padding: 40px;
}
.component-description .mdl-button:first-of-type {
  margin-top: 8px;
}
.social-btn {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}
.social-btn__twitter {
  background-image: url('https://www.gstatic.com/images/icons/material/system/1x/post_twitter_white_24dp.png');
}
.social-btn__blogger {
  background-image: url('https://www.gstatic.com/images/icons/material/system/1x/post_blogger_white_24dp.png');
}
.social-btn__gplus {
  background-image: url('https://www.gstatic.com/images/icons/material/system/1x/post_gplus_white_24dp.png');
}
@media all and (-webkit-min-device-pixel-ratio: 2) {
  .social-btn__twitter {
    background-image: url('https://www.gstatic.com/images/icons/material/system/2x/post_twitter_white_24dp.png');
  }
  .social-btn__blogger {
    background-image: url('https://www.gstatic.com/images/icons/material/system/2x/post_blogger_white_24dp.png');
  }
  .social-btn__gplus {
    background-image: url('https://www.gstatic.com/images/icons/material/system/2x/post_gplus_white_24dp.png');
  }
}
.subpageheader {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  flex-shrink: 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}
.about .subpageheader {
  display: none;
}
