html > body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
}
.mdl-layout__header {
  height: 50vh;
  align-items: flex-start;
  padding: 32px;
  flex-shrink: 0;
}
.mdl-layout-title {
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.5em;
  font-size: 1rem;
}
.mdl-layout-title a {
  font-weight: inherit;
}
.mdl-layout__header {
  background-size: auto 30%;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: none !important;
}
.about .mdl-layout__header {
  background-color: #37474f;
  background-image: url('logo.svg');
}
.about .mdl-navigation {
  background-color: #37474f;
}
.templates .mdl-layout__header {
  background-color: #00ACC2;
  background-image: url('templates.svg');
}
.templates .mdl-navigation {
  background-color: #00ACC2;
}
.components .mdl-layout__header {
  background-color: #E90974;
  background-image: url('components.svg');
}
.components .mdl-navigation {
  background-color: #E90974;
}
.styles .mdl-layout__header {
  background-color: #8F4099;
  background-image: url('styles.svg');
}
.styles .mdl-navigation {
  background-color: #8F4099;
}
.customize .mdl-layout__header {
  background-color: #191E80;
  background-image: url('customize.svg');
}
.customize .mdl-navigation {
  background-color: #191E80;
}
.mdl-navigation {
  box-shadow: none !important;
  border: 0 !important;
  padding: 0;
  width: 100%;
  height: 64px;
  flex-shrink: 0;
}
.mdl-navigation a {
  font-weight: 300;
  line-height: 64px;
  padding: 0 24px;
  color: white;
  box-sizing: border-box;
  border-bottom: 3px solid transparent;
}
.mdl-navigation a:hover {
  background-color: inherit;
}
.mdl-navigation a:not(.download) {
  opacity: 0.65;
}
.mdl-navigation a.download {
  text-decoration: none;
  margin-right: 24px;
}
.mdl-navigation a.download button {
  margin-left: 8px;
}
.mdl-navigation a.download .mdl-icon {
  color: black;
  opacity: 0.5;
}
.about .mdl-navigation .about,
.templates .mdl-navigation .templates,
.components .mdl-navigation .components,
.styles .mdl-navigation .styles,
.customize .mdl-navigation .customize {
  opacity: 1;
  border-bottom-color: #18FFFF;
}
.mdl-layout__content {
  overflow: visible;
}
.mdl-layout__content > section.download {
  width: 100%;
  height: 6rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mdl-layout__content > section.download > a {
  font-weight: 300;
  text-transform: uppercase;
}
.mdl-layout__content > footer {
  height: 120px;
}
.mdl-mini-footer {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.mdl-mini-footer ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mdl-mini-footer ul > * {
  margin: 0 8px;
}

.about-panel {
  box-sizing: border-box;
  width: 100%;
  flex-grow: 1;
}
.about-panel--text {
  padding: 100px;
  margin: 0 auto;
  width: 100%;
  line-height: 2em;
}
.about-panel--text dl {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.about-panel--text dl dt {
  text-align: right;
  vertical-align: top;
  width: 33%;
  margin-right: 24px;
}
.about-panel--text dl dd {
  text-align: left;
  vertical-align: top;
  width: 66%;
  margin: 0;
  margin-left: 24px;
}
.about-panel--components,
.about-panel--styles,
.about-panel--customize,
.about-panel--templates {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 40px;
  color: white;
  text-transform: uppercase;
  font-size: 1.6rem;
  width: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 50%;
  cursor: pointer;
}
.about-panel--templates {
  background-color: #B3E0E1;
  background-image: url(templates.svg);
}
.about-panel--templates:hover {
  background-image: url(templates_mo.svg);
}
.about-panel--components {
  background-color: #E90974;
  background-image: url(components.svg);
}
.about-panel--components:hover {
  background-image: url(components_mo.svg);
}
.about-panel--styles {
  background-color: #8F4099;
  background-image: url(styles.svg);
}
.about-panel--styles:hover {
  background-image: url(styles_mo.svg);
}
.about-panel--customize {
  background-color: #191E80;
  background-image: url(customize.svg);
}
.about-panel--customize:hover {
  background-image: url(customize_mo.svg);
}

.templates .content {
  max-width: 1280px;
}
.templates .mdl-layout__content .content {
  padding: 72px 0;
}
.template {
  width: 100%;
  margin-bottom: 72px;
}
.template > .template__meta a {
  color:inherit;
}
.template > .template__preview {
  background-position: center center;
  background-size: cover;
  min-height: 30vh;
}
.template.template--product > .template__preview {
  background-image: url('template_product.jpg');
}
.template.template--general > .template__preview {
  background-image: url('template_general.jpg');
}


.mdl-layout__content p {
  font-size: 15px;
  margin-bottom: 32px;

  /* Override */
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.mdl-layout__content ol li {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.mdl-layout__content h1 {
  color: #c2185b;
  font-size: 2.5em;
  margin: .67em 0;
}


.mdl-layout__content h2 {
  padding-top: 48px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 30px;
  color: #c2185b;
}

.mdl-layout__content a {
  color: #c2185b;
  font-weight: bold;
  text-decoration: none;
}

.mdl-layout__content .mdl-download {
  color: #000;
  font-weight: normal;
}

.mdl-layout-title a,
button a {
  color: inherit;
  text-decoration: none;
}
