.dark-theme {
  color-scheme: dark;
  --md-sys-color-primary-rgb: var(--md-sys-color-primary-rgb-dark);
  --md-sys-color-on-primary-rgb: var(--md-sys-color-on-primary-rgb-dark);
  --md-sys-color-primary-container-rgb: var(
    --md-sys-color-primary-container-rgb-dark
  );
  --md-sys-color-on-primary-container-rgb: var(
    --md-sys-color-on-primary-container-rgb-dark
  );
  --md-sys-color-secondary-rgb: var(--md-sys-color-secondary-rgb-dark);
  --md-sys-color-on-secondary-rgb: var(--md-sys-color-on-secondary-rgb-dark);
  --md-sys-color-secondary-container-rgb: var(
    --md-sys-color-secondary-container-rgb-dark
  );
  --md-sys-color-on-secondary-container-rgb: var(
    --md-sys-color-on-secondary-container-rgb-dark
  );
  --md-sys-color-tertiary-rgb: var(--md-sys-color-tertiary-rgb-dark);
  --md-sys-color-on-tertiary-rgb: var(--md-sys-color-on-tertiary-rgb-dark);
  --md-sys-color-tertiary-container-rgb: var(
    --md-sys-color-tertiary-container-rgb-dark
  );
  --md-sys-color-on-tertiary-container-rgb: var(
    --md-sys-color-on-tertiary-container-rgb-dark
  );
  --md-sys-color-error-rgb: var(--md-sys-color-error-rgb-dark);
  --md-sys-color-on-error-rgb: var(--md-sys-color-on-error-rgb-dark);
  --md-sys-color-error-container-rgb: var(
    --md-sys-color-error-container-rgb-dark
  );
  --md-sys-color-on-error-container-rgb: var(
    --md-sys-color-on-error-container-rgb-dark
  );
  --md-sys-color-background-rgb: var(--md-sys-color-background-rgb-dark);
  --md-sys-color-on-background-rgb: var(--md-sys-color-on-background-rgb-dark);
  --md-sys-color-surface-rgb: var(--md-sys-color-surface-rgb-dark);
  --md-sys-color-on-surface-rgb: var(--md-sys-color-on-surface-rgb-dark);
  --md-sys-color-surface-variant-rgb: var(
    --md-sys-color-surface-variant-rgb-dark
  );
  --md-sys-color-on-surface-variant-rgb: var(
    --md-sys-color-on-surface-variant-rgb-dark
  );
  --md-sys-color-outline-rgb: var(--md-sys-color-outline-rgb-dark);
  --md-sys-color-shadow-rgb: var(--md-sys-color-shadow-rgb-dark);
  --md-sys-color-inverse-surface-rgb: var(
    --md-sys-color-inverse-surface-rgb-dark
  );
  --md-sys-color-inverse-on-surface-rgb: var(
    --md-sys-color-inverse-on-surface-rgb-dark
  );
  --md-sys-color-inverse-primary-rgb: var(
    --md-sys-color-inverse-primary-rgb-dark
  );
}
