.demo-container {
  width: 100%;
  float: left;
  margin: 0 40px 40px 0;
  border: 1px solid #888888;
  position: relative;
  height: 500px;
}

iframe {
  width: auto;
}

.mdl-layout__content {
  padding: 10px;
}
