@import "../palette/palette";
@import "../animation/animation";
@import "../ripple/ripple";

$circleSize: 40px;
$checkboxSize: 16px;

$borderColor: nth($palette-secondary, 8);
$checkboxColor: nth($palette-primary, 6);

.Checkbox {
  border: 2px solid $borderColor;
  color: #1d1d1d;
  cursor: pointer;
  height: $checkboxSize;
  outline: none;
  padding: 0;
  position:absolute;
  width: $checkboxSize;
  @include material-animation-default();
  z-index:1;
  box-sizing: border-box;
  pointer-events: none;
  top: ($circleSize - $checkboxSize) / 2;
  left: ($circleSize - $checkboxSize) / 2;
}

.Checkbox-label {
  cursor: pointer;
  font-size: 16px;
  display: block;
  overflow: hidden;
  //padding-top: ($circleSize / 2);
  padding-top: ($circleSize - $checkboxSize) / 2;
  padding-left: $circleSize + 6px;
  position: relative;
  min-height:$circleSize;
}

.Checkbox.Checkbox-isChecked {
  border-left: 2px solid $checkboxColor;
  border-bottom: 4px solid $checkboxColor;
  border-top: 1px solid rgba(0,0,0,0);
  border-right: 1px solid rgba(0,0,0,0);
  transform: rotate(-45deg) scaleY(0.5);
}

.Checkbox-rippleContainer {
  border-radius: 50%;
  display: block;
  height: $circleSize;
  left: 0px;
  position: absolute;
  top: 0px;
  width: $circleSize;
  z-index: 0;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}

.Checkbox-rippleContainer .wsk-ripple {
  background: $checkboxColor;
}

input[type='checkbox'].Checkbox {
   display: none;
}
