@import "../palette/palette";

$circleSize: 40px;
$checkboxSize: 16px;

$borderColor: nth($secondaryPalette, 8);
$checkboxColor: nth($primaryPalette, 6);
$checkedFocusColor: rgba($checkboxColor, 0.26);
$focusColor: rgba(nth($secondaryPalette, 6), 0.12);

.Checkbox {
  border: 2px solid $borderColor;
  color: #1d1d1d;
  cursor: pointer;
  height: $checkboxSize;
  outline: none;
  padding: 0;
  position:absolute;
  width: $checkboxSize;
  transition: all 0.3s ease-in-out;
  z-index:1;
  box-sizing: border-box;
  top: ($circleSize - $checkboxSize) / 2;
  left: ($circleSize - $checkboxSize) / 2;
}

.Checkbox-label {
  cursor: pointer;
  font-size: 12pt;
  display: block;
  overflow: hidden;
  //padding-top: ($circleSize / 2);
  padding-top: ($circleSize - $checkboxSize) / 2;
  padding-left: $circleSize + 6px;
  position: relative;
  min-height:$circleSize;
}

.Checkbox.Checkbox-isChecked {
  border-left: 2px solid $checkboxColor;
  border-bottom: 4px solid $checkboxColor;
  border-top: 1px solid rgba(0,0,0,0);
  border-right: 1px solid rgba(0,0,0,0);
  transform: rotate(-45deg) scaleY(0.5);
}

.Checkbox-focusCircle {
  background-color:$focusColor;
  border-radius: 50%;
  display: block;
  height: $circleSize;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: all 0.15s ease-in-out;
  width: $circleSize;
  z-index:0;
}

.Checkbox-focusCircle.Checkbox-isChecked {
  background-color: $checkedFocusColor;
}

.Checkbox-focusCircle.Checkbox-isFocused {
  opacity: 1;
}

input[type='checkbox'].Checkbox {
   display: none;
}