---
const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="mobile-web-app-capable" content="yes" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="color-scheme" content="dark light" />
    <meta name="theme-color" content="#6750A4" />
    <title>Material Design Lite - {frontmatter.title}</title>
    <link rel="stylesheet" href="/material-design-lite/css/mdl.css" />
  </head>
  <body class="light-theme">
    <style is:global>
      @import url(../styles/global.css);

      body {
        margin: 0;
        padding: 0;
        font-family: Roboto, sans-serif;
        width: 100%;
        height: 100vh;
        overflow: hidden;
      }
    </style>

    <slot />

    <script is:inline src="/material-design-lite/codeblocks.js"></script>
  </body>
</html>
