---
import Raw from "./Raw.astro";
import Navigation from "../components/Navigation.astro";

const { frontmatter } = Astro.props;
---

<Raw {frontmatter}>
  <Navigation title={frontmatter.title} tab={frontmatter.tab}>
    <section>
      <slot />
    </section>
  </Navigation>
</Raw>

<style>
  section {
    border-top: 1px solid var(--md-sys-color-outline-variant);
  }
</style>
