@keyframes radius-in {
  from {
    animation-timing-function: cubic-bezier(0.157, 0.72, 0.386, 0.987);
    transform: scale(0);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes opacity-out {
  from {
    animation-timing-function: linear;
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.md-ripple {
  visibility: hidden;
  pointer-events: none;

  &,
  &__foreground,
  &__foreground-circle,
  &__background {
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

.md-ripple__foreground {
  &-active {
  transition: transform 300ms cubic-bezier(0.157, 0.72, 0.386, 0.987);
  }

  &-circle {
    background-color: rgba(0,0,0,.06);
    border-radius: 50%;
    transform: scale(0);
    opacity: 0;
  }

  &-circle-active {
    animation-fill-mode: forwards;
    animation: 800ms radius-in, 400ms opacity-out;
  }
}

.md-ripple__background {
  background-color: rgba(0,0,0,.06);
  border-radius: 50%;
  opacity: 0;
  transform: scale(1);
  transition: opacity 480ms linear;

  &-active {
    transition: opacity 600ms linear;
    // In order for the fill class's duration to be taken into account, the target
    // opacity value must be different between the two classes.
    opacity: 0.99999;
  }

  &-active-fill {
    transition-duration: 120ms;
    opacity: 1;
  }
}