@keyframes radius-in {
  from {
    transform: scale(0);
    animation-timing-function: cubic-bezier(.157, .72, .386, .987);
  }

  to {
    // This differs slightly from spec.
    transform: scale(1.5);
  }
}

@keyframes opacity-out {
  from {
    opacity: 1;
    animation-timing-function: linear;
  }

  to {
    opacity: 0;
  }
}

// postcss-bem-linter: define ripple
.mdl-ripple {
  visibility: hidden;
  pointer-events: none;

  &,
  &__foreground,
  &__foreground-circle,
  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.mdl-ripple__foreground {
  &-circle {
    transform: scale(0);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .06);
    opacity: 0;
  }

  &--bounded-active {
    transition: transform 300ms cubic-bezier(.157, .72, .386, .987);
  }

  &--bounded-circle-active {
    animation-fill-mode: forwards;
    animation: 800ms radius-in, 400ms opacity-out;
  }
}

.mdl-ripple__background {
  transform: scale(1);
  transition: opacity 480ms linear;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .06);
  opacity: 0;

  &--active {
    transition: opacity 600ms linear;
    // In order for the fill class's duration to be taken into account, the target
    // opacity value must be different between the two classes.
    opacity: .99999;
  }

  &--bounded-active-fill {
    transition-duration: 120ms;
    opacity: 1;
  }
}
// postcss-bem-linter: end
