@import "palette/palette";

/* ==========  Used Palettes  ========== */
$palette-primary: $palette-blue !default;
$palette-accent: $palette-pink !default;
$palette-secondary: $palette-grey !default;
$palette-disabled: $palette-grey !default;
$palette-page: $palette-grey !default;
