@import "resets/h5bp";
@import "typography/typography";
@import "palette/palette";

$padding: 24px;

html, body {
  width: 100%;
  height: auto;

  margin: 0;
  padding: 0;
}

body {
  padding: $padding;
  box-sizing: border-box;
  background: #FFF;
}

// We define h2 under body, so it doesn't bleed into typography styles
body > h2 {
  margin-top: $padding ;
  margin-bottom: $padding / 2;
}

.PreviewBlock {
  background: nth($paletteGrey, 2);
  padding: 20px;
}
