@import "resets/h5bp";
@import "typography/typography";
@import "palette/palette";

$padding: 16px;

html, body {
  width: 100%;
  height: auto;

  margin: 0;
  padding: 0;
}

body {
  padding: $padding;
  box-sizing: border-box;
  background: #FFF;
}

.preview-block {
  background: nth($paletteGrey, 2);
  padding: 20px;
}
