
$color-text: #212121;
$color-heading: #000;
$color-body: #F9F9F9;
$color-primary: #362A6C;
$color-accent: #FFFFFF;
$color-action: #4CBB47;
$outline-color: #CCC;
$font-family: 'RobotoDraft', 'Helvetica', 'Arial', sans-serif;
