<li class="comment-container">
	<div class="comment-meta">
		{{> atoms-avatar }}
		<h4 class="comment-name"><a href="#">{{name.first}} {{name.last}}</a></h4>
	</div>
	<div class="comment-text">
		<p>{{description}}</p>
	</div>
</li>