@import "../styleguide_demo_bp";
@import 'palette';
@import "../typography/typography";

@mixin colorGroups($palette) {
  .color-50 {
    background-color: #{nth($palette, 1)};

    &:after {
      content: '#{nth($palette, 1)}';
      float: right;
    }
  }

  .color-100 {
    background-color: #{nth($palette, 2)};

    &:after {
      content: '#{nth($palette, 2)}';
      float: right;
    }
  }

  .color-200 {
    background-color: #{nth($palette, 3)};

    &:after {
      content: '#{nth($palette, 3)}';
      float: right;
    }
  }

  .color-300 {
    background-color: #{nth($palette, 4)};

    &:after {
      content: '#{nth($palette, 4)}';
      float: right;
    }
  }

  .color-400 {
    background-color: #{nth($palette, 5)};

    &:after {
      content: '#{nth($palette, 5)}';
      float: right;
    }
  }

  .color-500 {
    background-color: #{nth($palette, 6)};

    &:after {
      content: '#{nth($palette, 6)}';
      float: right;
    }
  }

  .color-600 {
    background-color: #{nth($palette, 7)};

    &:after {
      content: '#{nth($palette, 7)}';
      float: right;
    }
  }

  .color-700 {
    background-color: #{nth($palette, 8)};

    &:after {
      content: '#{nth($palette, 8)}';
      float: right;
    }
  }

  .color-800 {
    background-color: #{nth($palette, 9)};

    &:after {
      content: '#{nth($palette, 9)}';
      float: right;
    }
  }

  .color-900 {
    background-color: #{nth($palette, 10)};

    &:after {
      content: '#{nth($palette, 10)}';
      float: right;
    }
  }

  @if length($palette) > 10 {
    .color-A100 {
      background-color: #{nth($palette, 11)};

      &:after {
        content: '#{nth($palette, 11)}';
        float: right;
      }
    }

    .color-A200 {
      background-color: #{nth($palette, 12)};

      &:after {
        content: '#{nth($palette, 12)}';
        float: right;
      }
    }

    .color-A400 {
      background-color: #{nth($palette, 13)};

      &:after {
        content: '#{nth($palette, 13)}';
        float: right;
      }
    }

    .color-A700 {
      background-color: #{nth($palette, 14)};

      &:after {
        content: '#{nth($palette, 14)}';
        float: right;
      }
    }
  }
}

.palette-group {
  margin-top: 15px;
  width: 360px;
  float: left;
}

.palette-group div {
  @include typo-caption();

  max-width: 300px;
  padding: 15px;
  color: white;
}

.palette-group div.dark-text, .heading.dark-text div.palette-name {
  color: #000;
}

.palette-group div.palette-name {
  padding: 0 0 60px 0;
}

.palette-group-red {
  @include colorGroups($paletteRed);
}

.palette-group-pink {
  @include colorGroups($palettePink);
}

.palette-group-purple {
  @include colorGroups($palettePurple);
}

.palette-group-deepPurple {
  @include colorGroups($paletteDeepPurple);
}

.palette-group-indigo {
  @include colorGroups($paletteIndigo);
}

.palette-group-blue {
  @include colorGroups($paletteBlue);
}

.palette-group-lightBlue {
  @include colorGroups($paletteLightBlue);
}

.palette-group-cyan {
  @include colorGroups($paletteCyan);
}

.palette-group-teal {
  @include colorGroups($paletteTeal);
}

.palette-group-green {
  @include colorGroups($paletteGreen);
}

.palette-group-lightGreen {
  @include colorGroups($paletteLightGreen);
}

.palette-group-lime {
  @include colorGroups($paletteLime);
}

.palette-group-yellow {
  @include colorGroups($paletteYellow);
}

.palette-group-amber {
  @include colorGroups($paletteAmber);
}

.palette-group-orange {
  @include colorGroups($paletteOrange);
}

.palette-group-deepOrange {
  @include colorGroups($paletteDeepOrange);
}

.palette-group-brown {
  @include colorGroups($paletteBrown);
}

.palette-group-grey {
  @include colorGroups($paletteGrey);

  .color-1000 {
    background-color: #000000;

    &:after {
      content: '#000000';
      float: right;
    }
  }

  .color-1000-inverse {
    background-color: #ffffff;

    &:after {
      content: '#ffffff';
      float: right;
    }
  }
}

.palette-group-blueGrey {
  @include colorGroups($paletteBlueGrey);
}

.palette-block {
  display: inline-block;
}