<!DOCTYPE html>
<html>

<head>
    <style>
        @import url(../../dist/css/mdl.css);
    </style>
</head>

<body>
    <button class="button">Button</button>

    <script type="module">
        import { runTests } from '@web/test-runner-mocha';
        import { expect } from '@esm-bundle/chai';
        import { setViewport } from '@web/test-runner-commands';

        runTests(() => {
            it('mobile has a green background', async () => {
                await setViewport({ width: 360, height: 640 });
                const el = document.querySelector('.button');
                const color = getComputedStyle(el).backgroundColor;
                expect(color).to.equal('rgb(239, 239, 239)');
            });
        });
    </script>
</body>

</html>