<!DOCTYPE html>
<html>

<head>
    <style>
        .card {
            background: rgb(0, 255, 0);
        }

        @media screen and (min-width: 1024px) {
            .card {
                background: rgb(255, 0, 0);
            }
        }
    </style>
</head>

<body>
    <div class="card"></div>

    <script type="module">
        import { runTests } from '@web/test-runner-mocha';
        import { expect } from '@esm-bundle/chai';
        import { setViewport } from '@web/test-runner-commands';

        runTests(() => {
            it('mobile has a green background', async () => {
                await setViewport({ width: 360, height: 640 });
                const el = document.querySelector('.card');
                const color = getComputedStyle(el).backgroundColor;
                expect(color).to.equal('rgb(0, 255, 0)');
            });

            it('desktop has a red background', async () => {
                await setViewport({ width: 1200, height: 1000 });
                const el = document.querySelector('.card');
                const color = getComputedStyle(el).backgroundColor;
                expect(color).to.equal('rgb(255, 0, 0)');
            });
        });
    </script>
</body>

</html>