<div class="block block-hero">
	<a href="{{ url }}" class="inner">
		<div class="b-thumb">
			{{> atoms-landscape-16x9 }} 
		</div>
		<div class="b-text">
			<h2 class="headline">{{ headline.medium }}</h2>
		</div>
	</a>
</div>