<div class="block block-inset">
    <a href="#" class="inner">
		<div class="b-thumb">
			{{> atoms-landscape-4x3 }} 
		</div>
		<div class="b-text">
			<h2 class="headline">{{ headline.short }}</h2>
		</div>
	</a>
</div>