---
import DemoLayout from "../../layouts/DemoLayout.astro";
import * as fs from "fs";

export async function getStaticPaths() {
  const prefix = "./lib/snippets";
  const allSnippets = fs
    .readdirSync(prefix)
    .filter((file) => file !== "playground.html");
  return allSnippets.map((snippet) => {
    const slug = snippet.replace(".html", "");
    const content = fs.readFileSync(`${prefix}/${snippet}`, "utf8");
    return {
      params: { id: slug },
      props: { content },
    };
  });
}

const { id } = Astro.params;
const { content } = Astro.props;
---

<DemoLayout content={{ title: id }}>
  <div set:html={content}></div>
</DemoLayout>
