@import "../vars";


html, body {
	font-family: $performance_font;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

/**
 * Styles for HTML elements
 */

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  @include typo-display-3($colorContrast: true);
  font-size: 0.6em;
}

h1 {
  @include typo-display-3();
}

h2 {
  @include typo-display-2();
}

h3 {
  @include typo-display-1();
}

h4 {
  @include typo-headline();
}

h5 {
  @include typo-title();
}

h6 {
  @include typo-subhead();
}

p {
  @include typo-body-1();

  margin: 0 0 16px 0;
}

a {
  font-weight: bold;
}

blockquote {
  @include typo-blockquote();
}

mark {
  background-color: #f4ff81;
}

dt {
  font-weight: 700;
}

/**
 * Class Name Styles
 */

.wsk-typography--display-4 {
  @include typo-display-4();
}

.wsk-typography--display-4-color-contrast {
  @include typo-display-4($colorContrast: true);
}

.wsk-typography--display-3 {
  @include typo-display-3();
}

.wsk-typography--display-3-color-contrast {
  @include typo-display-3($colorContrast: true);
}

.wsk-typography--display-2 {
  @include typo-display-2();
}

.wsk-typography--display-2-color-contrast {
  @include typo-display-2($colorContrast: true);
}

.wsk-typography--display-1 {
  @include typo-display-1();
}

.wsk-typography--display-1-color-contrast {
  @include typo-display-1($colorContrast: true);
}

.wsk-typography--headline {
  @include typo-headline();
}

.wsk-typography--headline-color-contrast {
  @include typo-headline($colorContrast: true);
}

.wsk-typography--title {
  @include typo-title();
}

.wsk-typography--title-color-contrast {
  @include typo-title($colorContrast: true);
}

.wsk-typography--subhead {
  @include typo-subhead();
}

.wsk-typography--subhead-color-contrast {
  @include typo-subhead($colorContrast: true);
}

.wsk-typography--body-2 {
  @include typo-body-2();
}

.wsk-typography--body-2-color-contrast {
  @include typo-body-2($colorContrast: true);
}

.wsk-typography--body-1 {
  @include typo-body-1();
}

.wsk-typography--body-1-color-contrast {
  @include typo-body-1($colorContrast: true);
}

.wsk-typography--body-2-force-preferred-font {
  @include typo-body-2($usePreferred: true);
}

.wsk-typography--body-2-force-preferred-font-color-contrast {
  @include typo-body-2($colorContrast: true, $usePreferred: true);
}

.wsk-typography--body-1-force-preferred-font {
  @include typo-body-1($usePreferred: true);
}

.wsk-typography--body-1-force-preferred-font-color-contrast {
  @include typo-body-1($colorContrast: true, $usePreferred: true);
}

.wsk-typography--caption {
  @include typo-caption();
}

.wsk-typography--caption-force-preferred-font {
  @include typo-caption($usePreferred: true);
}

.wsk-typography--caption-color-contrast {
  @include typo-caption($colorContrast: true);
}

.wsk-typography--caption-force-preferred-font-color-contrast {
  @include typo-caption($colorContrast: true, $usePreferred: true);
}

.wsk-typography--menu {
  @include typo-menu();
}

.wsk-typography--menu-color-contrast {
  @include typo-menu($colorContrast: true);
}

.wsk-typography--button {
  @include typo-button();
}

.wsk-typography--button-color-contrast {
  @include typo-button($colorContrast: true);
}

.wsk-typography--text-left {
  text-align: left;
}

.wsk-typography--text-right {
  text-align: right;
}

.wsk-typography--text-center {
  text-align: center;
}

.wsk-typography--text-justify {
  text-align: justify;
}

.wsk-typography--text-nowrap {
  white-space: nowrap;
}


.wsk-typography--text-lowercase {
  text-transform: lowercase;
}

.wsk-typography--text-uppercase {
  text-transform: uppercase;
}

.wsk-typography--text-capitalize {
  text-transform: capitalize;
}

.wsk-typography--table-striped > tbody > tr:nth-child(odd) > td,
.wsk-typography--table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.wsk-typography--table-striped > tbody > tr:nth-child(odd) > td,
.wsk-typography--table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.wsk-typography--font-thin {
  font-weight: 200 !important;
}

.wsk-typography--font-light {
  font-weight: 300 !important;
}

.wsk-typography--font-regular {
  font-weight: 400 !important;
}

.wsk-typography--font-medium {
  font-weight: 500 !important;
}

.wsk-typography--font-bold {
  font-weight: 700 !important;
}

.wsk-typography--font-black {
  font-weight: 900 !important;
}
