.icon {
  outline: none;
  border: none;

  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-family: var(--md-sys-typescale-label-large-font);
  font-weight: var(--md-sys-typescale-label-large-weight);
  font-size: var(--md-sys-typescale-label-large-size);
  line-height: var(--md-sys-typescale-label-large-line-height);
  letter-spacing: var(--md-sys-typescale-label-large-tracking);

  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-primary);

  box-shadow: var(--md-sys-elevation-1);

  padding: 4px;
  margin: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-color: transparent;
  color: var(--md-sys-color-on-surface-variant);

  box-shadow: none;
}

.icon[selected] {
  color: var(--md-sys-color-primary);
}

.icon:hover {
  box-shadow: var(--md-sys-elevation-2);
}

.icon:focus {
  box-shadow: var(--md-sys-elevation-1);
}

.icon:active {
  box-shadow: var(--md-sys-elevation-1);
}

.icon[disabled] {
  cursor: not-allowed;
  background-color: rgba(var(--md-sys-color-on-surface-rgb), 0.12);
  color: rgba(var(--md-sys-color-on-surface-rgb), 0.38);
  box-shadow: var(--md-sys-elevation-0);
}

.icon i {
  font-size: 24px;
  vertical-align: middle;
}
