<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<div class="l-two-col">
			<div class="l-main">
				<article class="article">
					<header class="article-header">
						<h1>Article Headline Lorem ipsum dolor sit aweofij</h1>
						{{> molecules-byline-author-time }}
					</header>
					{{> organisms-article-body }}
				</article><!--end .article-->
				{{> molecules-social-share }}
				{{> organisms-comment-thread }}
			</div><!--end l-main-->

			<div class="l-sidebar">
				{{> organisms-related-posts }}
				{{> organisms-recent-tweets }}
			</div><!--end l-sidebar-->
		</div><!--end l-two-col-->	
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>