body {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  flex-direction: column;
  scroll-behavior: smooth;
  --gutter: 0.5rem;
  --doc-padding: 2rem;
}

body.menu-open .content {
  display: none;
}
body.menu-open nav.menu {
  display: block;
}

header {
  width: 100%;
}

nav.menu {
  padding: 0 40px;
  padding-bottom: 40px;

  display: none;
}

#title-text {
  display: none;
}

.content {
  flex: 1;
  padding: 20px;
}

/* Hide menu button on desktop */
@media (min-width: 768px) {
  #menu {
    display: none;
  }
  #title-text {
    display: block;
  }
  body {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
      "header header header"
      "menu content content";
    grid-template-columns: 290px auto auto;
  }
  header {
    grid-area: header;
  }
  nav.menu {
    display: block;
    grid-area: menu;
  }
  .content {
    grid-area: content;
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 820px;
    padding-right: 40px;
  }
}

nav.menu a {
  display: block;

  text-decoration: none;
}

nav.menu a:hover {
  text-decoration: underline;
}

nav.menu .link {
  opacity: 0.75;
}

nav.menu .link.draft {
  opacity: 0.2;
  cursor: not-allowed;
}

nav.menu h2 {
  margin: 0;
  padding: 10px 0;

  @apply --title-large;
}
