:root {
  --header-height: 72px;
  --menu-width: 320px;
  --content-padding: 16px;
}

#header {
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: var(--header-height);
}

#content,
#menu {
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;

  padding: var(--content-padding);
}

#menu {
  display: none;
}

#menu-toggle {
  display: block;
}

.menu-open #menu {
  display: block;
}

.menu-open #content {
  display: none;
}

article {
  max-width: 820px;
  margin: 0 auto;
  padding-top: 40px;
}

#menu a {
  text-decoration: none;
}

#menu a:hover {
  text-decoration: underline;
}

#menu .link {
  opacity: 0.75;
  color: var(--md-sys-color-on-surface);
}

#menu .link.draft {
  opacity: 0.2;
  cursor: default;
}

#menu h2 {
  margin: 0;
  padding: 10px 0;

  @apply --title-large;
}

/* Desktop */

@media (min-width: 768px) {
  /* Hide menu button */
  #menu-toggle {
    display: none;
  }
  /* Display menu to left */
  #menu {
    display: block;
    float: left;
    position: relative;
    width: var(--menu-width);
  }
  /* Display content to right */
  #content {
    display: block;
    float: right;
    position: relative;
    width: calc(100% - var(--menu-width));
  }
}
