<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>tooltip test</title>

        <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <!-- Page styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.css">
    <link rel="stylesheet" href="../../material.min.css">
    <link rel="stylesheet" href="../../components/demos.css">
    <script src="../../material.min.js"></script>

    
    <style>
      
    </style>

  </head>
  <body>

    <div style="padding-top: 24px;">
      
        
<!-- Large Tooltip -->
<div id="tt2" class="icon material-icons">print</div>
<div class="mdl-tooltip mdl-tooltip--large" for="tt2">
Print
</div>

<!-- Multiline Tooltip -->
<div id="tt4" class="icon material-icons">share</div>
<div class="mdl-tooltip" for="tt4">
Share your content<br>via social media
</div>

<!-- Rich Tooltip -->
<div id="tt3" class="icon material-icons">cloud_upload</div>
<div class="mdl-tooltip" for="tt3">
Upload <strong>file.zip</strong>
</div>

<!-- Simple Tooltip -->
<div id="tt1" class="icon material-icons">add</div>
<div class="mdl-tooltip" for="tt1">
Follow
</div>

      
    </div>
    <!-- Built with love using Material Design Lite -->

    
    <script>
      
    </script>
  </body>
</html>
