.fab {
  padding: 16px;
  font-size: 24px;
  border-radius: var(--md-sys-shape-medium);
  width: 56px;
  height: 56px;

  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);

  box-shadow: var(--md-sys-elevation-1);
}
.fab > i {
  font-size: 24px;
}

.fab:hover {
  box-shadow: var(--md-sys-elevation-4);
  background-color: rgba(
    var(--md-sys-color-on-primary-container-rgb),
    var(--md-sys-state-hover-state-layer-opacity)
  );
}

.fab:focus {
  box-shadow: var(--md-sys-elevation-2);
  background-color: rgba(
    var(--md-sys-color-on-primary-container-rgb),
    var(--md-sys-state-focus-state-layer-opacity)
  );
}

.fab:active {
  box-shadow: var(--md-sys-elevation-2);
  background-color: rgba(
    var(--md-sys-color-on-primary-container-rgb),
    var(--md-sys-state-pressed-state-layer-opacity)
  );
}

.fab[disabled] {
  box-shadow: var(--md-sys-elevation-0);
  background-color: rgba(var(--md-sys-color-on-surface-rgb), 0.12);
  color: rgba(var(--md-sys-color-on-surface-rgb), 0.38);
}
