.fab {
  padding: 16px;
  font-size: 24px;
  border-radius: var(--md-sys-shape-medium);
  width: 56px;
  height: 56px;

  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
}
.fab > i {
  font-size: 24px;
}
