<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Material Fabs</title>
    
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <section>
      <h2>Floating Action Buttons</h2>
      <div class="row">
        <button class="button fab-small">
          <i class="material-icons">add</i>
        </button>
        <button class="button fab"><i class="material-icons">add</i></button>
        <button class="button fab-large">
          <i class="material-icons">add</i>
        </button>
      </div>
    </section>
    <section>
      <h2>Extended Floating Action Buttons</h2>
      <div class="row">
        <button class="button extended-fab">Button</button>
        <button class="button extended-fab">
          <i class="material-icons">add</i>
          <label>Button</label>
        </button>
      </div>
    </section>
  </body>
</html>
