@import "../colors";
@import "../animation/animation";

$bar-height: 4px !default;

.wsk-js-progress {
  display: block;
  position: relative;
  height: $bar-height;
}

.wsk-js-progress > .bar {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0%;
  transition: width 0.2s $animation-curve-default;
}

.wsk-js-progress > .progressbar {
  background-color: $progress-main-color;
  background-color: red;
  z-index: 1;
  left: 0;
}

.wsk-js-progress > .bufferbar {
  background-color: $progress-buffer-color;
  background-color: green;
  z-index: 0;
  left: 0;
}

.wsk-js-progress > .auxbar {
  background-color: $progress-aux-color;
  background-color: blue;
  right: 0;
}

.wsk-js-progress.wsk-progress__indeterminate > .bar1 {
  background-color: red;
  animation-name: indeterminate1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;//$animation-curve-default;
}
.wsk-js-progress.wsk-progress__indeterminate > .bar2 {
  background-color: green;
}
.wsk-js-progress.wsk-progress__indeterminate > .bar3 {
  background-color: blue;
  animation-name: indeterminate2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;//$animation-curve-default;
}

@keyframes indeterminate1 {
  0% {
    left: 0%;
    width: 0%;
  }
  50% {
    left: 25%;
    width: 75%;
  }
  75% {
    left: 100%;
    width: 0%;
  }
}

@keyframes indeterminate2 {
  0% {
    left: 0%;
    width: 0%;
  }
  50% {
    left: 0%;
    width: 0%;
  }
  75% {
    left: 0%;
    width: 25%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}
