$icon-font-path : "../fonts/" !default;

@font-face {
    font-family : 'Material-Design-Iconic-Font';

    src         : url($icon-font-path + 'Material-Design-Iconic-Font.eot?v=1.1.1');

    src         : url($icon-font-path + 'Material-Design-Iconic-Font.eot?#iefix&v=1.1.1') format('embedded-opentype'),
                    url($icon-font-path + 'Material-Design-Iconic-Font.woff?v=1.1.1') format('woff'),
                    url($icon-font-path + 'Material-Design-Iconic-Font.ttf?v=1.1.1') format('truetype');

    font-weight : normal;
    font-style  : normal;
}
