<div class="carousel-list-carousel">
	<div class="carousel-container">
		{{> molecules-inset-block }} 
	<div>
	<div class="carousel-controls">
		<a href="#" class="carousel-prev">&larr;</a>
		<div class="carousel-pagination">1/5</div>
		<a href="#" class="carousel-next">&rarr;</a>
	</div>
</div>