@import url(base.css);

.top-app-bar.large {
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "leading actions" "title title";

  & .title {
    padding-top: 20px;

    @apply --headline-medium;
  }
}
