@import "../styleguide_demo_bp";
@import "../card/card";
@import "../animation/animation";
@import "_shadow";

.demo-paper-card {
  background-color   : #fff;
  border-radius      : 2px;
  display            : block;
  height             : 300px;
  margin             : 20px;
  transition-property: opacity, transform;
  @include material-animation-default(300ms);
  width              : 300px;
}
