@import "../styleguide_demo_bp";
@import "../button/button";
@import "../icons/icons";
@import "_menu";

.demo-page--menu .demo-preview-block {
  position: relative;
  height: 500px;
}

.demo-menu-button-left {
  position: absolute;
  left: 24px;
  top: 250px;
}

.demo-menu-button-left2 {
  position: absolute;
  left: 72px;
  top: 250px;
}

.demo-menu-button-right {
  position: absolute;
  right: 24px;
  top: 250px;
}

.demo-menu-button-right2 {
  position: absolute;
  right: 72px;
  top: 250px;
}
