@import "../styleguide_demo_bp";
@import "../button/button";
@import "../icons/icons";
@import "_menu";

.PreviewBlock {
  position: relative;
  height: 500px;
}

.demo-button-left {
  position: absolute;
  left: 24px;
  top: 250px;
}

.demo-button-left2 {
  position: absolute;
  left: 72px;
  top: 250px;
}

.demo-button-right {
  position: absolute;
  right: 24px;
  top: 250px;
}

.demo-button-right2 {
  position: absolute;
  right: 72px;
  top: 250px;
}
