//Article
.article-header {
	h1 {
		font-size: 2.5em;
	}
}

.byline {
	font-size: $font-size-slightly-smaller;
	font-style: italic;
	margin-bottom: $space-half;
}

/* Wordpress Caption */
.wp-caption-text {
	font-style: italic;
}

// Review Summary
.review-summary {
	.grade {
		width: 4.5em;
		float: left;
		margin: 0 $space-half 0 0;
	}

	.summary-text {
		margin-left: 5em;
	}
}

//Social Share
.social-share {
	overflow: hidden;
	margin-bottom: $space;

	li {
		float: left;
		margin-right: $space-quarter;
	}

	a {
		background: $gray-dark;
		color: $white;
		display: block;
		padding: $pad-half;

		&:hover {
			background: $gray;
		}
	}
}