---
const { name, token } = Astro.props;
---

<div class="role">
    <div class="role-color" style={`background-color: var(${token})`}></div>
    <div class="role-name">{name}</div>
</div>

<style>
    .role {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .role-color {
        flex: 1;
        border: 1px solid var(--md-sys-color-outline);
        min-height: 70px;
    }

    .role-name {
        white-space: nowrap;
        font-size: 0.8rem;
        opacity: 0.72;
    }
</style>
