---
const tokens = [
    {
        name: `+5%`,
        token: `--md-surface-1`,
    },
    {
        name: `+8%`,
        token: `--md-surface-2`,
    },
    {
        name: `+11%`,
        token: `--md-surface-3`,
    },
    {
        name: `+12%`,
        token: `--md-surface-4`,
    },
    {
        name: `+14%`,
        token: `--md-surface-5`,
    },
];
---

<style>
    .surfaces {
        display: flex;
        width: 100%;
        min-width: 500px;
        overflow-x: auto;
    }

    .role {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .role-color {
        flex: 1;
        border: 1px solid var(--md-sys-color-outline);
        min-height: 70px;
    }

    .role-name {
        white-space: nowrap;
        font-size: 0.8rem;
        opacity: 0.72;
    }
</style>

<div class="surfaces">
    {
        tokens.map((role) => {
            return (
                <div class="role">
                    <div
                        class="role-color"
                        style={`background-color: var(${role.token})`}
                    />
                    <div class="role-name">{role.name}</div>
                </div>
            );
        })
    }
</div>
