<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Material Design Lite</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link href='//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="material.min.css">
    <link rel="stylesheet" href="../spacing.css">
    <link rel="stylesheet" href="styles.css">
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>
  </head>
  <body class="wsk-color--blue-grey-700">
    <div class="wsk-layout wsk-js-layout">
      <header class="wsk-layout__header wsk-layout__header--scroll">
      </header>
      <div class="wsk-layout__tab-bar wsk-js-ripple-effect">
        <a href="#about-panel" class="wsk-layout__tab is-active">About</a>
        <a href="#experience-panel" class="wsk-layout__tab">Experience</a>
        <a href="#contact-panel" class="wsk-layout__tab">Contact Us</a>
        <a href="#blog-panel" class="wsk-layout__tab">Our Blog</a>
        <button class="wsk-button wsk-js-button wsk-button--fab wsk-js-ripple-effect wsk-button--colored wsk-shadow--z3" id="mail"><span class="wsk-icon wsk-icon--email"></span></button>
      </div>
      <main class="wsk-layout__content">
        <div class="wsk-layout__tab-panel is-active" id="about-panel">
          <header>
            <h1>Call of the Wild</h1>
            <h2>Experience the new</h2>
          </header>
          <section id="squares">
            <div class="square">
              <footer class="wsk-color--blue-grey-700">
                <button class="wsk-button wsk-js-button wsk-button--icon wsk-js-ripple-effect"><span class="wsk-icon wsk-icon--arrow-forward"></span></button>
                <h3>Escape</h3>
                <p>Lorem commodo do eiusmod anim quis.</p>
              </footer>
            </div>
            <div class="square">
              <footer class="wsk-color--blue-grey-700">
                <button class="wsk-button wsk-js-button wsk-button--icon wsk-js-ripple-effect"><span class="wsk-icon wsk-icon--arrow-forward"></span></button>
                <h3>Action</h3>
                <p>Lorem commodo do eiusmod anim quis.</p>
              </footer>
            </div>
            <div class="square">
              <footer class="wsk-color--blue-grey-700">
                <button class="wsk-button wsk-js-button wsk-button--icon wsk-js-ripple-effect"><span class="wsk-icon wsk-icon--arrow-forward"></span></button>
                <h3>Nature</h3>
                <p>Lorem commodo do eiusmod anim quis.</p>
              </footer>
            </div>
            <div class="square">
              <footer class="wsk-color--blue-grey-700">
                <button class="wsk-button wsk-js-button wsk-button--icon wsk-js-ripple-effect"><span class="wsk-icon wsk-icon--arrow-forward"></span></button>
                <h3>Discovery</h3>
                <p>Lorem commodo do eiusmod anim quis.</p>
              </footer>
            </div>
          </section>
          <section id="cta">
            <h3>Start your journey today</h3>
            <button class="wsk-button wsk-js-button wsk-js-ripple-effect wsk-color--pink-A200 wsk-color-text--white">Contact Us</button>
          </section>
          <section id="authors" class="wsk-color--white wsk-color-text--black">
            <div class="author">
              <img src="http://placehold.it/200/CFD8DC/ECEFF1">
              <h4>Explorer Jane</h4>
              <p>Eiusmod exercitation esse voluptate do excepteur laboris laborum exercitation tempor est non aute in.</p>
            </div>
            <div class="author">
              <img src="http://placehold.it/200/CFD8DC/ECEFF1">
              <h4>Explorer John</h4>
              <p>Eiusmod exercitation esse voluptate do excepteur laboris laborum exercitation tempor est non aute in.</p>
            </div>
            <div class="author">
              <img src="http://placehold.it/200/CFD8DC/ECEFF1">
              <h4>Explorer Joe</h4>
              <p>Eiusmod exercitation esse voluptate do excepteur laboris laborum exercitation tempor est non aute in.</p>
            </div>
          </section>
        </div>
        <div class="wsk-layout__tab-panel" id="experience-panel">
          <h1>Experience</h1>
        </div>
        <div class="wsk-layout__tab-panel" id="contact-panel">
          <h1>Contact</h1>
          <div style="height: 2000px;"></div>
        </div>
        <div class="wsk-layout__tab-panel" id="blog-panel">
          <h1>Blog</h1>
        </div>
      </main>
    </div>
    <a href="https://github.com/google/material-design-lite/blob/master/templates/starter/index.html" target="_blank" id="view-source" class="wsk-button wsk-js-button wsk-button--fab wsk-button--colored wsk-js-ripple-effect"><span class="wsk-icon wsk-icon--pageview"/></a>
    <script src="/js/material.min.js"></script>
  </body>
</html>
