@import '../../src/_variables.scss';
$color-primary: $palette-blue-grey-500;
$color-primary-dark: $palette-blue-grey-800;
$color-accent: $palette-pink-A200;
$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-dark-contrast;

@import '../../src/material-design-lite';
