* {
  box-sizing: border-box;
  /* Disable font boosting */
  max-height: 1000000px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body {
  background-image: url('checker.png');
}

article {
  width: 100%;
  color: #ccc;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px;
  border-radius: 4px;
}

b {
  color: #fff;
}