
body {
  font-size: 1.0em;
}

.weather-forecast {
  width: 100%;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}


.seven-day-fc {
  display: inline-block;
  width: 13.5%;
  margin: 0;
  border: none;
  font-size: 0.8em;
}

.seven-day-fc div {
  display: block;
  text-align: center;
}

.seven-day-fc .date {
  text-align: center;
}

.seven-day-fc .temp-low,
.seven-day-fc .temp-high {
  display: inline;
}

.seven-day-fc .seven-day-temp {
  font-size: 1.25em;
}

.seven-day-fc .icon {
  width: 64px;
  height: 64px;
}


@media (min-width: 700px) {
  .weather-forecast {
    width: 700px;
  }
}

