

.weather-forecast {
  width: 100%;
}

.seven-day-fc {
  border-top: 1px solid rgba(0,0,0,0.2);
}

.seven-day-fc:last-of-type {
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.seven-day-fc .date {
  width: 30%;
}

.seven-day-fc .seven-day-temp {
  width: 30%;
}

.seven-day-fc .pcount {
  width: 16%;
}

