* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  /*border: 1px solid #999;*/
}

body {
  font-family: Roboto, Arial;
  font-size: 0.8em;
  color: #666;
  overflow-y: hidden;
}

.icon {
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  background-size: contain;
}

.icon.rain {
  background-image: url('rain.png');
}

.icon.sunny {
  background-image: url('sunny.png');
}

.icon.pc {
  background-image: url('partly_cloudy.png');
}

.icon.sshowers {
  background-image: url('rain_s_cloudy.png');
}

.icon.cloudy {
  background-image: url('cloudy.png');
}

.icon.thunder {
  background-image: url('thunderstorms.png');
}

.weather-forecast {
  padding: 10px 10px 0 10px;
  display: inline-block;
  
}

/* Header row */

.location {
  font-size: 3em;
  color: #444;
}

.date {

}

.desc {

}

/* Current Weather Summary */
.current {
  overflow: auto;
  width:100%;
  margin-bottom: 15px;
}

.current .visual {
  width: 50%;
  float: left;
}

.current .description {
  width: 50%;
  float: left;
}

/* Current Weather - Visual */

.visual .icon {
  width: 64px;
  height: 64px;
}

.temp {
  font-size: 2.5em;
  display: inline-block;
  vertical-align: top;
}

.scale {
  vertical-align: top;
  display: inline-block;
  margin-top: 6px;
  color: #888;
}

/* General Labels */

.wind:before {
  content: "Wind: ";
  color: #888;
}

.precip:before {
  content: "Precipitation: ";
  color: #888;
}

.humidity:before {
  content: "Humidity: ";
  color: #888;
}

.pollen:before {
  content: "Pollen Count: ";
  color: #888;
}

.pcount:before {
  content: "Pollen ";
  color: #888;
}


/* Seven Day Forecast */

.seven-day div {
  vertical-align: middle;
}

.seven-day-fc {
  
  margin: 0 -11px -1px -11px;
  padding: 10px;
}

.seven-day-fc div {
  display: inline-block;
}

.seven-day-fc .date {
  font-weight: bold;
  color: #444;
}

.seven-day-fc .icon {
  width: 50px;
  height: 50px;
}

.seven-day-fc .seven-day-temp {
  text-align: center;
}

.seven-day-fc .temp-high {
  color: #444;

}

.seven-day-fc .temp-low {
  color: #888;
}

.seven-day-fc .temp-low,
.seven-day-fc .temp-high {
  display: block;
}

.seven-day-fc .pcount {
  text-align: center;
}