

.weather-forecast {
  width: 100%;
}

.seven-day-fc {
  border-top: 1px solid rgba(0,0,0,0.2);
}

.seven-day-fc:last-of-type {
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.seven-day-fc .date {
  width: 30%;
}

.seven-day-fc .seven-day-temp {
  width: 30%;
}

.seven-day-fc .pcount {
  width: 16%;
}



@media (min-width: 360px) {
  body {
    font-size: 1.0em;
  }
}

@media (min-width: 500px) {
  .seven-day-fc .temp-low,
  .seven-day-fc .temp-high {
    display: inline-block;
    width: 45%;
  }

  .seven-day-fc .seven-day-temp {
    margin-left: 5%;
  }

  .seven-day-fc .icon {
    width: 64px;
    height: 64px;
  }
}

