<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Material Chips</title>
    
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <section>
      <h2>Chips</h2>
      <div class="row">
        <div class="chip assist">
          <i class="material-icons">add</i>
          <label>Assist</label>
        </div>
        <div class="chip filter">
          <i class="material-icons">add</i>
          <label>Filter</label>
        </div>
        <div class="chip input">
          <label>Input</label>
          <i class="material-icons">add</i>
        </div>
        <div class="chip suggestion">Suggestion</div>
      </div>
    </section>
  </body>
</html>
