<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Material Design Lite</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link href='//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="material.min.css">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body class="mdl-color--primary-dark mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-layout__header--waterfall mdl-layout__header--scroll">
        <a href="/" id="logo"><img src="images/logo.png"></a>
        <div class="menu">
          <nav class="mdl-navigation">
            <a href="#about" class="mdl-navigation__link active">About</a>
            <a href="#products" class="mdl-navigation__link">Products</a>
            <a href="#faqs" class="mdl-navigation__link">FAQ</a>
            <a href="#support" class="mdl-navigation__link">Support</a>
            <a href="#blog" class="mdl-navigation__link">Blog</a>
          </nav>
        </div>
      </header>
      <main class="mdl-layout__content">
        <section class="mdl-color--primary-contrast extra-spacing" id="about">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--3-col mdl-cell--1-col-phone mdl-cell--1-col-tablet title">
              <strong>About</strong>
            </div>
            <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-phone mdl-cell--hide-tablet"></div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--3-col-phone mdl-cell--7-col-tablet">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet quis erat vel bibendum.
              Sed id ornare lacus. Cras non nisl in leo luctus condimentum in id ante. Nam at condimentum enim,
              non efficitur quam. Sed lacinia massa ipsum. In scelerisque dui ac pellentesque luctus.
            </div>
            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-phone mdl-cell--hide-tablet"></div>
          </div>
        </section>
        <section class="mdl-color--primary-contrast" id="products">
          <div class="heading products mdl-color-text--white">
            <img src="images/triangles.png" class="icon"><br>
            Products
          </div>
          <div class="mdl-grid extra-spacing">
            <div class="mdl-cell mdl-cell--2-col"></div>
            <div class="mdl-cell mdl-cell--8-col">
              Donec venenatis pharetra eros non elementum. Curabitur lobortis nunc ac elementum cursus.
              Vivamus accumsan tincidunt dui sit amet tincidunt. Donec vel odio at justo tincidunt
              malesuada non quis ipsum. Suspendisse dictum mi orci, non rhoncus ex elementum ut.
            </div>
            <div class="mdl-cell mdl-cell--2-col"></div>
          </div>
        </section>
        <section id="faqs">
          <div class="mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone heading feature-one mdl-color-text--white">
              Feature
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone heading feature-two mdl-color-text--white">
              Feature
            </div>
          </div>
          <div class="heading support mdl-color-text--white">
            <img src="images/squares.png" class="icon"><br>
            Support
          </div>
        </section>
        <section class="mdl-color--primary-contrast extra-spacing" id="support">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-phone"></div>
            <div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-phone">
              Donec venenatis pharetra eros non elementum. Curabitur lobortis nunc ac elementum cursus.
              Vivamus accumsan tincidunt dui sit amet tincidunt. Donec vel odio at justo tincidunt
              malesuada non quis ipsum. Suspendisse dictum mi orci, non rhoncus ex elementum ut.
            </div>
            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-phone"></div>
          </div>
        </section>
        <footer class="mdl-mega-footer mdl-color--primary-dark" id="blog">
          <div class="mdl-mega-footer--top-section mdl-color--primary">
            <button class="mdl-mega-footer--social-btn"><span class="mdl-icon mdl-icon--track-changes"></span></button>
            <button class="mdl-mega-footer--social-btn"><span class="mdl-icon mdl-icon--track-changes"></span></button>
            <button class="mdl-mega-footer--social-btn"><span class="mdl-icon mdl-icon--track-changes"></span></button>
          </div>
          <div class="mdl-mega-footer--middle-section">
            <a href="#" class="mdl-color-text--white">Contact Us</a>
            <a href="#" class="mdl-color-text--white">FAQ</a>
            <a href="#" class="mdl-color-text--white">Support</a>
            <a href="#" class="mdl-color-text--white">Blog</a>
          </div>
          <div class="mdl-mega-footer--bottom-section">
            <a href="#" class="mdl-color-text--grey-600">Web Starter Kit</a>
            <a href="#" class="mdl-color-text--grey-600">Help</a>
            <a href="#" class="mdl-color-text--grey-600">Privacy &amp; Terms</a>
          </div>
        </footer>
      </main>
    </div>
    <a href="https://github.com/google/material-design-lite/blob/master/templates/product/index.html" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-color--accent mdl-color-text--primary">
      <span class="mdl-icon mdl-icon--search"/>
    </a>
    <script src="/material.min.js"></script>
  </body>
</html>
