html, body {
  margin: 0;
  padding: 0;
}

.mdl-layout__header .mdl-navigation__link {
  line-height: 60px;
  position: relative;
}

.mdl-layout__header .mdl-navigation__link.active {
  border-bottom: 4px solid #ec1460;
}

header.mdl-layout__header {
  padding-top: 30%;
  padding-left: 0;
  background: url('images/top.jpg') center center;
  background-size: cover;
  position: relative;
}

header.mdl-layout__header #logo {
  width: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -40px;
  margin-left: -35px;
  fill: #fff;
}

header.mdl-layout__header #logo img {
  width: 100%;
}

header.mdl-layout__header .menu {
  width: 100%;
  background: rgba(0,0,0,0.2);
}

header.mdl-layout__header #title {
  position: absolute;
  left: 20px;
  top: 20px;
  text-decoration: none;
  text-transform: uppercase;
  width: 50px;
  line-height: 20px;
  font-size: 13px;
}

.extra-spacing {
  padding: 7% 0;
  text-align: center;
}

.mdl-mega-footer {
  text-align: center;
  padding: 0 0 32px;
}

.mdl-mega-footer a {
  text-decoration: none;
}

.mdl-mega-footer div {
  padding: 0 16px;
}

.mdl-mega-footer--top-section button {
  margin: 0 10px;
}

.mdl-mega-footer--top-section:after, .mdl-mega-footer--middle-section:after {
  border: none;
  margin: 0;
}

.mdl-mega-footer .mdl-mega-footer--top-section {
  padding: 16px 0;
}

.mdl-mega-footer .mdl-mega-footer--middle-section {
  padding: 32px 0 16px;
  text-transform: uppercase;
  font-size: 12px;
}

.mdl-mega-footer .mdl-mega-footer--middle-section a {
  display: inline-block;
  padding: 0 10px;
}

.mdl-mega-footer .mdl-mega-footer--bottom-section {
  padding: 0 0 16px;
  font-size: 14px;
}

.mdl-mega-footer .mdl-mega-footer--bottom-section a {
  display: inline-block;
  padding: 0 5px;
  font-size: 12px;
}

.heading {
  padding: 5% 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}

.heading .icon {
  margin-bottom: 10%;
  width: 200px;
}

.heading.products {
  background: url('images/products.jpg') center center no-repeat;
  background-size: cover;
}

.heading.feature-one {
  padding-top: 40%;
  background: url('images/feature_one.jpg') center center no-repeat;
  background-size: cover;
}

.heading.feature-two {
  padding-top: 40%;
  background: url('images/feature_two.jpg') center center no-repeat;
  background-size: cover;
}

#about {
  text-align: left;
}

#about .title {
  text-align: right;
}

@media (max-width: 850px) {
  header.mdl-layout__header {
    padding-top: 10%;
  }
  header.mdl-layout__header #logo {
    width: 40px;
    margin-left: -20px;
  }
  header.mdl-layout__header #title {
    font-size: 12px;
    line-height: 16px;
  }
  .mdl-layout__header .mdl-navigation__link {
    line-height: 52px;
  }
}

@media (max-width: 600px) {
  #about .title {
    text-align: center;
  }
  header.mdl-layout__header {
    padding-top: 20%;
  }
}
