@import "../variables";

.wsk-radio {
  position: relative;

  font-size: 16px;
  line-height: $radio-label-height;

  display: inline-block;

  box-sizing: border-box;
  width: 100%;
  margin: 12px 0;
  padding-left: 0;

  &.is-upgraded {
    padding-left: $radio-button-size + $radio-padding;
  }
}

.wsk-radio__button {
  line-height: $radio-label-height;

  .wsk-radio.is-upgraded & {
    // Hide input element, while still making it respond to focus.
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
  }
}

.wsk-radio__outer-circle {
  position: absolute;
  top: $radio-top-offset;
  left: 0;

  display: inline-block;

  box-sizing: border-box;
  width: $radio-button-size;
  height: $radio-button-size;
  margin: 0;

  cursor: pointer;

  border: 2px solid $radio-off-color;
  border-radius: 50%;

  z-index: 2;

  .wsk-radio.is-checked & {
    border: 2px solid $radio-color;
  }

  .wsk-radio.is-disabled & {
    border: 2px solid $radio-disabled-color;
    cursor: auto;
  }
}

.wsk-radio__inner-circle {
  position: absolute;
  z-index: 1;
  margin: 0;
  top: $radio-top-offset + $radio-inner-margin;
  left: $radio-inner-margin;

  box-sizing: border-box;
  width: $radio-button-size - ($radio-inner-margin * 2);
  height: $radio-button-size - ($radio-inner-margin * 2);

  cursor: pointer;

  @include material-animation-default(0.28s);
  transition-property: transform;
  transform: scale3d(0, 0, 0);

  border-radius: 50%;
  background: $radio-color;

  .wsk-radio.is-checked & {
    transform: scale3d(1, 1, 1);
  }

  .wsk-radio.is-disabled & {
    background: $radio-disabled-color;
    cursor: auto;
  }

  .wsk-radio.is-focused & {
    box-shadow: 0 0 0px 10px rgba(0, 0, 0, 0.1);
  }
}

.wsk-radio__label {
  cursor: pointer;

  .wsk-radio.is-disabled & {
    color: $radio-disabled-color;
    cursor: auto;
  }
}

.wsk-radio__ripple-container {
  position: absolute;
  z-index: 2;
  top: -(($radio-ripple-size - $radio-label-height) / 2);
  left: -(($radio-ripple-size - $radio-button-size) / 2);

  box-sizing: border-box;
  width: $radio-ripple-size;
  height: $radio-ripple-size;
  border-radius: 50%;

  cursor: pointer;

  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);

  & .wsk-ripple {
    background: $radio-color;
  }

  .wsk-radio.is-disabled & {
    cursor: auto;
  }

  .wsk-radio.is-disabled & .wsk-ripple {
    background: transparent;
  }
}
