@import url(base.css);

.top-app-bar.large {
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "leading actions" "title title";
}

.top-app-bar.large .title {
  padding-top: 20px;

  font-family: var(--md-sys-typescale-headline-medium-font);
  font-weight: var(--md-sys-typescale-headline-medium-weight);
  font-size: var(--md-sys-typescale-headline-medium-size);
  line-height: var(--md-sys-typescale-headline-medium-line-height);
  letter-spacing: var(--md-sys-typescale-headline-medium-tracking);
}
