<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Material Design Lite</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link href='//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="material.min.css">
    <link rel="stylesheet" href="styles.css">
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout has-drawer is-upgraded">
      <header class="mdl-layout__header mdl-layout__header--scroll mdl-layout__header--transparent is-casting-shadow mdl-color-text--white">
      </header>
      <main class="mdl-layout__content mdl-grid">
        <div class="mdl-card coffee-pic mdl-cell mdl-cell--8-col">
          <div class="mdl-card__media mdl-color-text--grey-50">
            <h3><a href="entry.html">Coffee Pic</a></h3>
          </div>
          <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
            <div class="minilogo"></div>
            <div>
              <strong>The Newist</strong>
              <span>2 days ago</span>
            </div>
          </div>
        </div>
        <div class="mdl-card something-else mdl-cell mdl-cell--8-col mdl-cell--4-col-desktop">
          <button class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent"><i class="material-icons">add</i></button>
          <div class="mdl-card__media mdl-color--white mdl-color-text--grey-600">
            <img src="images/logo.svg" width>
            +1,337
          </div>
          <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
            <div>
              <strong>The Newist</strong>
            </div>
            <ul class="mdl-menu mdl-js-menu" for="menubtn">
              <button class="mdl-menu__item mdl-js-ripple-effect">About</button>
              <button class="mdl-menu__item mdl-js-ripple-effect">Message</button>
              <button class="mdl-menu__item mdl-js-ripple-effect">Favorite</button>
              <button class="mdl-menu__item mdl-js-ripple-effect">Search</button>
            </ul>
            <button id="menubtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons">more_vert</i>
            </button>
          </div>
        </div>
        <div class="mdl-card on-the-road-again mdl-cell mdl-cell--12-col">
          <div class="mdl-card__media mdl-color-text--grey-50">
            <h3><a href="entry.html">On the road again</a></h3>
          </div>
          <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
            Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
          </div>
          <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
            <div class="minilogo"></div>
            <div>
              <strong>The Newist</strong>
              <span>2 days ago</span>
            </div>
          </div>
        </div>
        <div class="mdl-card amazing mdl-cell mdl-cell--12-col">
          <div class="mdl-card__title mdl-color-text--grey-50">
            <h3 class="quote"><a href="entry.html">I couldn’t take any pictures but this was an amazing thing…</a></h3>
          </div>
          <div class="mdl-card__supporting-text mdl-color-text--grey-600">
            Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
          </div>
          <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
            <div class="minilogo"></div>
            <div>
              <strong>The Newist</strong>
              <span>2 days ago</span>
            </div>
          </div>
        </div>
        <div class="mdl-card shopping mdl-cell mdl-cell--12-col">
          <div class="mdl-card__media mdl-color-text--grey-50">
            <h3><a href="entry.html">Shopping</a></h3>
          </div>
          <div class="mdl-card__supporting-text mdl-color-text--grey-600">
            Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
          </div>
          <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
            <div class="minilogo"></div>
            <div>
              <strong>The Newist</strong>
              <span>2 days ago</span>
            </div>
          </div>
        </div>
        <nav class="mdl-cell mdl-cell--12-col">
          <a>
            More
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons">arrow_forward</i>
            </button>
          </a>
        </nav>
      </main>
      <div class="mdl-layout__obfuscator"></div>
    </div>
    <a href="https://github.com/google/material-design-lite/blob/master/templates/blog/index.html" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">View Source</a>
    <script src="../../material.min.js"></script>
  </body>
  <script>
    Array.prototype.forEach.call(document.querySelectorAll('.mdl-card__media'), function(el) {
      var link = el.querySelector('a');
      if(!link) {
        return;
      }
      var target = link.getAttribute('href');
      el.addEventListener('click', function() {
        location.href = target;
      });
    });
  </script>
</html>
