<style>
    .container {
        width: 100%;
        padding: 10px;
        gap: 10px;
        background-color: #eee;
        border-radius: var(--md-sys-shape-small);
    }

    .preview {
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    body.dark-theme .container {
        background-color: #333;
    }
</style>

<div class="container">
    <div class="preview">
        <slot />
    </div>
</div>