/**
*
* Column list
*
**/

.columns-list-wrapper {
  @include wide {
    margin-right: $mediumColWidth;
  }

}

.list--columns {
  border-bottom: 1px solid #ccc;
  padding-bottom: $lineHeight - 1;
  margin-bottom: 1px;

  @include medium {
    column-count: 2;
    column-rule: 0 none transparent;
    column-gap: 0;
  }

  & li,
  & .columns-list-item {
    @include type--small;
    padding: 0;
  }

  & a {
    display:  block;
    position: relative;
    padding-left: 39px;

    &::before {
      line-height: 26px;
    }
  }

}

