@import "../variables";


.wsk-spinner {
  display: inline-block;
  position: relative;
  width: $spinner-size;
  height: $spinner-size;

  &:not(.is-upgraded):after {
    content: "Loading...";
  }

  &.is-upgraded.is-active {
    animation: wsk-spinner__container-rotate $spinner-duration linear infinite;
  }
}

@keyframes wsk-spinner__container-rotate {
  to { transform: rotate(360deg) }
}

.wsk-spinner__layer {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.wsk-spinner__layer-1 {
  border-color: $spinner-color-1;

  .wsk-spinner--single-color & {
    border-color: $spinner-single-color;
  }

  .wsk-spinner.is-active & {
    animation:
        wsk-spinner__fill-unfill-rotate (4 * $spinner-arc-time)
            $animation-curve-fast-out-slow-in infinite both,
        wsk-spinner__layer-1-fade-in-out (4 * $spinner-arc-time)
            $animation-curve-fast-out-slow-in infinite both;
  }
}

.wsk-spinner__layer-2 {
  border-color: $spinner-color-2;

  .wsk-spinner--single-color & {
    border-color: $spinner-single-color;
  }

  .wsk-spinner.is-active & {
    animation:
        wsk-spinner__fill-unfill-rotate (4 * $spinner-arc-time)
            $animation-curve-fast-out-slow-in infinite both,
        wsk-spinner__layer-2-fade-in-out (4 * $spinner-arc-time)
            $animation-curve-fast-out-slow-in infinite both;
  }
}

.wsk-spinner__layer-3 {
  border-color: $spinner-color-3;

  .wsk-spinner--single-color & {
    border-color: $spinner-single-color;
  }

  .wsk-spinner.is-active & {
    animation:
        wsk-spinner__fill-unfill-rotate (4 * $spinner-arc-time)
            $animation-curve-fast-out-slow-in infinite both,
        wsk-spinner__layer-3-fade-in-out (4 * $spinner-arc-time)
            $animation-curve-fast-out-slow-in infinite both;
  }
}

.wsk-spinner__layer-4 {
  border-color: $spinner-color-4;

  .wsk-spinner--single-color & {
    border-color: $spinner-single-color;
  }

  .wsk-spinner.is-active & {
    animation:
        wsk-spinner__fill-unfill-rotate (4 * $spinner-arc-time)
            $animation-curve-fast-out-slow-in infinite both,
        wsk-spinner__layer-4-fade-in-out (4 * $spinner-arc-time)
            $animation-curve-fast-out-slow-in infinite both;
  }
}

@keyframes wsk-spinner__fill-unfill-rotate {
  12.5% { transform: rotate(0.5 * $spinner-arc-size);  }
  25%   { transform: rotate($spinner-arc-size);  }
  37.5% { transform: rotate(1.5 * $spinner-arc-size);  }
  50%   { transform: rotate(2 * $spinner-arc-size);  }
  62.5% { transform: rotate(2.5 * $spinner-arc-size);  }
  75%   { transform: rotate(3 * $spinner-arc-size);  }
  87.5% { transform: rotate(3.5 * $spinner-arc-size); }
  to    { transform: rotate(4 * $spinner-arc-size); }
}

/**
* HACK: Even though the intention is to have the current .wsk-spinner__layer-N
* at `opacity: 1`, we set it to `opacity: 0.99` instead since this forces Chrome
* to do proper subpixel rendering for the elements being animated. This is
* especially visible in Chrome 39 on Ubuntu 14.04. See:
*
* - https://github.com/Polymer/paper-spinner/issues/9
* - https://code.google.com/p/chromium/issues/detail?id=436255
*/
@keyframes wsk-spinner__layer-1-fade-in-out {
  from { opacity: 0.99; }
  25% { opacity: 0.99; }
  26% { opacity: 0; }
  89% { opacity: 0; }
  90% { opacity: 0.99; }
  100% { opacity: 0.99; }
}

@keyframes wsk-spinner__layer-2-fade-in-out {
  from { opacity: 0; }
  15% { opacity: 0; }
  25% { opacity: 0.99; }
  50% { opacity: 0.99; }
  51% { opacity: 0; }
}

@keyframes wsk-spinner__layer-3-fade-in-out {
  from { opacity: 0; }
  40% { opacity: 0; }
  50% { opacity: 0.99; }
  75% { opacity: 0.99; }
  76% { opacity: 0; }
}

@keyframes wsk-spinner__layer-4-fade-in-out {
  from { opacity: 0; }
  65% { opacity: 0; }
  75% { opacity: 0.99; }
  90% { opacity: 0.99; }
  100% { opacity: 0; }
}

/**
* Patch the gap that appear between the two adjacent
* div.wsk-spinner__circle-clipper while the spinner is rotating
* (appears on Chrome 38, Safari 7.1, and IE 11).
*
* Update: the gap no longer appears on Chrome when .wsk-spinner__layer-N's
* opacity is 0.99, but still does on Safari and IE.
*/
.wsk-spinner__gap-patch {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 45%;
  width: 10%;
  height: 100%;
  overflow: hidden;
  border-color: inherit;

  & .wsk-spinner__circle {
    width: 1000%;
    left: -450%;
  }
}

.wsk-spinner__circle-clipper {
  display: inline-block;
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-color: inherit;

  & .wsk-spinner__circle {
    width: 200%;
  }
}

.wsk-spinner__circle {
  box-sizing: border-box;
  height: 100%;
  border-width: $spinner-stroke-width;
  border-style: solid;
  border-color: inherit;
  border-bottom-color: transparent !important;
  border-radius: 50%;
  animation: none;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .wsk-spinner__left & {
    border-right-color: transparent !important;
    transform: rotate(129deg);

    .wsk-spinner.is-active & {
      animation: wsk-spinner__left-spin $spinner-arc-time
          $animation-curve-fast-out-slow-in infinite both;
    }
  }

  .wsk-spinner__right & {
    left: -100%;
    border-left-color: transparent !important;
    transform: rotate(-129deg);

    .wsk-spinner.is-active & {
      animation: wsk-spinner__right-spin $spinner-arc-time
          $animation-curve-fast-out-slow-in infinite both;
    }
  }
}

@keyframes wsk-spinner__left-spin {
  from { transform: rotate(130deg); }
  50% { transform: rotate(-5deg); }
  to { transform: rotate(130deg); }
}

@keyframes wsk-spinner__right-spin {
  from { transform: rotate(-130deg); }
  50% { transform: rotate(5deg); }
  to { transform: rotate(-130deg); }
}
