/**
*
* Main Navigation
*
* Google Web Fundamentals
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

.main-nav {
  background: #ffffff;
  position: relative;

  @include medium {
    background-color: $colorGrayDark;
    box-shadow: 0 2px 0 0 $colorGrayBackground;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  @include small-only {
    .js & {
      display: none;
    }

    .js &.nav-is-opened {
      display: block;
      -webkit-animation: showNav 400ms both;
    }
  }

  @include medium {
    text-align: center;
    @include container(true);
    position: static;
  }
}

.main-nav__item {
  list-style: none;
  display: block;
  background-color: $colorGrayBackground;
  position: static;
  padding-left: 0;


  @include small-only {
    &.main-nav__item--home {
      display: none;
    }

    &.subnav-is-opened {
      background: #ffffff;
    }
  }

  @include medium {
    float: left;
    background-color: transparent;

    &:last-child {
      border-right: none;
    }
  }

  // Remove the padding-top apart from first-child
  &:first-child ~ .main-nav__item {
    padding-top: 0;
  }

  &:first-child a {
    font-weight: 400;
  }

  // Remove list styles
  &:before {
    display: none;
  }
}

.main-nav__link {
  color: $colorGrayDark;
  font-family: $fontHighlight;
  @include type--large;
  margin-bottom: 1px;
  text-decoration: none;

  display: block;

  padding-top: $lineHeight/2;
  padding-bottom: ($lineHeight/2) - 1;

  &:hover {
    text-decoration: none;
  }

  @include small-only {
    @include container(true);
  }

  @include medium {
    margin-bottom: 0;
    color: #ffffff;
    @include type--medium;
    padding: $lineHeight $lineHeight/2 $lineHeight;
    font-weight: 400;

    .main-nav__item--home & {
      padding-left: 0;
    }

    &:hover {
      color: $colorYellowSecondary;
      // box-shadow: 0 0 1px 0 $colorGray;
    }

    .subnav-is-opened > & {
      color: $colorYellow;
    }
  }

  @include wide {
    padding-bottom: $lineHeight;
  }

}

.main-nav__list--child {
  padding-top: 0;
  padding-left: 0;
}

.main-nav__item--child {
  padding-top: 0;
  position: static;
  padding-left: 0;

  &:before {
    display: none;
  }
}

.main-nav__link--child {
  background: #ffffff;
  @include type--base;
  padding-top: $lineHeight/2;
  padding-bottom: ($lineHeight/2) - 1;
  margin-bottom: 0;
  border-bottom: 1px solid $colorGrayKeyline;

  @include small-only {
    padding-left: 10%;
  }

  @include medium {
    color: $colorText;
    border-bottom-color: transparent;
    padding-left: 0;

    // Only override links inside list
    .main-nav__list--child & {
      @include type--large;
    }

    &:hover {
      color: $colorGrayDark;
    }

  }
}


.main-nav__secondary-nav {
  display: none;

  @include medium {
    background-color: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 2px solid $colorGrayDark;
    padding-bottom: ($lineHeight*2) - 2; // remove the 2px border from the padding
    color: $colorText;

  }

  .subnav-is-opened & {
    display: block;
    -webkit-animation: showNav 400ms both;
  }
}


.main-nav__secondary-content {
  @include medium {
    @include container(true);
    text-align: left;
  }
}

.main-nav__link--explore {
  @include style-cta($colorBlue, false);
  display: block;
  line-height: $lineHeight;

  @include small-only {
    border-top: 1px solid $colorGrayKeyline;
  }

  @include medium {
    @include style-cta($colorBlue, $icon-chevron-right);
  }
}

.main-nav__link--explore-wrapper {
  border-bottom: 1px solid $colorGrayKeyline;
}

.main-nav__featured {
  display: none;

  @include medium {
    display: block;
  }
}

.main-nav__featured-text {
  padding-top: 0;
}


.main-nav__btn {
  position: absolute;
  top: 0;
  right: 5%;
  margin: -36px 0 0;
  line-height: 1;

  font-size: $fontLarge;
  background: transparent;
  color: #ffffff;
  padding: 0;
  border: none;
  -webkit-appearance: none;
  outline: none;

  @include medium {
    display: none;
  }
}

.nav-is-opened + .main-nav__btn {
  top: -6px;

  & i:before {
    font-size: $fontMedium;
    content: $icon-close;
  }
}


/*==========  ICONS  ==========*/
.main-nav__icon {
  float: right;
  font-size: $fontBase;
  line-height: $lineHeight;
  vertical-align: middle;

  .main-nav__secondary-nav & {
    font-size: $fontSmall;
  }

  @include medium {
    display: none;
    font-size: $fontSmall;
  }
}

.icon-custom {
  &:before {
    @extend .icon-plus:before;

    @include medium {
      content: $icon-chevron-down;
    }
  }

  @include medium {
    float: none;
    display: inline-block;
    margin-left: 6px;
    vertical-align: top; // middle breaks baseline grid
    position: relative;
    top: 5px;
  }

  .subnav-is-opened & {
    &:before {
      @extend .icon-minus:before;

      @include medium {
        content: $icon-chevron-up;
      }
    }
  }
}

// Wrapping in .main-nav due to specicifity
.main-nav {
  .main-nav__guide-icon {
    display: inline-block;
    vertical-align: top;
    margin-right: 6px;

    @include medium {
      vertical-align: middle;
    }
  }
}

/*==========  CSS ANIMATION  ==========*/
@-webkit-keyframes showNav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

