/**
*
* Main Header
*
**/

.main-header {
  background: $colorGrayDark;
  color: #ffffff;
  position: relative;
  z-index: 2;
}

.main-header__title {
  @include container(true);

  @include type--large;
  padding-top: $lineHeight/2;
  padding-bottom: $lineHeight/2;

  @include small-only {
    box-shadow: 0 2px 0 0 $colorGrayBackground;
  }

  @include medium {
    display: none;
  }

  & a {
    text-decoration: none;
  }
}

.main-header__logo {
  color: #ffffff;
}
