/**
*
* Editorial Header
*
* Google Web Fundamentals
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

.summary-header {
  background-color: $colorBlue;
  padding-bottom: $lineHeight * 3;
  color: #ffffff;
  margin-bottom: $lineHeight;
  @include prefixr(box-shadow, inset 0 2px 0 0 white);

  .breadcrumbs__link {
    color: #ffffff;
  }

}

.summary-header__anchor-list {
  margin-top: $lineHeight * 2;
}


.summary-header__anchors-item {
  & a {
    color: #ffffff;
  }
}
