@import "../palette/palette";

$borderColor: nth($secondaryPalette, 8);
$radioColor: nth($primaryPalette, 6);
$radioRippleColor: rgba($radioColor, 0.26);

$labelHeight: 20px;
$radioButtonSize: 14px;
$radioInnerMargin: 2px;
$padding: 8px;
$topOffset: ($labelHeight - $radioButtonSize) / 2;
$rippleSize: 42px;

.RadioButton {
  display: none;
  visibility: hidden;
  box-sizing: border-box;
}

.RadioButton-label {
  position: relative;

  display: inline-block;

  box-sizing: border-box;
  width: 100%;
  margin: 12px 0;
  padding-left: $radioButtonSize + $padding;

  cursor: pointer;
}

.RadioButton-outerCircle {
  position: absolute;
  top: $topOffset;
  left: 0;

  display: inline-block;

  box-sizing: border-box;
  width: $radioButtonSize - ($radioInnerMargin*2);
  height: $radioButtonSize - ($radioInnerMargin*2);
  margin: $radioInnerMargin;

  cursor: pointer;

  border: 2px solid $borderColor;
  border-radius: 50%;
}

.RadioButton-innerCircle {
  position: absolute;
  z-index: 1;
  top: $topOffset;
  left: 0;

  box-sizing: border-box;
  width: $radioButtonSize;
  height: $radioButtonSize;

  transition: all 0.3s ease-in;
  transform: scale3d(0, 0, 0);

  border-radius: 50%;
  background: $radioColor;
}

.RadioButton:checked ~ .RadioButton-innerCircle {
  transform: scale3d(1, 1, 1);
}

.RadioButton-ripple {
  position: absolute;
  z-index: 2;
  top: -((($rippleSize - $radioButtonSize) / 2) - $topOffset);
  left: -(($rippleSize - $radioButtonSize) / 2);

  box-sizing: border-box;
  width: $rippleSize;
  height: $rippleSize;

  transition: opacity 0.2s ease-in-out;

  opacity: 0;
  border-radius: 50%;
  background: $radioRippleColor;
}

.RadioButton-ripple.RadioButton-isRippling {
  opacity: 1;
}
