@import "../palette/palette";
@import "../animation/animation";
@import "../ripple/ripple";

$radio-border-color: nth($secondaryPalette, 8);
$radio-color: nth($primaryPalette, 6);

$radio-label-height: 20px;
$radio-button-size: 14px;
$radio-inner-margin: 2px;
$radio-padding: 8px;
$radio-top-offset: ($radio-label-height - $radio-button-size) / 2;
$radio-ripple-size: 42px;

.wsk-radio-button {
  display: none;
  visibility: hidden;
  box-sizing: border-box;
}

.wsk-radio-button__label {
  position: relative;

  font-size: 16px;

  display: inline-block;

  box-sizing: border-box;
  width: 100%;
  margin: 12px 0;
  padding-left: $radio-button-size + $radio-padding;

  cursor: pointer;
}

.wsk-radio-button__outer-circle {
  position: absolute;
  top: $radio-top-offset;
  left: 0;

  display: inline-block;

  box-sizing: border-box;
  width: $radio-button-size - ($radio-inner-margin*2);
  height: $radio-button-size - ($radio-inner-margin*2);
  margin: $radio-inner-margin;

  cursor: pointer;

  border: 2px solid $radio-border-color;
  border-radius: 50%;
}

.wsk-radio-button__inner-circle {
  position: absolute;
  z-index: 1;
  top: $radio-top-offset;
  left: 0;

  box-sizing: border-box;
  width: $radio-button-size;
  height: $radio-button-size;

  @include material-animation-default(0.28s);
  transition-property: transform;
  transform: scale3d(0, 0, 0);

  border-radius: 50%;
  background: $radio-color;

  .wsk-radio-button:checked ~ & {
    transform: scale3d(1, 1, 1);
  }
}

.wsk-radio-button__ripple-container {
  position: absolute;
  z-index: 2;
  top: -((($radio-ripple-size - $radio-button-size) / 2) - $radio-top-offset);
  left: -(($radio-ripple-size - $radio-button-size) / 2);

  box-sizing: border-box;
  width: $radio-ripple-size;
  height: $radio-ripple-size;
  border-radius: 50%;

  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);

  & .Ripple {
    background: $radio-color;
  }
}
