@import "../styleguide_demo_bp";
@import 'palette';
@import "../typography/typography";

@mixin demo-palette-color-groups($palette) {
  .demo-palette-color--50 {
    background-color: unquote("rgb(#{nth($palette, 1)})");

    &:after {
      content: 'rgb(#{nth($palette, 1)})';
      float: right;
    }
  }

  .demo-palette-color--100 {
    background-color: unquote("rgb(#{nth($palette, 2)})");

    &:after {
      content: 'rgb(#{nth($palette, 2)})';
      float: right;
    }
  }

  .demo-palette-color--200 {
    background-color: unquote("rgb(#{nth($palette, 3)})");

    &:after {
      content: 'rgb(#{nth($palette, 3)})';
      float: right;
    }
  }

  .demo-palette-color--300 {
    background-color: unquote("rgb(#{nth($palette, 4)})");

    &:after {
      content: 'rgb(#{nth($palette, 4)})';
      float: right;
    }
  }

  .demo-palette-color--400 {
    background-color: unquote("rgb(#{nth($palette, 5)})");

    &:after {
      content: 'rgb(#{nth($palette, 5)})';
      float: right;
    }
  }

  .demo-palette-color--500 {
    background-color: unquote("rgb(#{nth($palette, 6)})");

    &:after {
      content: 'rgb(#{nth($palette, 6)})';
      float: right;
    }
  }

  .demo-palette-color--600 {
    background-color: unquote("rgb(#{nth($palette, 7)})");

    &:after {
      content: 'rgb(#{nth($palette, 7)})';
      float: right;
    }
  }

  .demo-palette-color--700 {
    background-color: unquote("rgb(#{nth($palette, 8)})");

    &:after {
      content: 'rgb(#{nth($palette, 8)})';
      float: right;
    }
  }

  .demo-palette-color--800 {
    background-color: unquote("rgb(#{nth($palette, 9)})");

    &:after {
      content: 'rgb(#{nth($palette, 9)})';
      float: right;
    }
  }

  .demo-palette-color--900 {
    background-color: unquote("rgb(#{nth($palette, 10)})");

    &:after {
      content: 'rgb(#{nth($palette, 10)})';
      float: right;
    }
  }

  @if length($palette) > 10 {
    .demo-palette-color--A100 {
      background-color: unquote("rgb(#{nth($palette, 11)})");

      &:after {
        content: 'rgb(#{nth($palette, 11)})';
        float: right;
      }
    }

    .demo-palette-color--A200 {
      background-color: unquote("rgb(#{nth($palette, 12)})");

      &:after {
        content: 'rgb(#{nth($palette, 12)})';
        float: right;
      }
    }

    .demo-palette-color--A400 {
      background-color: unquote("rgb(#{nth($palette, 13)})");

      &:after {
        content: 'rgb(#{nth($palette, 13)})';
        float: right;
      }
    }

    .demo-palette-color--A700 {
      background-color: unquote("rgb(#{nth($palette, 14)})");

      &:after {
        content: 'rgb(#{nth($palette, 14)})';
        float: right;
      }
    }
  }
}

.demo-page--palette .demo-preview-block {
  display: inline-block;
}

.demo-palette {
  margin-top: 15px;
  width: 360px;
  float: left;

  @media screen and (max-width: 360px ) {
      width: 272px;
  }
}

.demo-palette-color, .demo-palette-heading {
  @include typo-caption();

  max-width: 300px;
  padding: 15px;
  color: white;
}

.demo-palette .demo-palette--dark-text,
.demo-palette-heading.demo-palette--dark-text .demo-palette-name {
  color: #000;
}

.demo-palette-name {
  padding: 0 0 60px 0;
}

.demo-palette-single {
  padding: 15px 15px 25px;

  .demo-palette-name {
    padding: 0;
    float: left;
  }
}

.demo-palette--red {
  @include demo-palette-color-groups($palette-red);
}

.demo-palette--pink {
  @include demo-palette-color-groups($palette-pink);
}

.demo-palette--purple {
  @include demo-palette-color-groups($palette-purple);
}

.demo-palette--deep-purple {
  @include demo-palette-color-groups($palette-deep-purple);
}

.demo-palette--indigo {
  @include demo-palette-color-groups($palette-indigo);
}

.demo-palette--blue {
  @include demo-palette-color-groups($palette-blue);
}

.demo-palette--light-blue {
  @include demo-palette-color-groups($palette-light-blue);
}

.demo-palette--cyan {
  @include demo-palette-color-groups($palette-cyan);
}

.demo-palette--teal {
  @include demo-palette-color-groups($palette-teal);
}

.demo-palette--green {
  @include demo-palette-color-groups($palette-green);
}

.demo-palette--light-green {
  @include demo-palette-color-groups($palette-light-green);
}

.demo-palette--lime {
  @include demo-palette-color-groups($palette-lime);
}

.demo-palette--yellow {
  @include demo-palette-color-groups($palette-yellow);
}

.demo-palette--amber {
  @include demo-palette-color-groups($palette-amber);
}

.demo-palette--orange {
  @include demo-palette-color-groups($palette-orange);
}

.demo-palette--deep-orange {
  @include demo-palette-color-groups($palette-deep-orange);
}

.demo-palette--brown {
  @include demo-palette-color-groups($palette-brown);
}

.demo-palette--grey {
  @include demo-palette-color-groups($palette-grey);
}

.demo-palette--blue-grey {
  @include demo-palette-color-groups($palette-blue-grey);
}

.demo-palette--black {
  .demo-palette-color {
    background-color: #000000;

    &:after {
      content: '#000000';
      float: right;
    }
  }
}

.demo-palette--black-text {
  .demo-palette-color {
    background-color: #000000;

    &:after {
      content: '#000000';
      float: right;
    }
  }

  .demo-palette-color--100 {
    background-color: unquote("rgb(#{nth($palette-black, 1)})");

    &:after {
      content: '#000000';
      float: right;
    }
  }

  .demo-palette-color--12 {
    background-color: unquote("rgba(#{nth($palette-black, 5)})");

    &:after {
      content: 'Dividers';
      float: right;
    }
  }

  .demo-palette-color--26 {
    background-color: unquote("rgba(#{nth($palette-black, 4)})");

    &:after {
      content: 'Disabled / Hint Text';
      float: right;
    }
  }

  .demo-palette-color--54 {
    background-color: unquote("rgba(#{nth($palette-black, 3)})");

    &:after {
      content: 'Secondary Text / Icons';
      float: right;
    }
  }

  .demo-palette-color--87 {
    background-color: unquote("rgba(#{nth($palette-black, 2)})");

    &:after {
      content: 'Text';
      float: right;
    }
  }
}

.demo-palette--white-text {
  .demo-palette-color {
    background-color: #ffffff;

    &:after {
      content: '#FFFFFF';
      float: right;
    }
  }

  .demo-palette-color--12 {
    background-color: unquote("rgba(#{nth($palette-white, 4)})");

    &:after {
      content: 'Dividers';
      float: right;
    }
  }

  .demo-palette-color--30 {
    background-color: unquote("rgba(#{nth($palette-white, 3)})");

    &:after {
      content: 'Disabled / Hint Text';
      float: right;
    }
  }

  .demo-palette-color--70 {
    background-color: unquote("rgba(#{nth($palette-white, 2)})");

    &:after {
      content: 'Secondary Text';
      float: right;
    }
  }

  .demo-palette-color--100 {
    background-color: unquote("rgba(#{nth($palette-white, 1)})");

    &:after {
      content: 'Text / Icons';
      float: right;
    }
  }
}
