@import '../palette/palette';
@import '../shadow/shadow';
@import '../typography/typography';
@import '../animation/animation';

// Colors
$layout-drawer-bg-color: nth($palette-page, 1);
$layout-drawer-border-color: nth($palette-page, 4);
$layout-text-color: nth($palette-page, 9);

$layout-header-bg-color: nth($palette-primary, 6);
$layout-header-text-color: nth($palette-page, 3);

// Dimensions
$layout-drawer-narrow: 240px;
$layout-drawer-wide: 456px;
$layout-drawer-width: $layout-drawer-narrow;

$layout-horizontal-padding: 24px;

$layout-header-row-height: 60px;
$layout-header-height: $layout-header-row-height;
$layout-screen-size-threshold: 850px;


// Navigation classes. Only used here for now, but we may at some point move
// this to its own component.
.wsk-navigation {
  display: flex;
  flex-wrap: nowrap;
}

.wsk-navigation__link {
  color: $layout-text-color;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  margin: 0;
}

.wsk-navigation__link:hover {
  background-color: nth($palette-page, 4);
}


// Main layout class.
.wsk-layout {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

  // Optional utility classes for formatting special blocks in this component.
  .wsk-layout-title {
    display: block;
    @include typo-title();
    box-sizing: border-box;
  }

  .wsk-layout-spacer {
    flex-grow: 1;
  }


  // Drawer.
  .wsk-layout__drawer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    width: $layout-drawer-width;
    height: 100%;
    max-height: 100%;

    position: absolute;
    top: 0px;
    left: 0px;

    @include shadow-z1();

    box-sizing: border-box;
    border-right: 1px solid $layout-drawer-border-color;
    background: $layout-drawer-bg-color;

    // Transform offscreen.
    transform: translateX(-$layout-drawer-width - 10px);
    transform-style: preserve-3d;
    will-change: transform;

    @include material-animation-default();
    transition-property: transform;

    color: nth($palette-page, 9);

    overflow-x: hidden;
    overflow-y: auto;

    z-index: 5;

    &.is-visible {
      transform: translateX(0px);
    }

    & > * {
      flex-shrink: 0;
    }

    & > .wsk-layout-title {
      line-height: $layout-header-height;
      padding-left: $layout-horizontal-padding;
      border-bottom: 1px solid $layout-drawer-border-color;
    }

    & .wsk-navigation {
      width: 100%;
      flex-direction: column;
    }

    & .wsk-navigation__link {
      padding: 16px $layout-horizontal-padding;
      margin: 0;
    }

    @media screen and (min-width: $layout-screen-size-threshold + 1px) {
      .wsk-layout--fixed-drawer > & {
        transform: translateX(0px);
        z-index: 2;
      }
    }
  }


  // Drawer button.
  // TODO(sgomes): Replace with an icon button when we have that component.
  .wsk-layout__drawer-button {
    display: block;

    position: relative;
    height: 32px;
    width: 32px;
    border: 0;

    flex-shrink: 0;

    overflow: hidden;
    font-size: 26px;
    line-height: 32px;
    font-family: Helvetica, Arial, sans-serif;
    margin: 8px;

    color: rgba(0, 0, 0, 0.5);

    z-index: 3;

    &:after {
      // TODO(sgomes): Replace with proper menu icon once we have an icon font.
      content: '☰';
    }

    .wsk-layout--overlay-drawer-button > & {
      position: absolute;
      top: 0;
      left: 0;
    }

    .wsk-layout__header & {
      position: relative;
      top: 0;
      left: 0;
      margin: 0 16px 0 0;
      color: $layout-header-text-color;
    }

    @media screen and (min-width: $layout-screen-size-threshold + 1px) {
      display: none;
    }
  }


  // Header.
  .wsk-layout__header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0;
    border: 0;
    height: 60px;
    min-height: $layout-header-height;
    background-color: $layout-header-bg-color;
    color: $layout-header-text-color;
    z-index: 3;
    @include material-animation-default();
    transition-property: min-height, box-shadow;
    padding-left: 16px;
    overflow: hidden;

    &.is-compact {
      min-height: $layout-header-row-height;
    }

    &.is-casting-shadow {
      @include shadow-z1();
    }

    & > * {
      flex-shrink: 0;
    }

    // Add a margin to the last entry...
    & > *:last-child {
      margin-right: $layout-horizontal-padding;
    }

    // ...unless it's a navigation area.
    & > .wsk-navigation:last-child {
      margin-right: 0;
    }

    & .wsk-layout-title {
      display: block;
      @include typo-title();
    }

    & .wsk-navigation {
      margin: 0;
      padding: 0;
      height: $layout-header-row-height;
      flex-direction: row;
      align-items: center;
    }

    & .wsk-navigation__link {
      color: $layout-header-text-color;
      line-height: $layout-header-row-height;
      padding: 0 16px;
    }

    & .wsk-navigation__link:hover {
      background-color: rgba(nth($palette-grey, 8), 0.6);
    }

    @media screen and (min-width: $layout-screen-size-threshold + 1px) {
      .wsk-layout--fixed-drawer > & {
        margin-left: $layout-drawer-width;
      }
    }

    @media screen and (max-width: $layout-screen-size-threshold) {
      & {
        display: none;
      }

      .wsk-layout--fixed-header > & {
        display: flex;
      }
    }
  }

    .wsk-layout__header--transparent {
      background-color: transparent;
    }

    .wsk-layout__header--multi-row {
      flex-direction: column;
    }

    .wsk-layout__header--medium-tall {
      min-height: 2 * $layout-header-row-height;
    }

    .wsk-layout__header--tall {
      min-height: 3 * $layout-header-row-height;
    }

    .wsk-layout__header--transparent.is-casting-shadow {
      box-shadow: none;
    }

    // Declared twice to bump rule priority.
    .wsk-layout__header-row.wsk-layout__header-row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      flex-shrink: 0;
      align-items: center;
      min-height: $layout-header-row-height;
      width: 100%;
      margin-right: 0;

      & > * {
        flex-shrink: 0;
      }

      // Add a margin to the last entry...
      & > *:last-child {
        margin-right: $layout-horizontal-padding;
      }

      // ...unless it's a navigation area.
      & > .wsk-navigation:last-child {
        margin-right: 0;
      }
    }

  // Obfuscator.
  @media screen and (max-width: $layout-screen-size-threshold) {
    .wsk-layout__obfuscator {
      background-color: transparent;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 4;
      visibility: hidden;
      transition-property: background-color;
      @include material-animation-default();

      .wsk-layout__drawer.is-visible ~ & {
        background-color: rgba(0, 0, 0, 0.5);
        visibility: visible;
      }
    }
  }


  // Content.
  .wsk-layout__content {
    // Fix IE10 bug.
    -ms-flex: 0 1 auto;

    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
    z-index: 1;

    .wsk-layout--fixed-drawer > & {
      margin-left: $layout-drawer-width;
    }

    .wsk-layout__header--scroll ~ & {
      overflow: visible;
    }

    @media screen and (max-width: $layout-screen-size-threshold) {
      .wsk-layout--fixed-drawer > & {
        margin-left: 0;
      }

      .wsk-layout__header--scroll ~ & {
        overflow-y: auto;
        overflow-x: hidden;
      }
    }
  }
