@import '../styleguide_demo_bp';
@import '_layout';
@import '../textfield/_textfield';
@import '../animation/animation';
@import '../palette/palette';

.demo-container {
  width: 100%;
  float: left;
  margin: 0 40px 40px 0;
  border: 1px solid #888888;
}

.demo-content {
  height: 1000px;
  background: linear-gradient(nth($palette-primary, 2), nth($palette-primary, 1));
  padding: 8px;
}

.demo-content-red {
  height: 1000px;
  background: linear-gradient(nth($palette-red, 2), nth($palette-red, 1));
  padding: 8px;
}

.demo-content-green {
  height: 1000px;
  background: linear-gradient(nth($palette-green, 2), nth($palette-green, 1));
  padding: 8px;
}

.wsk-layout {
  height: 500px;
}

// Styles for fixed drawer demos.
.wsk-layout__header .wsk-textfield-expandable-icon {
  border-color: nth($palette-page, 3);
  border-radius: 50%;
}

.wsk-layout__header .wsk-textfield-expandable-icon:hover {
  background-color: rgba(nth($palette-grey, 8), 0.6);
}

.wsk-layout__header .wsk-textfield {
  color: nth($palette-page, 3);
}

// Styles for fixed header demo.
.wsk-layout.is-small-screen #fixed_header_nav {
  visibility: hidden;
}

// Styles for multi-row layout demo.
#my_text_changes {
  @include typo-display-1;
  transition-property: font-size;
  @include material-animation-default();
}

#compact_navigation {
  visibility: hidden;
}

#expanded_navigation {
  visibility: visible;
}

.wsk-layout__header.is-compact #my_text_changes {
  @include typo-title;
}

.wsk-layout__header.is-compact #compact_navigation {
  visibility: visible;
}

.wsk-layout__header.is-compact #expanded_navigation {
  visibility: hidden;
}

.wsk-layout__header.is-compact #my_text_changes:after {
  content: " \0000a0 > \0000a0 Multi-row layout demo";
}

// Styles for transparent header demo.
#transparent_demo {
  background-color: #948d85;
  background-image: url('images/desktop-handsfree-hero.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;

  background-position: center 0%;
}
