<header class="top-app-bar small" style="min-width: 400px">
    <button class="icon leading">
        <i class="material-symbols-outlined">arrow_back</i>
    </button>
    <span class="title">Title Large</span>
    <div class="actions">
        <button class="icon">
            <i class="material-symbols-outlined">info_outline</i>
        </button>
        <button class="icon">
            <i class="material-symbols-outlined">filter_list</i>
        </button>
        <button class="icon">
            <i class="material-symbols-outlined">settings</i>
        </button>
    </div>
</header>