h1, h2, h3 {
  margin-bottom: 30px;
}

.mdl-card h1, .mdl-card h2, .mdl-card h3 {
  margin-bottom: inherit;
}

p {
  margin-bottom: 20px;
  letter-spacing: .1px;
}

.demo-layout__content {
  padding-top: 80px;
  padding-bottom: 100px;
  max-width: 1160px;
  margin: auto;
}
