@import "../styleguide_demo_bp";
@import "../button/button";
@import "../icons/icons";
@import "_textfield";

.demo-page--textfield textarea {
  overflow: auto;
  resize: none;
}

.demo-page--textfield .wsk-textfield {
  display: block;
  margin: 30px 0;
}
