<section>
  <h2 class="title-large">Theme Options</h2>

  <div class="option">
    <label for="source">Source Color</label>
    <input id="source" type="color" />
  </div>

  <div class="option segmented-button">
    <input type="radio" name="brightness" value="light" id="light" checked />
    <label for="light">
      <i class="material-icons">light_mode</i>
      <span>Light</span>
    </label>

    <input type="radio" name="brightness" value="dark" id="dark" />
    <label for="dark">
      <i class="material-icons">dark_mode</i>
      <span>Dark</span>
    </label>
  </div>
</section>

<style>
  section {
    padding: 20px;

    width: 100%;
    height: 100%;
  }

  h2 {
    padding-bottom: 20px;
  }

  .option {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 20px;
  }
</style>

<script>
  import { generateTheme } from "../utils/color";
  // Source
  const source = document.querySelector("#source") as HTMLInputElement;
  const themeMeta = document.querySelector('meta[name="theme-color"]')!;
  let styleTarget = document.head.querySelector(
    "style[data-theme]"
  ) as HTMLStyleElement | null;
  if (!styleTarget) {
    styleTarget = document.createElement("style");
    styleTarget.setAttribute("data-theme", "");
    document.head.appendChild(styleTarget);
  }
  source.addEventListener("input", () => {
    const color = source.value;
    document.documentElement.style.setProperty("--md-source", color);
    themeMeta.setAttribute("content", color);
    generateTheme(color, styleTarget!);
  });
  const color = themeMeta.getAttribute("content")!;
  source.value = color;
  generateTheme(color, styleTarget);

  // Brightness
  const light = document.querySelector("#light") as HTMLInputElement;
  const dark = document.querySelector("#dark") as HTMLInputElement;
  const prefersDark = window.matchMedia("(prefers-color-scheme: dark)");
  light.addEventListener("change", () => {
    document.body.classList.remove("dark-theme");
    document.body.classList.add("light-theme");
  });
  dark.addEventListener("change", () => {
    document.body.classList.remove("light-theme");
    document.body.classList.add("dark-theme");
  });
  if (prefersDark.matches) {
    document.body.classList.add("dark-theme");
  } else {
    document.body.classList.add("light-theme");
  }
</script>
