<input #nativeCb type="checkbox"
       class="md-checkbox__native-control"
       [attr.aria-labelledby]="labelId"
       [(ngModel)]="ngModel"
       [checked]="checked"
       [indeterminate]="indeterminate"
       (change)="handleChange($event)"/>
<div class="md-checkbox__frame"></div>
<div class="md-checkbox__background">
  <svg version="1.1"
       class="md-checkbox__checkmark"
       xmlns="http://www.w3.org/2000/svg"
       viewBox="0 0 24 24">
    <path class="md-checkbox__checkmark__path"
          fill="none"
          stroke="white"
          d="M4.1,12.7 9,17.6 20.3,6.3"/>
  </svg>
  <div class="md-checkbox__mixedmark"></div>
</div>
