@import "../styleguide_demo_bp";
@import 'sidenav';

$vertical-padding: 16px;
$horizontal-padding: 24px;
$sidenav-item-border-color: #e0e0e0;

body {
  width: 100%;
  height: 500px;

  padding: 0;
}

h1 {
  padding: 73px 16px 0px 16px;
}

.sidenav-container .logo {
  font-size: 24px;
  padding: 18px $horizontal-padding 18px $horizontal-padding;

  border-bottom: 1px solid $sidenav-item-border-color;
}

.sidenav-container ul {
  margin: 0;
  padding: 0;

  list-style-type: none;

  li {
    padding: $vertical-padding $horizontal-padding;

    font-weight: 500;
  }
}
