<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Material Design Lite</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link href='//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="material.min.css">
    <link rel="stylesheet" href="styles.css">
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>
  </head>
  <body>
    <div class="mdl-layout mdl-layout--fixed-drawer">
      <header class="mdl-layout__header mdl-color--white mdl-color-text--grey-600">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
          <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
            <span class="mdl-icon--search"></span>
          </label>
          <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" id="search" />
            <label class="mdl-textfield__label" for="expando1">Enter your query...</label>
          </div>
        </div>
        <span class="mdl-layout-title">Home</span>
        <div class="mdl-layout-spacer"></div>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn"><span class="mdl-icon mdl-icon--more-vert"></span></button>
        <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
          <button class="mdl-menu__item">What is </button>
          <button class="mdl-menu__item">supposed to </button>
          <button class="mdl-menu__item">be here?</button>
        </ul>
      </header>
      <div class="mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header>
          <img src="images/user.jpg" class="avatar">
          <div>
            <span>hello@email.com</span>
            <div class="mdl-layout-spacer"></div>
            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"><span class="mdl-icon mdl-icon--arrow-drop-down"></span></button>
            <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect" for="accbtn">
              <button class="mdl-menu__item">hello@email.com</button>
              <button class="mdl-menu__item">info@domain.net</button>
              <button class="mdl-menu__item"><span class="mdl-icon mdl-icon--add"></span> Add another account...</button>
            </ul>
          </div>
        </header>
        <nav class="mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link" href=""><span class="mdl-color-text--blue-grey-400 mdl-icon mdl-icon--home"></span>Home</a>
          <a class="mdl-navigation__link" href=""><span class="mdl-color-text--blue-grey-400 mdl-icon mdl-icon--inbox"></span>Inbox</a>
          <a class="mdl-navigation__link" href=""><span class="mdl-color-text--blue-grey-400 mdl-icon mdl-icon--delete"></span>Trash</a>
          <a class="mdl-navigation__link" href=""><span class="mdl-color-text--blue-grey-400 mdl-icon mdl-icon--report"></span>Spam</a>
          <a class="mdl-navigation__link" href=""><span class="mdl-color-text--blue-grey-400 mdl-icon mdl-icon--forum"></span>Forums</a>
          <a class="mdl-navigation__link" href=""><span class="mdl-color-text--blue-grey-400 mdl-icon mdl-icon--flag"></span>Updates</a>
          <a class="mdl-navigation__link" href=""><span class="mdl-color-text--blue-grey-400 mdl-icon mdl-icon--local-offer"></span>Promos</a>
          <a class="mdl-navigation__link" href=""><span class="mdl-color-text--blue-grey-400 mdl-icon mdl-icon--shopping-cart"></span>Purchases</a>
          <a class="mdl-navigation__link" href=""><span class="mdl-color-text--blue-grey-400 mdl-icon mdl-icon--people"></span>Social</a>
          <div class="mdl-layout-spacer"></div>
          <a class="mdl-navigation__link" href=""><span class="mdl-color-text--blue-grey-400 mdl-icon mdl-icon--help"></span></a>
        </nav>
      </div>
      <main class="mdl-layout__content mdl-color--grey-100 mdl-grid">
        <div class="charts mdl-color--white mdl-shadow--z1 mdl-cell mdl-cell--12-col mdl-grid mdl-grid">
          <svg width="200px" height="200px" viewBox="0 0 1 1" class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
            <use xlink:href="#piechart" mask="url(#piemask)" />
            <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" alignment-baseline="middle">82%</text>
          </svg>
          <svg width="200px" height="200px" viewBox="0 0 1 1" class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
            <use xlink:href="#piechart" mask="url(#piemask)" />
            <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" alignment-baseline="middle">82%</text>
          </svg>
          <svg width="200px" height="200px" viewBox="0 0 1 1" class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
            <use xlink:href="#piechart" mask="url(#piemask)" />
            <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" alignment-baseline="middle">82%</text>
          </svg>
          <svg width="200px" height="200px" viewBox="0 0 1 1" class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
            <use xlink:href="#piechart" mask="url(#piemask)" />
            <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" alignment-baseline="middle">82%</text>
          </svg>
        </div>
        <div class="graphs mdl-shadow--z1 mdl-color--white mdl-cell mdl-cell--8-col">
          <img src="images/graph1.png">
          <img src="images/graph2.png">
        </div>
        <div class="cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid">
          <div class="mdl-card mdl-shadow--z1 mdl-cell mdl-cell--4-col mdl-cell--12-col-desktop">
            <div class="mdl-card--heading mdl-color--teal-300 dog">
              <h2 class="mdl-card--heading-text">Updates</h2>
            </div>
            <div class="mdl-card--lower mdl-color-text--grey-600">
              Non dolore elit adipisicing ea reprehenderit consectetur culpa.
            </div>
            <div class="mdl-card--bottom ">
              <a href="#">Read More</a>
            </div>
          </div>
          <div class="mdl-card mdl-color--deep-purple-500 mdl-shadow--z1 mdl-cell mdl-cell--4-col mdl-cell--12-col-desktop">
            <div class="mdl-card--lower mdl-color-text--blue-grey-50">
              <h3>View options</h3>
              <ul>
                <label for="chkbox1" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                  <input type="checkbox" id="chkbox1" class="mdl-checkbox__input" />
                  <span class="mdl-checkbox__label">Click per object</span>
                </label>
                <label for="chkbox2" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                  <input type="checkbox" id="chkbox2" class="mdl-checkbox__input" />
                  <span class="mdl-checkbox__label">Views per object</span>
                </label>
                <label for="chkbox3" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                  <input type="checkbox" id="chkbox3" class="mdl-checkbox__input" />
                  <span class="mdl-checkbox__label">Objects selected</span>
                </label>
                <label for="chkbox4" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                  <input type="checkbox" id="chkbox4" class="mdl-checkbox__input" />
                  <span class="mdl-checkbox__label">Objects viewed</span>
                </label>
              </ul>
            </div>
            <div class="mdl-card--bottom">
              <a href="#" class=" mdl-color-text--blue-grey-50">Change location</a>
              <div class="mdl-layout-spacer"></div>
              <span class="mdl-icon mdl-icon--location-on"></span>
            </div>
          </div>
        </div>
      </main>
    </div>
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" style="position: fixed; left: -1000px; height: -1000px;">
        <defs>
          <mask id="piemask" maskContentUnits="objectBoundingBox">
            <circle cx=0.5 cy=0.5 r=0.49 fill="white" />
            <circle cx=0.5 cy=0.5 r=0.40 fill="black" />
          </mask>
          <g id="piechart">
            <circle cx=0.5 cy=0.5 r=0.5 />
            <path d="M 0.5 0.5 0.5 0 A 0.5 0.5 0 0 1 0.95 0.28 z" stroke="none" fill="rgba(255, 255, 255, 0.75)" />
          </g>
        </defs>
      </svg>
    <a href="https://github.com/google/material-design-lite/blob/master/templates/dashboard/index.html" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-js-ripple-effect mdl-color--accent"><span class="mdl-icon mdl-icon--pageview"/></a>
    <script src="/material.min.js"></script>
  </body>
</html>
