html, body {
  height: 100%;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.mdl-layout__header {
  padding: 0 16px;
  overflow: visible;
}
.mdl-layout__drawer {
  overflow: visible;
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.mdl-layout__drawer > header {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.mdl-layout__drawer > header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mdl-layout__drawer nav a {
  color: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mdl-layout__drawer nav a .mdl-icon {
  font-size: 1.5em;
  margin-right: 16px;
}
.mdl-layout__drawer .mdl-navigation {
  flex-grow: 1;
}

.mdl-layout__content {
padding: 16px;
}
.charts {
  box-sizing: border-box;
  padding: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.charts svg:nth-child(1) {
  fill: #ACEC00;
}
.charts svg:nth-child(2) {
  fill: #00BBD6;
}
.charts svg:nth-child(3) {
  fill: #BA65C9;
}
.charts svg:nth-child(4) {
  fill: #EF3C79;
}
