html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica", sans-serif;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.mdl-layout__header {
  padding: 0 16px;
  overflow: visible;
}
.mdl-layout__header .mdl-layout__header-row {
  padding-left: 32px;
}
.mdl-layout__header .mdl-layout-title {
  margin-left: 24px;
}
.mdl-layout__drawer {
  overflow: visible;
  width: 256px;
}
.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.demo-layout .mdl-layout__header .mdl-layout__header-row {
  padding-left: 40px;
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.mdl-layout__drawer > header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  height: 151px;
}
.mdl-layout__drawer > header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mdl-layout__drawer nav a {
  color: inherit;
  display: flex !important;
  flex-direction: row;
  align-items: center;
}
.mdl-layout__drawer nav a .material-icons {
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}
.mdl-layout__drawer .mdl-navigation {
  flex-grow: 1;
}

.mdl-layout__content {
  padding: 16px;
  display: flex;
}
.charts {
  align-items: center;
}
.charts svg:nth-child(1) {
  fill: #ACEC00;
}
.charts svg:nth-child(2) {
  fill: #00BBD6;
}
.charts svg:nth-child(3) {
  fill: #BA65C9;
}
.charts svg:nth-child(4) {
  fill: #EF3C79;
}
.graphs {
  padding: 32px;
}
.graphs img {
  width: 100%;
  height: auto;
  margin-bottom: 80px;
}
.graph {
  width:100%;
  height: auto;
}
.graph:nth-child(1) {
  fill: #00b9d8;
}
.graph:nth-child(2) {
  fill: #d9006e;
}

.cards {
  align-items: flex-start;
  align-content: flex-start;
}
.cards .mdl-card {
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px !important;
}
.cards .mdl-card__title {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  flex-grow: 1;
}
.cards .mdl-card__supporting-text {
  height: auto;
  flex-grow: 0;
}
.cards .mdl-card__title h2 {
  height: auto;
  align-self: flex-end;
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.cards ul {
  padding: 0;
}
.cards h3 {
  font-size: 1em;
}
.cards .dog {
  height: 200px;
  background-image: url('images/dog.png');
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}
.demo-card--black-line {
  border-top: 1px solid rgba(0, 0, 0, 0.24);
}
.demo-card--white-line {
  border-top: 1px solid rgba(255, 255, 255, 0.24);
}
.cards .options h3 {
  margin: 0;
}
.cards .options .mdl-checkbox .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.cards .options .mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
  background: rgba(255, 255, 255, 0.89);
}
.cards .options ul {
  margin: 0;
}
.cards .options .mdl-checkbox {
  margin-bottom: 0;
}
.cards .options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.cards .options .mdl-card__actions {
  height: 64px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
