@import "palette/palette";

$styleguide-generate-template: false !default;

/* ==========  Color & Themes  ========== */

// Use color primarily for emphasis. Choose colors that fit with
// your brand and provide good contrast between visual components.

@if $styleguide-generate-template == false {
  $palette-primary: $palette-indigo !default;
  $palette-accent: $palette-pink !default;
  $palette-secondary: $palette-grey !default;
} @else {
  $palette-primary:
    '$palette-primary-50'
    '$palette-primary-100'
    '$palette-primary-200'
    '$palette-primary-300'
    '$palette-primary-400'
    '$palette-primary-500'
    '$palette-primary-600'
    '$palette-primary-700'
    '$palette-primary-800'
    '$palette-primary-900'
    '$palette-primary-A100'
    '$palette-primary-A200'
    '$palette-primary-A400'
    '$palette-primary-A700';
  $palette-accent:
    '$palette-accent-50'
    '$palette-accent-100'
    '$palette-accent-200'
    '$palette-accent-300'
    '$palette-accent-400'
    '$palette-accent-500'
    '$palette-accent-600'
    '$palette-accent-700'
    '$palette-accent-800'
    '$palette-accent-900'
    '$palette-accent-A100'
    '$palette-accent-A200'
    '$palette-accent-A400'
    '$palette-accent-A700';
  $palette-secondary:
    '$palette-secondary-50'
    '$palette-secondary-100'
    '$palette-secondary-200'
    '$palette-secondary-300'
    '$palette-secondary-400'
    '$palette-secondary-500'
    '$palette-secondary-600'
    '$palette-secondary-700'
    '$palette-secondary-800'
    '$palette-secondary-900'
    '$palette-secondary-A100'
    '$palette-secondary-A200'
    '$palette-secondary-A400'
    '$palette-secondary-A700';
}

$palette-disabled: $palette-grey !default;
$palette-page: $palette-grey !default;

$palette-primary-50: nth($palette-primary, 1);
$palette-primary-100: nth($palette-primary, 2);
$palette-primary-200: nth($palette-primary, 3);
$palette-primary-300: nth($palette-primary, 4);
$palette-primary-400: nth($palette-primary, 5);
$palette-primary-500: nth($palette-primary, 6);
$palette-primary-600: nth($palette-primary, 7);
$palette-primary-700: nth($palette-primary, 8);
$palette-primary-800: nth($palette-primary, 9);
$palette-primary-900: nth($palette-primary, 10);
@if length($palette-primary) > 10 {
  $palette-primary-A100: nth($palette-primary, 11);
  $palette-primary-A200: nth($palette-primary, 12);
  $palette-primary-A400: nth($palette-primary, 13);
  $palette-primary-A700: nth($palette-primary, 14);
}

$palette-accent-50: nth($palette-accent, 1);
$palette-accent-100: nth($palette-accent, 2);
$palette-accent-200: nth($palette-accent, 3);
$palette-accent-300: nth($palette-accent, 4);
$palette-accent-400: nth($palette-accent, 5);
$palette-accent-500: nth($palette-accent, 6);
$palette-accent-600: nth($palette-accent, 7);
$palette-accent-700: nth($palette-accent, 8);
$palette-accent-800: nth($palette-accent, 9);
$palette-accent-900: nth($palette-accent, 10);
@if length($palette-accent) > 10 {
  $palette-accent-A100: nth($palette-accent, 11);
  $palette-accent-A200: nth($palette-accent, 12);
  $palette-accent-A400: nth($palette-accent, 13);
  $palette-accent-A700: nth($palette-accent, 14);
}

$palette-secondary-50: nth($palette-secondary, 1);
$palette-secondary-100: nth($palette-secondary, 2);
$palette-secondary-200: nth($palette-secondary, 3);
$palette-secondary-300: nth($palette-secondary, 4);
$palette-secondary-400: nth($palette-secondary, 5);
$palette-secondary-500: nth($palette-secondary, 6);
$palette-secondary-600: nth($palette-secondary, 7);
$palette-secondary-700: nth($palette-secondary, 8);
$palette-secondary-800: nth($palette-secondary, 9);
$palette-secondary-900: nth($palette-secondary, 10);
@if length($palette-secondary) > 10 {
  $palette-secondary-A100: nth($palette-secondary, 11);
  $palette-secondary-A200: nth($palette-secondary, 12);
  $palette-secondary-A400: nth($palette-secondary, 13);
  $palette-secondary-A700: nth($palette-secondary, 14);
}

$palette-disabled-50: nth($palette-disabled, 1);
$palette-disabled-100: nth($palette-disabled, 2);
$palette-disabled-200: nth($palette-disabled, 3);
$palette-disabled-300: nth($palette-disabled, 4);
$palette-disabled-400: nth($palette-disabled, 5);
$palette-disabled-500: nth($palette-disabled, 6);
$palette-disabled-600: nth($palette-disabled, 7);
$palette-disabled-700: nth($palette-disabled, 8);
$palette-disabled-800: nth($palette-disabled, 9);
$palette-disabled-900: nth($palette-disabled, 10);
@if length($palette-disabled) > 10 {
  $palette-disabled-A100: nth($palette-disabled, 11);
  $palette-disabled-A200: nth($palette-disabled, 12);
  $palette-disabled-A400: nth($palette-disabled, 13);
  $palette-disabled-A700: nth($palette-disabled, 14);
}

$palette-page-50: nth($palette-page, 1);
$palette-page-100: nth($palette-page, 2);
$palette-page-200: nth($palette-page, 3);
$palette-page-300: nth($palette-page, 4);
$palette-page-400: nth($palette-page, 5);
$palette-page-500: nth($palette-page, 6);
$palette-page-600: nth($palette-page, 7);
$palette-page-700: nth($palette-page, 8);
$palette-page-800: nth($palette-page, 9);
$palette-page-900: nth($palette-page, 10);
@if length($palette-page) > 10 {
  $palette-page-A100: nth($palette-page, 11);
  $palette-page-A200: nth($palette-page, 12);
  $palette-page-A400: nth($palette-page, 13);
  $palette-page-A700: nth($palette-page, 14);
}

/* ==========  Typography  ========== */

// We use the following default color styles: text-color-primary and
// text-color-secondary. For light themes, use text-color-primary-inverse
// and text-color-secondary-inverse.

$text-color-primary: rgb(66,66,66) !default;
$text-color-secondary: rgb(158,158,158) !default;
$text-color-primary-inverse: invert($text-color-primary) !default;
$text-color-secondary-inverse: invert($text-color-secondary) !default;

/* ==========  Components  ========== */

/* ==========  Standard Buttons  ========== */

// Default button colors.
$button-primary-color: rgba(#999999, 0.20) !default;
$button-secondary-color: #000 !default;
$button-hover-color: $button-primary-color !default;
$button-active-color: rgba(#999999, 0.40) !default;
$button-focus-color: rgba(black, 0.12) !default;

// Colored button colors.
$button-primary-color-alt: unquote("rgb(#{$palette-primary-500})") !default;
$button-secondary-color-alt: #fff !default;
$button-hover-color-alt: unquote("rgb(#{$palette-primary-600})") !default;
$button-active-color-alt: unquote("rgb(#{$palette-primary-700})") !default;
$button-focus-color-alt: $button-focus-color !default;

// Ripple color for colored raised buttons and FABs.
$button-ripple-color-alt: white !default;

// Disabled button colors.
$button-primary-color-disabled: rgba(#000, 0.12) !default;
$button-secondary-color-disabled: rgba(#000, 0.26) !default;

// FAB colors and sizes.
$button-fab-color-alt: unquote("rgb(#{$palette-accent-400})") !default;
$button-fab-hover-color-alt: unquote("rgb(#{$palette-accent-500})") !default;
$button-fab-active-color-alt: unquote("rgb(#{$palette-accent-600})") !default;

// Icon button colors and sizes.
$button-icon-color: unquote("rgb(#{$palette-grey-700})") !default;
$button-icon-focus-color: $button-focus-color !default;

/* ==========  Icon Toggles  ========== */

$icon-toggle-color: unquote("rgb(#{$palette-grey-700})") !default;
$icon-toggle-focus-color: $button-focus-color !default;
$icon-toggle-checked-color: unquote("rgb(#{$palette-primary-500})") !default;
$icon-toggle-checked-focus-color: unquote("rgba(#{$palette-primary-500}, 0.26)") !default;
$icon-toggle-disabled-color: rgba(#000, 0.26) !default;

/* ==========  Radio Buttons  ========== */

$radio-color: unquote("rgb(#{$palette-primary-500})") !default;
$radio-off-color: rgba(0, 0, 0, 0.54) !default;
$radio-disabled-color: rgba(0, 0, 0, 0.26) !default;

/* ==========  Ripple effect  ========== */

$ripple-bg-color: unquote("rgb(#{$palette-grey-900})") !default;

/* ==========  Layout  ========== */

$layout-nav-color: unquote("rgb(#{nth($palette-page, 4)})") !default;

// Drawer
$layout-drawer-bg-color: unquote("rgb(#{$palette-page-50})") !default;
$layout-drawer-border-color: unquote("rgb(#{$palette-page-300})") !default;
$layout-text-color: unquote("rgb(#{$palette-page-800})") !default;

// Header
$layout-header-bg-color: unquote("rgb(#{$palette-primary-500})") !default;
$layout-header-text-color: unquote("rgb(#{$palette-page-200})") !default;
$layout-header-nav-hover-color: unquote("rgba(#{nth($palette-grey, 8)}, 0.6)") !default;
$layout-header-tab-text-color: unquote("rgba(#{$palette-page-200}, 0.6)") !default;

// Tabs
$layout-header-tab-highlight: unquote("rgb(#{$palette-secondary-300})") !default;

/* ==========  Content Tabs  ========== */

$tab-highlight-color: unquote("rgb(#{$palette-primary-500})") !default;
$tab-text-color: rgba(0, 0, 0, 0.6) !default;
$tab-active-text-color: black !default;
$tab-border-color: unquote("rgb(#{$palette-grey-300})") !default;

/* ==========  Checkboxes  ========== */

$checkbox-color: unquote("rgb(#{$palette-primary-500})") !default;
$checkbox-off-color: rgba(0, 0, 0, 0.54) !default;
$checkbox-disabled-color: rgba(0, 0, 0, 0.26) !default;
$checkbox-focus-color: unquote("rgba(#{$palette-primary-500}, 0.26)") !default;

/* ==========  Switches  ========== */

$switch-color: unquote("rgb(#{$palette-primary-500})") !default;
$switch-faded-color: unquote("rgba(#{$palette-primary-500}, 0.26)") !default;
$switch-thumb-color: $switch-color !default;
$switch-track-color: unquote("rgba(#{$switch-color}, 0.5)") !default;

$switch-off-thumb-color: unquote("rgb(#{$palette-grey-50})") !default;
$switch-off-track-color: rgba(0, 0, 0, 0.26) !default;
$switch-disabled-thumb-color: unquote("rgb(#{$palette-grey-400})") !default;
$switch-disabled-track-color: rgba(0, 0, 0, 0.12) !default;

/* ==========  Spinner  ========== */

$spinner-color-1: #4285f4 !default;
$spinner-color-2: #db4437 !default;
$spinner-color-3: #f4b400 !default;
$spinner-color-4: #0f9d58 !default;

$spinner-single-color: unquote("rgb(#{$palette-primary-500})") !default;

/* ==========  Text fields  ========== */

$input-text-background-color: transparent !default;
$input-text-label-color: rgba(0, 0, 0, 0.26) !default;
$input-text-bottom-border-color: rgba(0, 0, 0, 0.12) !default;
$input-text-highlight-color: unquote("rgb(#{$palette-primary-500})") !default;
$input-text-disabled-color: $input-text-bottom-border-color !default;
$input-text-error-color: unquote("rgb(#{$palette-red-600})") !default;

/* ==========  Card  ========== */

$card-background-color: white !default;
$heading-color: white !default;
$heading-back-color: white !default;
$heading-back-bgcolor: unquote("rgb(#{$palette-primary-700})") !default;
$action-link-color: unquote("rgb(#{$palette-primary-900})") !default;
$caption-color: white !default;
$caption-bgcolor: unquote("rgb(#{$palette-primary-900})") !default;
$image-placeholder-color: unquote("rgb(#{$palette-accent-400})") !default;
$lower-text-color: unquote("rgb(#{$palette-primary-900})") !default;

/* Heading back */
$heading-back-border: 0 none white !default;

/* ==========  Sliders ========== */

$range-bg-color: rgba(0, 0, 0, 0.26) !default;
$range-color: unquote("rgb(#{$palette-primary-500})") !default;
$range-faded-color: unquote("rgba(#{$palette-primary-500}, 0.26)") !default;

/* ==========  List ========== */

$list-container-item-border-color: #ddd !default;
$list-container-view-background: white !default;

/* ==========  Item ========== */

// Default Item Colors
$default-item-text-color: #000;
$default-item-outline-color: unquote("rgb(#{$palette-secondary-400})") !default;
$default-item-hover-bg-color: unquote("rgb(#{$palette-secondary-200})") !default;
$default-item-focus-bg-color: unquote("rgb(#{$palette-secondary-200})") !default;
$default-item-active-bg-color: unquote("rgb(#{$palette-secondary-300})") !default;

// Disabled Button Colors
$disabled-item-text-color: unquote("rgb(#{$palette-disabled-400})") !default;

/* ==========  Dropdown menu ========== */

$default-dropdown-bg-color: #fff !default;

/* ==========  Tooltips  ========== */

$tooltip-text-color: #fff !default;
$tooltip-background-color: unquote("rgb(#{$palette-accent-600})") !default;

/* ==========  Footer  ========== */

$footer-bg-color: #454545 !default;
$footer-color: #A0A0A0 !default;
$footer-heading-color: #E2E2E2 !default;
$footer-button-fill-color: $footer-color !default;
$footer-underline-color: $footer-color;
