
$padding: 24px;
$icon-font-path: "packages/wsk_material/sass/fonts/";

.demo-page {
  width: 100%;
  height: auto;

  margin: 0;
  padding: 0;

  padding: $padding;
  box-sizing: border-box;
  background: #FFF;
}

// We define h2 under body, so it doesn't bleed into typography styles
.demo-page > h2 {
  margin-top: $padding ;
  margin-bottom: $padding / 2;
}

.demo-preview-block {
  background: rgb(245,245,245);
  padding: 20px;
}
