@import "resets/h5bp";
@import "typography/typography";
@import "palette/palette";

$padding: 24px;

.demo-page {
  width: 100%;
  height: auto;

  margin: 0;
  padding: 0;

  padding: $padding;
  box-sizing: border-box;
  background: #FFF;
}

// We define h2 under body, so it doesn't bleed into typography styles
.demo-page > h2 {
  margin-top: $padding ;
  margin-bottom: $padding / 2;
}

.demo-preview-block {
  background: nth($palette-grey, 2);
  padding: 20px;
}
