html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto';
  color: white;
}

.ribbon {
  width: 100%;
  height: 40vh;
}

.mdl-layout__container {
  position: static;
}

main.mdl-layout__content.mdl-layout__content {
  margin-top: -35vh;
}

.content {
  border-radius: 2px;
  padding: 24px;
}