html, body {
  margin: 0;
  padding: 0;
}

.ribbon {
  width: 100%;
  height: 40vh;
}

.mdl-layout > * {
  flex-shrink: 0;
}

main.mdl-layout__content.mdl-layout__content {
  margin-top: -35vh;
}

header.mdl-layout__header {
  display: flex !important;
}

.content {
  border-radius: 2px;
  padding: 24px;
}
