---
import HeadCommon from "../components/HeadCommon.astro";

const { content } = Astro.props;
---

<html>
  <head>
    <HeadCommon />
    <title>{content.title}</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
      }
      main {
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body class="light-theme">
    <main>
      <slot />
    </main>

    <script>
      import "playground-elements/playground-ide.js";
    </script>
  </body>
</html>
