.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}
.spacer {
  flex: 1;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
