@import "../palette/palette";
@import "sidenav-shared";

$toolbar-bg-color: nth($primaryPalette, 6);
$nav-link-color: nth($paletteGrey, 3);
$nav-link-color-light: nth($paletteGrey, 1);

$nav-centered-side-width: 128px;

.sidenav-horizontal {

}

.sidenav-centered-content {
  @extend .sidenav-content;
}

@media screen and (min-width: 850px) {
  .sidenav-horizontal {
    width: 100%;
    height: auto;

    position: initial;

    transform: translateX(0px);

    background: $toolbar-bg-color;
    border-right: none;
  }

  .sidenav-horizontal h1, .sidenav-horizontal .logo {
    border-bottom: none;
  }

  .sidenav-horizontal.transparent {
    background: none;
    box-shadow: none;
  }

  .sidenav-horizontal.centered {
    box-shadow: none;
  }

  .sidenav-horizontal::after {
    content: '';

    display: block;
    clear: both;
  }

  .sidenav-horizontal h1 {
    float: left;

    color: $nav-link-color-light;
  }

  .sidenav-horizontal.centered h1 {
    float: none;
    text-align:center;
  }

  .sidenav-horizontal .sidenav-nav ul {
    float: right;

    li {
      float: left;
    }

    li a {
      color: $nav-link-color;
    }

    li a:hover {
      background-color: nth($primaryPalette, 14);
    }
  }

  .sidenav-horizontal.transparent .sidenav-nav ul {
    li a:hover {
      background-color: rgba(nth($paletteGrey, 8), 0.6);
    }
  }

  .sidenav-horizontal.centered .sidenav-nav ul {
    float: none;
    text-align: center;
    overflow: hidden;

    li {
      float: none;
      display: inline-block;
    }
  }

  .sidenav-centered-content {
    border-width: 0 $nav-centered-side-width;
    border-style: solid;
    border-color: $toolbar-bg-color;
  }
}
