@import "../palette/palette";
@import "../typography/typography";

/* Colors */
$palette: $primaryPalette;

$sidenav-bg-color: nth($palette, 6);
$sidenav-border-color: nth($palette, 4);
$sidenav-modal-bg-color: rgba(0, 0, 0, 0.5);

$sidenav-container-h1-color: nth($palette, 1);
$sidenav-container-shadow: 0 2px 5px rgba(0,0,0,.26);

$nav-link-color: nth($palette, 3);
$nav-link-color-light: nth($palette, 1);

/*$sidenav-container-border-color: #e0e0e0;*/

/* Positions */
/* Set menu button position (left or right) to 0px */
$nav-button-right: 0px;
$nav-button-left: auto;

/* Navigation Top */
$nav-padding-top: 0%; /* Try 30%*/

/* Dimensions */
$nav-narrow: 240px;
$nav-wide: 456px;
$nav-width: $nav-narrow;

$vertical-padding: 16px;
$horizontal-padding: 24px;

/* Variants */
.sidenav-narrow {
  width: 240px;
}

.sidenav-transparent {
  background-color: transparent;
}

.sidenav-button-right {
  right: 0px;
}

.sidenav-button-left {
  left: 0px;
}
/* -------- */

.sidenav-button {
  display: none;

  width: 48px;
  height: 48px;

  position: fixed;
  top: 4px;
  left: 4px;

  background-image: url(/images/hamburger.svg);
  background-position:center center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-color: transparent;
  border: 0;

  overflow: hidden;
  text-indent: -9999px;

  z-index: 2;
}

.sidenav-container {
  display: block;
  box-shadow: $sidenav-container-shadow;
  /*border-bottom: 1px solid $sidenav-container-border-color;*/
  height: 64px;
  box-sizing: border-box;
  z-index: 4;
  background: $sidenav-bg-color;

  h1 {
    color: $sidenav-container-h1-color;
  }
}

.sidenav-container.visible {
  transform: translateX(0px);
}

.sidenav-container.transparent {
  background-color: transparent;
  border: none;

  .logo {
    color: $nav-link-color-light;
  }

  .sidenav-nav li a {
    color: $nav-link-color-light;
  }
}

.sidenav-container .logo {
  font-size: 24px;
  padding: 18px $horizontal-padding 18px $horizontal-padding;
  float: left;
}

.sidenav-nav {
  float: right;
}

.sidenav-nav li a {
  font-weight: 400;
  color: $nav-link-color;
  text-decoration: none;
  font-size: 14px
}

/* clean up*/

.sidenav-container ul {
  margin: 0;
  padding: 0;

  list-style-type: none;

  li {
    margin: 1.6em 1.6em;
    float: left;
    font-weight: 500;
  }

  li a:hover {
    border-bottom: 1px solid $nav-link-color;
  }
}


@media screen and (max-width: 850px) {


    .sidenav-modal-bg {
      display: block;

      width: 100%;
      height: 100%;

      position: fixed;
      top: 0;
      left: 0;

      will-change: opacity;

      opacity: 0.1;

      background-color: $sidenav-modal-bg-color;
      pointer-events: none;

      transition: visibility 0 linear .4s,opacity .4s cubic-bezier(.4,0,.2,1);

      z-index: 3;
    }

    .sidenav-modal-bg.visible {
      opacity: 1;

      pointer-events: all;

      transition-delay: 0;
    }


  .sidenav-container {
    border-bottom: 0px;
    height: auto;
    padding-top: $nav-padding-top;
  }

  .sidenav-container .logo {
    font-size: 24px;
    padding: 18px $horizontal-padding 18px $horizontal-padding;
    float: none;
  }

  .sidenav-button {
    display: block;
    left: $nav-button-left;
    right: $nav-button-right;
  }

  .sidenav-container {
    display: block;
    width: $nav-width;
    height: 100%;

    max-height: 100%;

    position: fixed;
    top: 0px;
    left: 0px;

    background-color: $sidenav-bg-color;
    border-right: 1px solid $sidenav-border-color;

    // With this, we get a huge paint before it runs.
    box-sizing: border-box;

    transform: translateX(-$nav-width);
    transform-style: preserve-3d;
    transition-delay: 0.1s;
    transition-duration:0.2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    will-change: transform;

    z-index: 4;
  }


  .sidenav-container ul {
    margin: 0;
    padding: 0;

    list-style-type: none;

    li {
      padding: $vertical-padding $horizontal-padding;
      margin: 0px;
      float: none;
      font-weight: 500;
    }
  }

    .sidenav-nav {
      float: none;
    }

    .sidenav-middle {
      padding-top: 50%;
    }

    .sidenav-wide {
      width: 456px;
    }

}
