@import "../palette/palette";
@import "../typography/typography";

/* Colors */
$sidenav-bg-color: nth($pagePalette, 1);
$sidenav-border-color: nth($pagePalette, 4);
$sidenav-modal-bg-color: rgba(0, 0, 0, 0.5);

$sidenav-container-h1-color: nth($primaryPalette, 1);
$sidenav-container-shadow: 0 2px 5px rgba(0,0,0,.26);

$nav-link-color: nth($primaryPalette, 3);

$text-color: nth($pagePalette, 9);

/* Positions */
/* Set menu button position (left or right) to 0px */
$nav-button-right: 0px;
$nav-button-left: auto;

/* Navigation Top */
$nav-padding-top: 0%; /* Try 30%*/

/* Dimensions */
$nav-narrow: 240px;
$nav-wide: 456px;
$nav-width: $nav-narrow;

$vertical-padding: 16px;
$horizontal-padding: 24px;

.sidenav {
  display: block;

  width: $nav-width;
  height: 100%;
  max-height: 100%;

  position: fixed;
  top: 0px;
  left: 0px;

  box-shadow: $sidenav-container-shadow;
  // With this, we get a huge paint before it runs.
  box-sizing: border-box;

  border-right: 1px solid $sidenav-border-color;
  background: $sidenav-bg-color;

  // Transform offscreen
  transform: translateX(-$nav-width);
  transform-style: preserve-3d;

  will-change: transform;

  color: nth($pagePalette, 9);

  z-index: 4;

  .logo {
    padding: 18px $horizontal-padding 18px $horizontal-padding;
    font-size: 24px;
  }
}

.sidenav.visible {
  transform: translateX(0px);
}

.sidenav.animatable {
  transition-delay: 0.1s;
  transition-duration:0.2s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.sidenav ul {
  margin: 0;
  padding: 0;

  list-style-type: none;

  li {

  }

  li > a {
    display: block;

    padding: 1.6em 1.6em;

    font-size: 14px;
    font-weight: 400;
    color: $text-color;
    text-decoration: none;
  }

  li a:hover {
    background-color: nth($pagePalette, 4);
  }
}

.nav-button {
  display: block;

  width: 48px;
  height: 48px;

  position: fixed;
  left: $nav-button-left;
  right: $nav-button-right;
  top: 0;

  background-image: url(/images/hamburger.svg);
  background-position:center center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-color: transparent;
  border: 0;

  overflow: hidden;
  text-indent: -9999px;

  z-index: 2;
}

.sidenav-modal-bg {
  display: block;

  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;

  will-change: opacity;

  // This is an unfortunate hack to prevent large paints in Chrome
  opacity: 0.000001;

  background-color: $sidenav-modal-bg-color;
  pointer-events: none;

  z-index: 3;
}

.sidenav-modal-bg.animatable {
  transition: visibility 0 linear .4s,opacity .4s cubic-bezier(.4,0,.2,1);
}

.sidenav-modal-bg.visible {
  opacity: 1;

  pointer-events: all;

  transition-delay: 0;
}

.sidenav-content {
  padding: $vertical-padding $horizontal-padding;
}

@media screen and (min-width: 850px) {
  .nav-button {
    display: none;
  }

  .sidenav-modal-bg.visible {
    opacity: 0.1;

    pointer-events: none;
  }
}
