@import "../styleguide_demo_bp";
@import 'sidenav';

/* Positions */

/* Set menu button position (left or right) to 0px */
$nav-button-right: 0px;
$nav-button-left: auto;

/* Dimensions */
$nav-narrow: 240px;
$nav-wide: 456px;
$nav-width: $nav-narrow;

$vertical-padding: 16px;
$horizontal-padding: 24px;

/* Colors */
$nav-link-color: #999999;
$sidenav-item-border-color: #e0e0e0;


body {
  width: 100%;
  height: 500px;

  padding: 0;
}

.sidenav-button {
  display: none;
}

.sidenav-container {
  border-bottom: 1px solid $sidenav-item-border-color;
  height: 64px;
}

.sidenav-container .logo {
  font-size: 24px;
  padding: 18px $horizontal-padding 18px $horizontal-padding;
  float: left;
}

.sidenav-nav {
  float: right;
}

.sidenav-nav li a {
  font-weight: 400;
  color: $nav-link-color;
  text-decoration: none;
  font-size: 14px
}

.sidenav-container ul {
  margin: 0;
  padding: 0;

  list-style-type: none;

  li {
    /*padding: $vertical-padding $horizontal-padding;*/
    /*new */
    margin: 1.6em 1.6em;
    float: left;

    font-weight: 500;
  }

  li a:hover {
    border-bottom: 1px solid $nav-link-color;
  }
}


@media screen and (max-width: 850px) {

  .sidenav-container {
    border-bottom: 0px;
    height: auto;
  }

  .sidenav-container .logo {
    font-size: 24px;
    padding: 18px $horizontal-padding 18px $horizontal-padding;
    float: none;
  }

  .sidenav-nav {
    float: none;
  }

  .sidenav-button {
    display: block;
    left: $nav-button-left;
    right: $nav-button-right;
  }

  .sidenav-container {
    display: block;
    width: $nav-width;
    height: 100%;

    max-height: 100%;

    position: fixed;
    top: 0px;
    left: 0px;

    background-color: $sidenav-bg-color;
    border-right: 1px solid $sidenav-border-color;

    // With this, we get a huge paint before it runs.
    box-sizing: border-box;

    transform: translateX(-$nav-width);
    transform-style: preserve-3d;
    transition-delay: 0.1s;
    transition-duration:0.2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    will-change: transform;

    z-index: 4;
  }


  .sidenav-container ul {
    margin: 0;
    padding: 0;

    list-style-type: none;

    li {
      padding: $vertical-padding $horizontal-padding;
      margin: 0px;
      float: none;
      font-weight: 500;
    }
  }
}
