<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Material Design Lite</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link href='//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../material.min.css">
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 20px;
      margin-bottom: 20px;
      z-index: 900;
      color: black;
    }
    main > div {
      padding: 20px;
    }
    </style>
  </head>
  <body>
    <div class="wsk-layout wsk-js-layout wsk-layout--fixed-drawer wsk-layout--overlay-drawer-button">
      <header class="wsk-layout__header wsk-layout__header--multi-row wsk-layout__header--waterfall wsk-layout__header--tall">
        <div class="wsk-layout__header-row">
          <span class="wsk-layout-title">Starter Template</span>
        </div>
        <div class="wsk-layout__header-row">
          <div class="wsk-layout-spacer"></div>
          <div class="wsk-textfield wsk-js-textfield wsk-textfield--expandable wsk-textfield--floating-label wsk-textfield--align-right">
            <label class="wsk-button wsk-js-button wsk-button--icon" for="sample-expclean">
              <span class="wsk-icon wsk-icon--search"/>
            </label>
            <div class="wsk-textfield__expandable-holder">
              <input class="wsk-textfield__input" type="text" name="sample" id="sample-expclean" />
            </div>
          </div>
        </div>
        <div class="wsk-layout__header-row">
          <nav class="wsk-navigation" id="expanded_navigation">
            <a class="wsk-navigation__link" href="#">Lorem</a>
            <a class="wsk-navigation__link" href="#">Ipsum</a>
            <a class="wsk-navigation__link" href="#">Dolor</a>
          </nav>
        </div>
      </header>
      <div class="wsk-layout__drawer">
        <span class="wsk-layout-title">Material Design Lite</span>
        <nav class="wsk-navigation">
          <a class="wsk-navigation__link" href="#">Lorem</a>
          <a class="wsk-navigation__link" href="#">Ipsum</a>
          <a class="wsk-navigation__link" href="#">Dolor</a>
          <a class="wsk-navigation__link" href="#">Sit</a>
          <a class="wsk-navigation__link" href="#">Amet</a>
        </nav>
      </div>
      <main class="wsk-layout__content">
        <div class="demo-layout__content">
          <h1>Starter Template</h1>
          <h2>Zero Fuss, Just Ipsum™</h2>
          <h3>A paragraph</h3>
          <p>Culpa excepteur tempor dolore ea <strong>adipisicing ut nulla eiusmod</strong> consectetur mollit velit non amet occaecat. Ullamco irure nisi ullamco in dolore. Minim Lorem dolor non ex sint do aute do excepteur officia ea. Eiusmod commodo irure sint enim cupidatat consectetur fugiat irure do sunt. Esse et dolor nisi amet culpa esse Lorem adipisicing do proident non commodo aliqua in. Nostrud est irure ipsum sint nisi velit non incididunt id consectetur commodo sit duis. Officia dolor magna dolor proident commodo. Elit ea elit ut voluptate cupidatat ut esse. Aliquip ea laboris exercitation veniam aute enim enim proident velit culpa. Ex eiusmod enim dolor officia ipsum pariatur aute non.
            Duis culpa eiusmod ut irure anim labore consectetur mollit velit. Lorem Lorem <em>consequat</em> non aliquip eiusmod. Id est magna fugiat do consequat deserunt amet sint et qui nulla in. Elit consequat consectetur anim id dolor mollit adipisicing eiusmod anim. Est id minim cillum mollit sunt. Qui reprehenderit reprehenderit excepteur dolore laboris ullamco laboris reprehenderit ullamco ex magna consectetur velit laborum. Dolore enim nostrud Lorem amet do. Ut laborum sit laboris sit ea in. Dolore ullamco aliquip culpa adipisicing ea cupidatat laboris est.
            Amet consectetur veniam magna Lorem aliqua. Nisi est consectetur nulla cupidatat anim consectetur aute sint irure in. Mollit reprehenderit et laborum exercitation aute magna ipsum aliqua qui dolore nostrud cillum dolor. Occaecat irure do et enim occaecat nulla occaecat occaecat. Velit pariatur labore do cillum ipsum nulla laborum qui id consequat.
            Amet pariatur amet et et sit est laboris culpa proident occaecat qui in enim amet. Do veniam veniam sint esse enim ex sint. Consequat dolore sint est ullamco velit. Exercitation aute qui sit magna dolore nisi laborum. Adipisicing culpa cillum id aliquip aliquip officia ullamco Lorem.
          </p>
          <h3>Another paragraph</h3>
          <p>
            <small>(Nulla exercitation in ex tempor eu magna aliquip Lorem nostrud qui commodo anim et cillum.)</small> Cillum aliquip nisi eiusmod sunt laboris mollit anim magna et irure non esse non sunt. Ex ut aliquip veniam qui aliquip ipsum. Labore sit deserunt irure dolor ullamco cillum non et consectetur. Nulla Lorem cillum excepteur cupidatat ipsum sint culpa occaecat officia irure commodo. Culpa est id sunt velit qui eu laboris id enim proident consectetur exercitation deserunt incididunt. Nisi veniam consequat minim reprehenderit elit commodo occaecat velit ullamco aliqua. Do qui amet officia cupidatat consequat cupidatat occaecat duis est id irure qui Lorem. Dolor commodo deserunt fugiat enim aliqua occaecat aute.
            Enim aliquip quis et culpa officia consequat. Lorem cillum eu nostrud aliquip mollit cupidatat est consectetur minim anim nostrud adipisicing fugiat. Consequat sunt ullamco occaecat enim duis nisi magna ad ullamco laborum commodo sit sit enim. In duis irure et pariatur aliqua duis. Ex commodo irure amet culpa non. Quis tempor pariatur id ea exercitation commodo voluptate labore nisi cupidatat. Et duis cillum aliqua anim pariatur aliquip deserunt culpa non.
            Dolor elit esse adipisicing excepteur aliqua voluptate occaecat irure. Ex ut commodo aliquip ipsum reprehenderit occaecat elit magna eu. Ex eu proident cillum proident laboris tempor tempor mollit cupidatat. Dolore quis consequat est enim minim sunt excepteur occaecat culpa nostrud id sint incididunt. Laborum occaecat exercitation culpa sint veniam enim ex sit minim ad deserunt. Laboris pariatur nostrud incididunt deserunt sunt tempor nostrud laborum amet consequat sunt velit consequat exercitation. Pariatur nostrud in eu ullamco elit irure ullamco do qui in consequat ad. Proident nostrud sint elit occaecat consectetur laboris commodo mollit excepteur.
          </p>
          <dl>
            <dt>Description lists</dt>
            <dd>A description list is perfect for defining terms.</dd>
            <dt>Euismod</dt>
            <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
            <dd>Donec id elit non mi porta gravida at eget metus.</dd>
            <dt>Malesuada porta</dt>
            <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
          </dl>
          <h3>Quotes!</h3>
          <blockquote>
            Eu aliqua laborum ad deserunt elit adipisicing labore ut ipsum enim laboris Lorem occaecat.
          </blockquote>
          <h3>Consecutive paragraphs?</h3>
          <p>
            Sint quis amet incididunt officia incididunt ullamco fugiat ipsum cupidatat officia do. Esse excepteur et veniam aliqua nostrud pariatur exercitation laborum. Reprehenderit adipisicing anim aliquip consectetur ex veniam aliquip non cillum consectetur. Aliquip id minim exercitation aliqua irure Lorem sunt quis ullamco reprehenderit. Aliqua proident cupidatat culpa amet laborum proident. Qui velit do deserunt elit adipisicing incididunt aute cupidatat ea dolore.
            Sunt eu deserunt proident nostrud irure esse in consequat occaecat velit incididunt elit. Fugiat nostrud laborum esse cillum aute duis officia nostrud incididunt minim magna ipsum id. Ea deserunt excepteur veniam non nostrud duis sunt culpa qui voluptate id in. Anim deserunt enim sunt ullamco labore ea. Excepteur excepteur in et aliqua elit magna ea. Dolor laborum reprehenderit esse quis dolor officia ad adipisicing eiusmod.
            Qui duis non ea amet minim do anim dolore proident ut excepteur consequat sint. Labore laboris consequat ea amet aliquip sunt cillum laboris sint voluptate cillum occaecat pariatur. Nisi eiusmod occaecat eiusmod deserunt enim fugiat cillum et aliqua id laborum Lorem anim. Veniam tempor culpa cillum ex in minim deserunt. Exercitation cillum cupidatat nulla deserunt exercitation in aute aute dolor adipisicing. Aliqua enim exercitation sint voluptate irure commodo incididunt irure. Sit esse amet ullamco ullamco non ad. Ipsum aliqua culpa consequat nulla est qui magna aute sint consequat dolore sunt.
            Ex amet est quis id commodo laboris ad ut anim mollit ea aute incididunt. Est irure sunt non ipsum ea amet laborum cillum reprehenderit veniam amet commodo. Eiusmod sunt aliquip culpa ipsum ut nostrud commodo consequat quis dolore dolor. Sunt ipsum ut commodo culpa dolore laborum dolor non reprehenderit et ea. Ad dolore sit cupidatat non minim ipsum nostrud anim sint proident. Qui irure amet irure veniam deserunt velit est. Dolor irure elit quis nisi sit pariatur consequat ad reprehenderit anim. Culpa cillum eiusmod esse deserunt esse. Veniam pariatur irure commodo sit veniam mollit est est consequat est voluptate. Occaecat dolor ut labore nulla ad.
          </p>
          <p>
            Amet excepteur ullamco deserunt in nulla. Ullamco fugiat ut sunt minim minim occaecat non duis et reprehenderit exercitation excepteur. Ex ea duis eiusmod elit eiusmod. Tempor excepteur voluptate cillum do eu. Est qui sunt consectetur cillum labore in cupidatat officia non ex reprehenderit. Reprehenderit laborum ullamco cupidatat fugiat nostrud. Enim labore non laboris eiusmod irure duis ullamco nisi dolore. Ut irure esse ea voluptate nisi labore aliquip proident.
            Quis deserunt dolore laborum ex aute ipsum fugiat. Consectetur dolore voluptate sunt sit elit laboris aliqua laborum esse in enim nostrud. Proident do eu sit sunt ea et mollit aliquip ea et laboris voluptate. Lorem occaecat reprehenderit elit ea minim qui qui laborum ea veniam tempor fugiat sit nostrud. Ex laborum sit aliquip veniam duis ea laboris veniam excepteur commodo exercitation consequat cupidatat. Veniam irure excepteur adipisicing esse aliqua dolore. Magna minim sit excepteur veniam elit nisi commodo adipisicing elit labore et.
            Veniam cupidatat ad ullamco sint sint adipisicing dolor. Aliqua ex incididunt qui ipsum consectetur. Aute eiusmod nostrud laboris occaecat culpa in. Duis reprehenderit est et ipsum non consectetur ex laboris et nisi sunt. Nisi esse officia qui proident est ut proident. Lorem labore culpa dolore anim aute officia. Minim esse eu voluptate laborum ex proident ea nulla esse do.
          </p>
        </div>

        <footer class="wsk-mega-footer">
          <div class="wsk-mega-footer--top-section">
            <div class="wsk-mega-footer--left-section">
              <button class="wsk-mega-footer--social-btn"></button>
              <button class="wsk-mega-footer--social-btn"></button>
              <button class="wsk-mega-footer--social-btn"></button>
              <button class="wsk-mega-footer--social-btn"></button>
            </div>
            <div class="wsk-mega-footer--right-section">
              <a href="#">App Status Dashboard</a>
              <a href="#">Terms of Service</a>
            </div>
          </div>

          <div class="wsk-mega-footer--middle-section">

            <div class="wsk-mega-footer--drop-down-section">
              <input class="wsk-mega-footer--heading-checkbox" type="checkbox" checked>
              <h1 class="wsk-mega-footer--heading">Learning &amp; Support</h1>
              <ul class="wsk-mega-footer--link-list">
                <li><a href="#">Resource Center</a></li>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">Community</a></li>
                <li><a href="#">Learn with Google</a></li>
                <li><a href="#">Small Business Community</a></li>
                <li><a href="#">Think Insights</a></li>
              </ul>
            </div>

            <div class="wsk-mega-footer--drop-down-section">
              <input class="wsk-mega-footer--heading-checkbox" type="checkbox" checked>
              <h1 class="wsk-mega-footer--heading">Just for Developers</h1>
              <ul class="wsk-mega-footer--link-list">
                <li><a href="#">Google Developers</a></li>
                <li><a href="#">AdWords API</a></li>
                <li><a href="#">AdWords Scipts</a></li>
                <li><a href="#">AdWords Remarketing Tag</a></li>
              </ul>
            </div>

            <div class="wsk-mega-footer--drop-down-section">
              <input class="wsk-mega-footer--heading-checkbox" type="checkbox" checked>
              <h1 class="wsk-mega-footer--heading">Related Products</h1>
              <ul class="wsk-mega-footer--link-list">
                <li><a href="#">Analytics Standard</a></li>
                <li><a href="#">Shopping Ads</a></li>
                <li><a href="#">Trusted Store</a></li>
                <li><a href="#">AdSense</a></li>
              </ul>
            </div>

            <div class="wsk-mega-footer--drop-down-section">
              <input class="wsk-mega-footer--heading-checkbox" type="checkbox" checked>
              <h1 class="wsk-mega-footer--heading">More solutions from Google</h1>
              <ul class="wsk-mega-footer--link-list">
                <li><a href="#">Google for Advertising</a></li>
                <li><a href="#">Google for Business</a></li>
              </ul>
            </div>

          </div>

          <div class="wsk-mega-footer--bottom-section">
            <div class="wsk-logo">
              Web <strong>Starter Kit</strong>
            </div>
            <ul class="wsk-mega-footer--link-list">
              <li><a href="#">Help</a></li>
              <li><a href="#">Privacy &amp; Terms</a></li>
            </ul>
          </div>
        </footer>
      </main>
    </div>
    <a href="https://github.com/google/material-design-lite/blob/master/templates/starter/index.html" target="_blank" id="view-source" class="wsk-button wsk-js-button wsk-button--fab wsk-button--colored wsk-js-ripple-effect"><span class="wsk-icon wsk-icon--pageview"/></a>
    <script src="/js/material.min.js"></script>
  </body>
</html>
