@import "../vars";

.wsk-mini-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  padding: ($padding * 2) $padding;

  color: $footer-color;
  background-color: $footer-bg-color;

  &:after {
    content: '';
    display: block;
  }

  & .wsk-logo {
    line-height: $footer-btn-size;
  }
}

.wsk-mini-footer--link-list {
  display: flex;
  flex-flow: row nowrap;

  list-style: none;

  margin: 0;
  padding: 0;

  & li {
    margin-bottom: 0;
    margin-right: $padding;

    @media screen and (min-width: 760px) {
      line-height: $footer-btn-size;
    }
  }

  & a {
    color: inherit;
    text-decoration: none;
  }
}

.wsk-mini-footer--left-section {
  display: inline-block;
  order: 0;
}

.wsk-mini-footer--right-section {
  display: inline-block;
  order: 1;
}

.wsk-mini-footer--social-btn {
  width: $footer-btn-size;
  height: $footer-btn-size;

  padding: 0;
  margin: 0;

  background-color: $footer-button-fill-color;

  border: none;
}
