.button {
  --button-border: 1px solid var(--md-sys-color-primary);
  padding: 8px 24px;
  border-radius: var(--md-comp-button-shape, 20px);
  outline: none;
  border: none;

  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-family: var(--md-sys-typescale-label-large-font);
  font-weight: var(--md-sys-typescale-label-large-weight);
  font-size: var(--md-sys-typescale-label-large-size);
  line-height: var(--md-sys-typescale-label-large-line-height);
  letter-spacing: var(--md-sys-typescale-label-large-tracking);

  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-primary);

  box-shadow: 0px 2px 3px var(--md-sys-color-shadow);
}

.button :where(i) {
  margin-right: 8px;
}

.button[disabled] {
  cursor: not-allowed;
  background-color: var(--md-sys-color-on-surface);
  color: var(--md-sys-color-surface);
}
