.button {
  padding: 8px 24px;
  border-radius: var(--md-comp-button-shape, 20px);
  outline: none;
  border: none;
  height: var(--button-height, 40px);

  position: relative;
  overflow: hidden;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-family: var(--md-sys-typescale-label-large-font);
  font-weight: var(--md-sys-typescale-label-large-weight);
  font-size: var(--md-sys-typescale-label-large-size);
  line-height: var(--md-sys-typescale-label-large-line-height);
  letter-spacing: var(--md-sys-typescale-label-large-tracking);

  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-primary);

  box-shadow: var(--md-sys-elevation-1);
}

.button i:only-child {
  margin-right: 0px;
}

.button:where(i) {
  margin-right: 8px;
}

.button:hover {
  box-shadow: var(--md-sys-elevation-2);
}

.button:focus {
  box-shadow: var(--md-sys-elevation-1);
}

.button:active {
  box-shadow: var(--md-sys-elevation-1);
}

.button[disabled] {
  cursor: not-allowed;
  background-color: rgba(var(--md-sys-color-on-surface-rgb), 0.12);
  color: rgba(var(--md-sys-color-on-surface-rgb), 0.38);
  box-shadow: var(--md-sys-elevation-0);
}
