.button.elevated {
  background-color: transparent;
  border: var(--button-border);
  color: var(--md-sys-color-primary);
  box-shadow: 0px 2px 3px
    var(--md-sys-color-shadow, var(--md-sys-color-outline));
}
