button {
  --button-border: 1px solid var(--md-sys-color-primary);
  padding: 8px 24px;
  border-radius: var(--md-comp-button-shape, 20px);
  outline: none;
  border: none;

  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-family: var(--md-sys-typescale-label-large-font);
  font-weight: var(--md-sys-typescale-label-large-weight);
  font-size: var(--md-sys-typescale-label-large-size);
  line-height: var(--md-sys-typescale-label-large-line-height);
  letter-spacing: var(--md-sys-typescale-label-large-tracking);

  color: var(--md-sys-color-on-secondary);
  background-color: var(--md-sys-color-secondary);
}

button > i {
  margin-right: 8px;
}

button > i:only-child {
  margin-right: 0px;
}

button[variant="elevated"] {
  background-color: transparent;
  border: var(--button-border);
  color: var(--md-sys-color-primary);
  box-shadow: 0px 2px 3px
    var(--md-sys-color-shadow, var(--md-sys-color-outline));
}

button[variant="filled-tonal"] {
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
}

button[variant="filled"] {
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
}

button[variant="outlined"] {
  border: var(--button-border);
  background-color: transparent;
  color: var(--md-sys-color-primary);
}

button[variant="text"] {
  background-color: transparent;
  color: var(--md-sys-color-primary);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
