<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.red-blue.min.css">
  <link rel="stylesheet" href="index.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
      </div>
    </header>
    <div class="mdl-layout__drawer">
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">
        <div class="mdl-grid" style="height: 78vh; width: 100%;">
          <div class="mdl-cell mdl-cell--12-col mdl-cell--middle" style="text-align: center;">
            <h1>Drag pointer from left side.</h1>
          </div>
        </div>
      </div>
    </main>
  </div>
  <div id="sideMenu"></div>
  <script src="jquery.min.js"></script>
  <script src="jquery.touchSwipe.min.js"></script>
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <script src="index.js"></script>
</body>

</html>
