@import "../colors";

$list-container-height: 500px;
$list-container-width: 400px;
$list-container-item-height: 70px;

.wsk-list {
  display : block;
  height  : $list-container-height;
  overflow: scroll;
  width   : $list-container-width;
}

.wsk-list--styled-view {
  background: $list-container-view-background;
  transition: background 0.3s 0.1s;
  z-index   : 1;
}

.wsk-list--styled-view ul {
  display        : inline;
  list-style-type: none;
}

.wsk-list--styled-view li {
  border-bottom: 1px solid $list-container-item-border-color;
  height       : $list-container-item-height;
  left         : 0;
  right        : 0;
}

.wsk-list--styled-view li:hover {
  background: #efefef;
}

.wsk-list-view--name {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.wsk-list-view--avatar {
  background: $list-container-item-border-color;
  border-radius  : 50%;
  content        : '';
  display        : inline-block;
  height         : 50px;
  margin         : 10px 15px;
  vertical-align : middle;
  width          : 50px;
}

.wsk-list--inline {
  list-style  : none;
  margin-left : -5px;
  padding-left: 0;
}

.wsk-list--inline > li {
  display      : inline-block;
  padding-left : 5px;
  padding-right: 5px;
}
