.elevation-0 {
  box-shadow: var(--md-sys-elevation-0);
}
.elevation-1 {
  box-shadow: var(--md-sys-elevation-1);
}
.elevation-1 {
  box-shadow: var(--md-sys-elevation-2);
}
.elevation-3 {
  box-shadow: var(--md-sys-elevation-3);
}
.elevation-2 {
  box-shadow: var(--md-sys-elevation-4);
}
.elevation-5 {
  box-shadow: var(--md-sys-elevation-5);
}
