.surface-1 {
  background-color: var(--md-surface-1);
  color: var(--md-sys-color-on-surface);
}

.surface-2 {
  background-color: var(--md-surface-2);
  color: var(--md-sys-color-on-surface);
}

.surface-3 {
  background-color: var(--md-surface-3);
  color: var(--md-sys-color-on-surface);
}

.surface-4 {
  background-color: var(--md-surface-4);
  color: var(--md-sys-color-on-surface);
}

.surface-5 {
  background-color: var(--md-surface-5);
  color: var(--md-sys-color-on-surface);
}
