:root {
  /* Label Small */
  --md-sys-typescale-label-small-text-transform: unset;
  --md-sys-typescale-label-small-axis-value: unset;
  --md-sys-typescale-label-small-font-style: unset;
  --md-sys-typescale-label-small-text-decoration: unset;
  /* Label Small line height */
  --md-sys-typescale-label-small-line-height-value: 16pxpx;
  --md-sys-typescale-label-small-line-height-unit: 2pxpx;
  --md-sys-typescale-label-small-line-height: 16pxpx;
  /* Label Small font tracking */
  --md-sys-typescale-label-small-tracking-value: 0.5pxpx;
  --md-sys-typescale-label-small-tracking-unit: 2pxpx;
  --md-sys-typescale-label-small-tracking: 0.5pxpx;
  /* Label Small font size */
  --md-sys-typescale-label-small-size-value: 11pxpx;
  --md-sys-typescale-label-small-size-unit: 2pxpx;
  --md-sys-typescale-label-small-size: 11pxpx;
  /* Label Small font weight */
  --md-sys-typescale-label-small-weight: var(--md-ref-typeface-weight-medium);
  /* Label Small font name */
  --md-sys-typescale-label-small-font: var(--md-ref-typeface-plain);
  /* Label Medium */
  --md-sys-typescale-label-medium-axis-value: unset;
  --md-sys-typescale-label-medium-font-style: unset;
  --md-sys-typescale-label-medium-text-decoration: unset;
  /* Label Medium text transform */
  --md-sys-typescale-label-medium-text-transform: 1;
  /* Label Medium line height */
  --md-sys-typescale-label-medium-line-height-value: 16pxpx;
  --md-sys-typescale-label-medium-line-height-unit: 2pxpx;
  --md-sys-typescale-label-medium-line-height: 16pxpx;
  /* Label Medium font tracking */
  --md-sys-typescale-label-medium-tracking-value: 0.5pxpx;
  --md-sys-typescale-label-medium-tracking-unit: 2pxpx;
  --md-sys-typescale-label-medium-tracking: 0.5pxpx;
  /* Label Medium font size */
  --md-sys-typescale-label-medium-size-value: 12pxpx;
  --md-sys-typescale-label-medium-size-unit: 2pxpx;
  --md-sys-typescale-label-medium-size: 12pxpx;
  /* Label Medium font weight */
  --md-sys-typescale-label-medium-weight: var(--md-ref-typeface-weight-medium);
  /* Label Medium font name */
  --md-sys-typescale-label-medium-font: var(--md-ref-typeface-plain);
  /* Label Large */
  --md-sys-typescale-label-large-text-transform: unset;
  --md-sys-typescale-label-large-axis-value: unset;
  --md-sys-typescale-label-large-font-style: unset;
  --md-sys-typescale-label-large-text-decoration: unset;
  /* Label Large line height */
  --md-sys-typescale-label-large-line-height-value: 20px;
  --md-sys-typescale-label-large-line-height-unit: 2px;
  --md-sys-typescale-label-large-line-height: 20px;
  /* Label Large font tracking */
  --md-sys-typescale-label-large-tracking-value: 0.10000000149011612px;
  --md-sys-typescale-label-large-tracking-unit: 2px;
  --md-sys-typescale-label-large-tracking: 0.10000000149011612px;
  /* Label Large font size */
  --md-sys-typescale-label-large-size-value: 14px;
  --md-sys-typescale-label-large-size-unit: 2px;
  --md-sys-typescale-label-large-size: 14px;
  /* Label Large font weight */
  --md-sys-typescale-label-large-weight: var(--md-ref-typeface-weight-medium);
  /* Label Large font name */
  --md-sys-typescale-label-large-font: var(--md-ref-typeface-plain);
  /* Body Small */
  --md-sys-typescale-body-small-text-transform: unset;
  --md-sys-typescale-body-small-axis-value: unset;
  --md-sys-typescale-body-small-font-style: unset;
  --md-sys-typescale-body-small-text-decoration: unset;
  /* Body Small line height */
  --md-sys-typescale-body-small-line-height-value: 16px;
  --md-sys-typescale-body-small-line-height-unit: 2px;
  --md-sys-typescale-body-small-line-height: 16px;
  /* Body Small font tracking */
  --md-sys-typescale-body-small-tracking-value: 0.4000000059604645px;
  --md-sys-typescale-body-small-tracking-unit: 2px;
  --md-sys-typescale-body-small-tracking: 0.4000000059604645px;
  /* Body Small font size */
  --md-sys-typescale-body-small-size-value: 12px;
  --md-sys-typescale-body-small-size-unit: 2px;
  --md-sys-typescale-body-small-size: 12px;
  /* Body Small font weight */
  --md-sys-typescale-body-small-weight: var(--md-ref-typeface-weight-regular);
  /* Body Small font name */
  --md-sys-typescale-body-small-font: var(--md-ref-typeface-plain);
  /* Body Medium */
  --md-sys-typescale-body-medium-text-transform: unset;
  --md-sys-typescale-body-medium-axis-value: unset;
  --md-sys-typescale-body-medium-font-style: unset;
  --md-sys-typescale-body-medium-text-decoration: unset;
  /* Body Medium line height */
  --md-sys-typescale-body-medium-line-height-value: 20px;
  --md-sys-typescale-body-medium-line-height-unit: 2px;
  --md-sys-typescale-body-medium-line-height: 20px;
  /* Body Medium font tracking */
  --md-sys-typescale-body-medium-tracking-value: 0.25px;
  --md-sys-typescale-body-medium-tracking-unit: 2px;
  --md-sys-typescale-body-medium-tracking: 0.25px;
  /* Body Medium font size */
  --md-sys-typescale-body-medium-size-value: 14px;
  --md-sys-typescale-body-medium-size-unit: 2px;
  --md-sys-typescale-body-medium-size: 14px;
  /* Body Medium font weight */
  --md-sys-typescale-body-medium-weight: var(--md-ref-typeface-weight-regular);
  /* Body Medium font name */
  --md-sys-typescale-body-medium-font: var(--md-ref-typeface-plain);
  /* Body Large */
  --md-sys-typescale-body-large-text-transform: unset;
  --md-sys-typescale-body-large-axis-value: unset;
  --md-sys-typescale-body-large-font-style: unset;
  --md-sys-typescale-body-large-text-decoration: unset;
  /* Body Large line height */
  --md-sys-typescale-body-large-line-height-value: 24px;
  --md-sys-typescale-body-large-line-height-unit: 2px;
  --md-sys-typescale-body-large-line-height: 24px;
  /* Body Large font tracking */
  --md-sys-typescale-body-large-tracking-value: 0.5px;
  --md-sys-typescale-body-large-tracking-unit: 2px;
  --md-sys-typescale-body-large-tracking: 0.5px;
  /* Body Large font size */
  --md-sys-typescale-body-large-size-value: 16px;
  --md-sys-typescale-body-large-size-unit: 2px;
  --md-sys-typescale-body-large-size: 16px;
  /* Body Large font weight */
  --md-sys-typescale-body-large-weight: var(--md-ref-typeface-weight-regular);
  /* Body Large font name */
  --md-sys-typescale-body-large-font: var(--md-ref-typeface-plain);
  /* Title Small */
  --md-sys-typescale-title-small-text-transform: unset;
  --md-sys-typescale-title-small-axis-value: unset;
  --md-sys-typescale-title-small-font-style: unset;
  --md-sys-typescale-title-small-text-decoration: unset;
  /* Title Small line height */
  --md-sys-typescale-title-small-line-height-value: 20px;
  --md-sys-typescale-title-small-line-height-unit: 2px;
  --md-sys-typescale-title-small-line-height: 20px;
  /* Title Small font tracking */
  --md-sys-typescale-title-small-tracking-value: 0.10000000149011612px;
  --md-sys-typescale-title-small-tracking-unit: 2px;
  --md-sys-typescale-title-small-tracking: 0.10000000149011612px;
  /* Title Small font size */
  --md-sys-typescale-title-small-size-value: 14px;
  --md-sys-typescale-title-small-size-unit: 2px;
  --md-sys-typescale-title-small-size: 14px;
  /* Title Small font weight */
  --md-sys-typescale-title-small-weight: var(--md-ref-typeface-weight-medium);
  /* Title Small font name */
  --md-sys-typescale-title-small-font: var(--md-ref-typeface-plain);
  /* Title Medium */
  --md-sys-typescale-title-medium-text-transform: unset;
  --md-sys-typescale-title-medium-axis-value: unset;
  --md-sys-typescale-title-medium-font-style: unset;
  --md-sys-typescale-title-medium-text-decoration: unset;
  /* Title Medium line height */
  --md-sys-typescale-title-medium-line-height-value: 24px;
  --md-sys-typescale-title-medium-line-height-unit: 2px;
  --md-sys-typescale-title-medium-line-height: 24px;
  /* Title Medium font tracking */
  --md-sys-typescale-title-medium-tracking-value: 0.15000000596046448px;
  --md-sys-typescale-title-medium-tracking-unit: 2px;
  --md-sys-typescale-title-medium-tracking: 0.15000000596046448px;
  /* Title Medium font size */
  --md-sys-typescale-title-medium-size-value: 16px;
  --md-sys-typescale-title-medium-size-unit: 2px;
  --md-sys-typescale-title-medium-size: 16px;
  /* Title Medium font weight */
  --md-sys-typescale-title-medium-weight: var(--md-ref-typeface-weight-medium);
  /* Title Medium font name */
  --md-sys-typescale-title-medium-font: var(--md-ref-typeface-plain);
  /* Title Large */
  --md-sys-typescale-title-large-text-transform: unset;
  --md-sys-typescale-title-large-axis-value: unset;
  --md-sys-typescale-title-large-font-style: unset;
  --md-sys-typescale-title-large-text-decoration: unset;
  /* Title Large line height */
  --md-sys-typescale-title-large-line-height-value: 28px;
  --md-sys-typescale-title-large-line-height-unit: 2px;
  --md-sys-typescale-title-large-line-height: 28px;
  /* Title Large font tracking */
  --md-sys-typescale-title-large-tracking-value: 0px;
  --md-sys-typescale-title-large-tracking-unit: 2px;
  --md-sys-typescale-title-large-tracking: 0px;
  /* Title Large font size */
  --md-sys-typescale-title-large-size-value: 22px;
  --md-sys-typescale-title-large-size-unit: 2px;
  --md-sys-typescale-title-large-size: 22px;
  /* Title Large font weight */
  --md-sys-typescale-title-large-weight: var(--md-ref-typeface-weight-regular);
  /* Title Large font name */
  --md-sys-typescale-title-large-font: var(--md-ref-typeface-brand);
  /* Headline Small */
  --md-sys-typescale-headline-small-text-transform: unset;
  --md-sys-typescale-headline-small-axis-value: unset;
  --md-sys-typescale-headline-small-font-style: unset;
  --md-sys-typescale-headline-small-text-decoration: unset;
  /* Headline Small line height */
  --md-sys-typescale-headline-small-line-height-value: 32px;
  --md-sys-typescale-headline-small-line-height-unit: 2px;
  --md-sys-typescale-headline-small-line-height: 32px;
  /* Headline Small font tracking */
  --md-sys-typescale-headline-small-tracking-value: 0px;
  --md-sys-typescale-headline-small-tracking-unit: 2px;
  --md-sys-typescale-headline-small-tracking: 0px;
  /* Headline Small font size */
  --md-sys-typescale-headline-small-size-value: 24px;
  --md-sys-typescale-headline-small-size-unit: 2px;
  --md-sys-typescale-headline-small-size: 24px;
  /* Headline Small font weight */
  --md-sys-typescale-headline-small-weight: var(
    --md-ref-typeface-weight-regular
  );
  /* Headline Small font name */
  --md-sys-typescale-headline-small-font: var(--md-ref-typeface-brand);
  /* Headline Medium */
  --md-sys-typescale-headline-medium-text-transform: unset;
  --md-sys-typescale-headline-medium-axis-value: unset;
  --md-sys-typescale-headline-medium-font-style: unset;
  --md-sys-typescale-headline-medium-text-decoration: unset;
  /* Headline Medium line height */
  --md-sys-typescale-headline-medium-line-height-value: 36px;
  --md-sys-typescale-headline-medium-line-height-unit: 2px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  /* Headline Medium font tracking */
  --md-sys-typescale-headline-medium-tracking-value: 0px;
  --md-sys-typescale-headline-medium-tracking-unit: 2px;
  --md-sys-typescale-headline-medium-tracking: 0px;
  /* Headline Medium font size */
  --md-sys-typescale-headline-medium-size-value: 28px;
  --md-sys-typescale-headline-medium-size-unit: 2px;
  --md-sys-typescale-headline-medium-size: 28px;
  /* Headline Medium font weight */
  --md-sys-typescale-headline-medium-weight: var(
    --md-ref-typeface-weight-regular
  );
  /* Headline Medium font name */
  --md-sys-typescale-headline-medium-font: var(--md-ref-typeface-brand);
  /* Headline Large */
  --md-sys-typescale-headline-large-text-transform: unset;
  --md-sys-typescale-headline-large-axis-value: unset;
  --md-sys-typescale-headline-large-font-style: unset;
  --md-sys-typescale-headline-large-text-decoration: unset;
  /* Headline Large line height */
  --md-sys-typescale-headline-large-line-height-value: 40px;
  --md-sys-typescale-headline-large-line-height-unit: 2px;
  --md-sys-typescale-headline-large-line-height: 40px;
  /* Headline Large font tracking */
  --md-sys-typescale-headline-large-tracking-value: 0px;
  --md-sys-typescale-headline-large-tracking-unit: 2px;
  --md-sys-typescale-headline-large-tracking: 0px;
  /* Headline Large font size */
  --md-sys-typescale-headline-large-size-value: 32px;
  --md-sys-typescale-headline-large-size-unit: 2px;
  --md-sys-typescale-headline-large-size: 32px;
  /* Headline Large font name */
  --md-sys-typescale-headline-large-font: var(--md-ref-typeface-brand);
  /* Headline Large font weight */
  --md-sys-typescale-headline-large-weight: var(
    --md-ref-typeface-weight-regular
  );
  /* Display Small */
  --md-sys-typescale-display-small-text-transform: unset;
  --md-sys-typescale-display-small-axis-value: unset;
  --md-sys-typescale-display-small-font-style: unset;
  --md-sys-typescale-display-small-text-decoration: unset;
  /* Display Small line height */
  --md-sys-typescale-display-small-line-height-value: 44px;
  --md-sys-typescale-display-small-line-height-unit: 2px;
  --md-sys-typescale-display-small-line-height: 44px;
  /* Display Small font tracking */
  --md-sys-typescale-display-small-tracking-value: 0px;
  --md-sys-typescale-display-small-tracking-unit: 2px;
  --md-sys-typescale-display-small-tracking: 0px;
  /* Display Small font size */
  --md-sys-typescale-display-small-size-value: 36px;
  --md-sys-typescale-display-small-size-unit: 2px;
  --md-sys-typescale-display-small-size: 36px;
  /* Display Small font weight */
  --md-sys-typescale-display-small-weight: var(
    --md-ref-typeface-weight-regular
  );
  /* Display Small font name */
  --md-sys-typescale-display-small-font: var(--md-ref-typeface-brand);
  /* Display Medium */
  --md-sys-typescale-display-medium-text-transform: unset;
  --md-sys-typescale-display-medium-axis-value: unset;
  --md-sys-typescale-display-medium-font-style: unset;
  --md-sys-typescale-display-medium-text-decoration: unset;
  /* Display Medium line height */
  --md-sys-typescale-display-medium-line-height-value: 52px;
  --md-sys-typescale-display-medium-line-height-unit: 2px;
  --md-sys-typescale-display-medium-line-height: 52px;
  /* Display Medium font tracking */
  --md-sys-typescale-display-medium-tracking-value: 0px;
  --md-sys-typescale-display-medium-tracking-unit: 2px;
  --md-sys-typescale-display-medium-tracking: 0px;
  /* Display Medium font size */
  --md-sys-typescale-display-medium-size-value: 45px;
  --md-sys-typescale-display-medium-size-unit: 2px;
  --md-sys-typescale-display-medium-size: 45px;
  /* Display Medium font weight */
  --md-sys-typescale-display-medium-weight: var(
    --md-ref-typeface-weight-regular
  );
  /* Display Medium font name */
  --md-sys-typescale-display-medium-font: var(--md-ref-typeface-brand);
  /* Display Large */
  --md-sys-typescale-display-large-text-transform: unset;
  --md-sys-typescale-display-large-axis-value: unset;
  --md-sys-typescale-display-large-font-style: unset;
  --md-sys-typescale-display-large-text-decoration: unset;
  /* Display Large line height */
  --md-sys-typescale-display-large-line-height-value: 64px;
  --md-sys-typescale-display-large-line-height-unit: 2px;
  --md-sys-typescale-display-large-line-height: 64px;
  /* Display Large font tracking */
  --md-sys-typescale-display-large-tracking-value: -0.25px;
  --md-sys-typescale-display-large-tracking-unit: 2px;
  --md-sys-typescale-display-large-tracking: -0.25px;
  /* Display Large font size */
  --md-sys-typescale-display-large-size-value: 57px;
  --md-sys-typescale-display-large-size-unit: 2px;
  --md-sys-typescale-display-large-size: 57px;
  /* Display Large font weight */
  --md-sys-typescale-display-large-weight: var(
    --md-ref-typeface-weight-regular
  );
  /* Display Large font name */
  --md-sys-typescale-display-large-font: var(--md-ref-typeface-brand);
  /* Plain typeface */
  --md-ref-typeface-plain: Roboto;
  /* Brand typeface */
  --md-ref-typeface-brand: Roboto;
  /* Bold weight */
  --md-ref-typeface-weight-bold: 700;
  /* Medium weight */
  --md-ref-typeface-weight-medium: 500;
  /* Regular weight */
  --md-ref-typeface-weight-regular: 400;

  /* Fully rounded */
  --md-sys-shape-corner-full-family: 3px;
  /* Extra large top rounding */
  --md-sys-shape-corner-extra-large-top-family: 1px;
  --md-sys-shape-corner-extra-large-top: 0px;
  --md-sys-shape-corner-extra-large-top-top-left: 28px;
  --md-sys-shape-corner-extra-large-top-top-right-unit: 1px;
  --md-sys-shape-corner-extra-large-top-top-right: 28px;
  /* Extra large rounding */
  --md-sys-shape-corner-extra-large-family: 1px;
  --md-sys-shape-corner-extra-large-unit: 1px;
  --md-sys-shape-corner-extra-large: 28px;
  /* Large top rounding */
  --md-sys-shape-corner-large-top-family: 1px;
  --md-sys-shape-corner-large-top-unit: 1px;
  --md-sys-shape-corner-large-top: 0px;
  --md-sys-shape-corner-large-top-top-left-unit: 1px;
  --md-sys-shape-corner-large-top-top-left: 16px;
  --md-sys-shape-corner-large-top-top-right-unit: 1px;
  --md-sys-shape-corner-large-top-top-right: 16px;
  /* Large end rounding */
  --md-sys-shape-corner-large-end-family: 1px;
  --md-sys-shape-corner-large-end-unit: 1px;
  --md-sys-shape-corner-large-end: 0px;
  --md-sys-shape-corner-large-end-top-right-unit: 1px;
  --md-sys-shape-corner-large-end-top-right: 16px;
  --md-sys-shape-corner-large-end-bottom-right-unit: 1px;
  --md-sys-shape-corner-large-end-bottom-right: 16px;
  /* Large rounding */
  --md-sys-shape-corner-large-family: 1px;
  --md-sys-shape-corner-large-unit: 1px;
  --md-sys-shape-corner-large: 16px;
  /* Medium rounding */
  --md-sys-shape-corner-medium-family: 1px;
  --md-sys-shape-corner-medium-unit: 1px;
  --md-sys-shape-corner-medium: 12px;
  /* Small rounding */
  --md-sys-shape-corner-small-family: 1px;
  --md-sys-shape-corner-small-unit: 1px;
  --md-sys-shape-corner-small: 8px;
  /* Extra small top rounding */
  --md-sys-shape-corner-extra-small-top-family: 1px;
  --md-sys-shape-corner-extra-small-top-unit: 1px;
  --md-sys-shape-corner-extra-small-top: 0px;
  --md-sys-shape-corner-extra-small-top-top-left-unit: 1px;
  --md-sys-shape-corner-extra-small-top-top-left: 4px;
  --md-sys-shape-corner-extra-small-top-top-right-unit: 1px;
  --md-sys-shape-corner-extra-small-top-top-right: 4px;
  /* Extra small rounding */
  --md-sys-shape-corner-extra-small-family: 1px;
  --md-sys-shape-corner-extra-small-unit: 1px;
  --md-sys-shape-corner-extra-small: 4px;
  /* No rounding */
  --md-sys-shape-corner-none-family: 1px;
  --md-sys-shape-corner-none-unit: 1px;
  --md-sys-shape-corner-none: 0px;

  --md-sys-shape-small: var(--md-sys-shape-corner-small);
  --md-sys-shape-medium: var(--md-sys-shape-corner-medium);
  --md-sys-shape-large: var(--md-sys-shape-corner-large);

  /* Dragged state layer opacity */
  --md-sys-state-dragged-state-layer-opacity: 0.16;
  /* Pressed state layer opacity */
  --md-sys-state-pressed-state-layer-opacity: 0.12;
  /* Focus state layer opacity */
  --md-sys-state-focus-state-layer-opacity: 0.12;
  /* Hover state layer opacity */
  --md-sys-state-hover-state-layer-opacity: 0.08;

  --md-surface-1: rgba(var(--md-sys-color-primary-rgb), 0.05);
  --md-surface-2: rgba(var(--md-sys-color-primary-rgb), 0.08);
  --md-surface-3: rgba(var(--md-sys-color-primary-rgb), 0.11);
  --md-surface-4: rgba(var(--md-sys-color-primary-rgb), 0.12);
  --md-surface-5: rgba(var(--md-sys-color-primary-rgb), 0.14);

  /* Emphasized decelerate easing (out) */
  --md-sys-motion-easing-emphasized-decelerate-x0: 0.05000000074505806;
  --md-sys-motion-easing-emphasized-decelerate-y0: 0.699999988079071;
  --md-sys-motion-easing-emphasized-decelerate-x1: 0.10000000149011612;
  --md-sys-motion-easing-emphasized-decelerate-y1: 1;
  /* Emphasized accelerate easing (in) */
  --md-sys-motion-easing-emphasized-accelerate-x0: 0.30000001192092896;
  --md-sys-motion-easing-emphasized-accelerate-y0: 0;
  --md-sys-motion-easing-emphasized-accelerate-x1: 0.800000011920929;
  --md-sys-motion-easing-emphasized-accelerate-y1: 0.15000000596046448;
  /* Standard decelerate easing (out) */
  --md-sys-motion-easing-standard-decelerate-x0: 0;
  --md-sys-motion-easing-standard-decelerate-y0: 0;
  --md-sys-motion-easing-standard-decelerate-x1: 0;
  --md-sys-motion-easing-standard-decelerate-y1: 1;
  /* Standard accelerate easing (in) */
  --md-sys-motion-easing-standard-accelerate-x0: 0.30000001192092896;
  --md-sys-motion-easing-standard-accelerate-y0: 0;
  --md-sys-motion-easing-standard-accelerate-x1: 1;
  --md-sys-motion-easing-standard-accelerate-y1: 1;
  /* Duration 1000ms */
  --md-sys-motion-duration-1000: 1000ms;
  /* Duration 900ms */
  --md-sys-motion-duration-900: 900ms;
  /* Duration 800ms */
  --md-sys-motion-duration-800: 800ms;
  /* Duration 700ms */
  --md-sys-motion-duration-700: 700ms;
  /* Duration 600ms */
  --md-sys-motion-duration-600: 600ms;
  /* Duration 550ms */
  --md-sys-motion-duration-550: 550ms;
  /* Duration 500ms */
  --md-sys-motion-duration-500: 500ms;
  /* Duration 450ms */
  --md-sys-motion-duration-450: 450ms;
  /* Duration 400ms */
  --md-sys-motion-duration-400: 400ms;
  /* Duration 350ms */
  --md-sys-motion-duration-350: 350ms;
  /* Duration 300ms */
  --md-sys-motion-duration-300: 300ms;
  /* Duration 250ms */
  --md-sys-motion-duration-250: 250ms;
  /* Duration 200ms */
  --md-sys-motion-duration-200: 200ms;
  /* Duration 150ms */
  --md-sys-motion-duration-150: 150ms;
  /* Duration 100ms */
  --md-sys-motion-duration-100: 100ms;
  /* Duration 50ms */
  --md-sys-motion-duration-50: 50ms;
  /* Standard easing (in and out) */
  --md-sys-motion-easing-standard-x0: 0.20000000298023224;
  --md-sys-motion-easing-standard-y0: 0;
  --md-sys-motion-easing-standard-x1: 0;
  --md-sys-motion-easing-standard-y1: 1;
  /* Linear easing */
  --md-sys-motion-easing-linear-x0: 0;
  --md-sys-motion-easing-linear-y0: 0;
  --md-sys-motion-easing-linear-x1: 1;
  --md-sys-motion-easing-linear-y1: 1;
  /* Emphasized */
  --md-sys-motion-easing-emphasized-x0: 0.20000000298023224;
  --md-sys-motion-easing-emphasized-y0: 0;
  --md-sys-motion-easing-emphasized-x1: 0;
  --md-sys-motion-easing-emphasized-y1: 1;
  /* Motion path */
  --md-sys-motion-path-standard-path: 1;

  /* Surface tint color */
  --md-sys-color-surface-tint-color: var(--md-sys-color-primary);
  --md-sys-color-surface-tint-color-rgb: var(--md-sys-color-primary-rgb);
  --md-sys-color-surface-tint: var(--md-sys-color-primary);
  --md-sys-color-surface-tint-rgb: var(--md-sys-color-primary-rgb);
  /* +5 */
  --md-sys-elevation-level5-value: 12px;
  --md-sys-elevation-level5-unit: 1px;
  --md-sys-elevation-level5: 12px;
  /* +4 */
  --md-sys-elevation-level4-value: 8px;
  --md-sys-elevation-level4-unit: 1px;
  --md-sys-elevation-level4: 8px;
  /* +3 */
  --md-sys-elevation-level3-value: 6px;
  --md-sys-elevation-level3-unit: 1px;
  --md-sys-elevation-level3: 6px;
  /* +2 */
  --md-sys-elevation-level2-value: 3px;
  --md-sys-elevation-level2-unit: 1px;
  --md-sys-elevation-level2: 3px;
  /* +1 */
  --md-sys-elevation-level1-value: 1px;
  --md-sys-elevation-level1-unit: 1px;
  --md-sys-elevation-level1: 1px;
  /* 0 */
  --md-sys-elevation-level0-value: 0px;
  --md-sys-elevation-level0-unit: 1px;
  --md-sys-elevation-level0: 0px;

  --md-sys-elevation-0: 0px 0px 0px 0px
      rgba(var(--md-sys-color-shadow-rgb), 0.2),
    0px 0px 0px 0px rgba(var(--md-sys-color-shadow-rgb), 0.14),
    0px 0px 0px 0px rgba(var(--md-sys-color-shadow-rgb), 0.12);
  --md-sys-elevation-1: 0px 3px 1px -2px rgba(var(--md-sys-color-shadow-rgb), 0.2),
    0px 2px 2px 0px rgba(var(--md-sys-color-shadow-rgb), 0.14),
    0px 1px 5px 0px rgba(var(--md-sys-color-shadow-rgb), 0.12);
  --md-sys-elevation-2: 0px 2px 4px -1px rgba(var(--md-sys-color-shadow-rgb), 0.2),
    0px 4px 5px 0px rgba(var(--md-sys-color-shadow-rgb), 0.14),
    0px 1px 10px 0px rgba(var(--md-sys-color-shadow-rgb), 0.12);
  --md-sys-elevation-3: 0px 5px 5px -3px rgba(var(--md-sys-color-shadow-rgb), 0.2),
    0px 8px 10px 1px rgba(var(--md-sys-color-shadow-rgb), 0.14),
    0px 3px 14px 2px rgba(var(--md-sys-color-shadow-rgb), 0.12);
  --md-sys-elevation-4: 0px 5px 5px -3px rgba(var(--md-sys-color-shadow-rgb), 0.2),
    0px 8px 10px 1px rgba(var(--md-sys-color-shadow-rgb), 0.14),
    0px 3px 14px 2px rgba(var(--md-sys-color-shadow-rgb), 0.12);

  /* Theme */
  --md-source: #ab2fbc;
  --md-sys-color-primary-light-rgb: 157, 30, 175;
  --md-sys-color-primary-light: rgba(var(--md-sys-color-primary-light-rgb), 1);
  --md-sys-color-on-primary-light-rgb: 255, 255, 255;
  --md-sys-color-on-primary-light: rgba(
    var(--md-sys-color-on-primary-light-rgb),
    1
  );
  --md-sys-color-primary-container-light-rgb: 255, 214, 252;
  --md-sys-color-primary-container-light: rgba(
    var(--md-sys-color-primary-container-light-rgb),
    1
  );
  --md-sys-color-on-primary-container-light-rgb: 54, 0, 62;
  --md-sys-color-on-primary-container-light: rgba(
    var(--md-sys-color-on-primary-container-light-rgb),
    1
  );
  --md-sys-color-secondary-light-rgb: 108, 88, 107;
  --md-sys-color-secondary-light: rgba(
    var(--md-sys-color-secondary-light-rgb),
    1
  );
  --md-sys-color-on-secondary-light-rgb: 255, 255, 255;
  --md-sys-color-on-secondary-light: rgba(
    var(--md-sys-color-on-secondary-light-rgb),
    1
  );
  --md-sys-color-secondary-container-light-rgb: 245, 219, 241;
  --md-sys-color-secondary-container-light: rgba(
    var(--md-sys-color-secondary-container-light-rgb),
    1
  );
  --md-sys-color-on-secondary-container-light-rgb: 37, 22, 38;
  --md-sys-color-on-secondary-container-light: rgba(
    var(--md-sys-color-on-secondary-container-light-rgb),
    1
  );
  --md-sys-color-tertiary-light-rgb: 130, 82, 73;
  --md-sys-color-tertiary-light: rgba(
    var(--md-sys-color-tertiary-light-rgb),
    1
  );
  --md-sys-color-on-tertiary-light-rgb: 255, 255, 255;
  --md-sys-color-on-tertiary-light: rgba(
    var(--md-sys-color-on-tertiary-light-rgb),
    1
  );
  --md-sys-color-tertiary-container-light-rgb: 255, 218, 212;
  --md-sys-color-tertiary-container-light: rgba(
    var(--md-sys-color-tertiary-container-light-rgb),
    1
  );
  --md-sys-color-on-tertiary-container-light-rgb: 51, 17, 11;
  --md-sys-color-on-tertiary-container-light: rgba(
    var(--md-sys-color-on-tertiary-container-light-rgb),
    1
  );
  --md-sys-color-error-light-rgb: 186, 26, 26;
  --md-sys-color-error-light: rgba(var(--md-sys-color-error-light-rgb), 1);
  --md-sys-color-on-error-light-rgb: 255, 255, 255;
  --md-sys-color-on-error-light: rgba(
    var(--md-sys-color-on-error-light-rgb),
    1
  );
  --md-sys-color-error-container-light-rgb: 255, 218, 214;
  --md-sys-color-error-container-light: rgba(
    var(--md-sys-color-error-container-light-rgb),
    1
  );
  --md-sys-color-on-error-container-light-rgb: 65, 0, 2;
  --md-sys-color-on-error-container-light: rgba(
    var(--md-sys-color-on-error-container-light-rgb),
    1
  );
  --md-sys-color-background-light-rgb: 255, 251, 255;
  --md-sys-color-background-light: rgba(
    var(--md-sys-color-background-light-rgb),
    1
  );
  --md-sys-color-on-background-light-rgb: 30, 26, 29;
  --md-sys-color-on-background-light: rgba(
    var(--md-sys-color-on-background-light-rgb),
    1
  );
  --md-sys-color-surface-light-rgb: 255, 251, 255;
  --md-sys-color-surface-light: rgba(var(--md-sys-color-surface-light-rgb), 1);
  --md-sys-color-on-surface-light-rgb: 30, 26, 29;
  --md-sys-color-on-surface-light: rgba(
    var(--md-sys-color-on-surface-light-rgb),
    1
  );
  --md-sys-color-surface-variant-light-rgb: 237, 223, 232;
  --md-sys-color-surface-variant-light: rgba(
    var(--md-sys-color-surface-variant-light-rgb),
    1
  );
  --md-sys-color-on-surface-variant-light-rgb: 77, 68, 76;
  --md-sys-color-on-surface-variant-light: rgba(
    var(--md-sys-color-on-surface-variant-light-rgb),
    1
  );
  --md-sys-color-outline-light-rgb: 127, 116, 124;
  --md-sys-color-outline-light: rgba(var(--md-sys-color-outline-light-rgb), 1);
  --md-sys-color-shadow-light-rgb: 0, 0, 0;
  --md-sys-color-shadow-light: rgba(var(--md-sys-color-shadow-light-rgb), 1);
  --md-sys-color-inverse-surface-light-rgb: 51, 47, 50;
  --md-sys-color-inverse-surface-light: rgba(
    var(--md-sys-color-inverse-surface-light-rgb),
    1
  );
  --md-sys-color-inverse-on-surface-light-rgb: 247, 238, 242;
  --md-sys-color-inverse-on-surface-light: rgba(
    var(--md-sys-color-inverse-on-surface-light-rgb),
    1
  );
  --md-sys-color-inverse-primary-light-rgb: 252, 170, 255;
  --md-sys-color-inverse-primary-light: rgba(
    var(--md-sys-color-inverse-primary-light-rgb),
    1
  );
  --md-sys-color-primary-dark-rgb: 252, 170, 255;
  --md-sys-color-primary-dark: rgba(var(--md-sys-color-primary-dark-rgb), 1);
  --md-sys-color-on-primary-dark-rgb: 88, 0, 100;
  --md-sys-color-on-primary-dark: rgba(
    var(--md-sys-color-on-primary-dark-rgb),
    1
  );
  --md-sys-color-primary-container-dark-rgb: 124, 0, 141;
  --md-sys-color-primary-container-dark: rgba(
    var(--md-sys-color-primary-container-dark-rgb),
    1
  );
  --md-sys-color-on-primary-container-dark-rgb: 255, 214, 252;
  --md-sys-color-on-primary-container-dark: rgba(
    var(--md-sys-color-on-primary-container-dark-rgb),
    1
  );
  --md-sys-color-secondary-dark-rgb: 216, 191, 212;
  --md-sys-color-secondary-dark: rgba(
    var(--md-sys-color-secondary-dark-rgb),
    1
  );
  --md-sys-color-on-secondary-dark-rgb: 59, 43, 59;
  --md-sys-color-on-secondary-dark: rgba(
    var(--md-sys-color-on-secondary-dark-rgb),
    1
  );
  --md-sys-color-secondary-container-dark-rgb: 83, 65, 82;
  --md-sys-color-secondary-container-dark: rgba(
    var(--md-sys-color-secondary-container-dark-rgb),
    1
  );
  --md-sys-color-on-secondary-container-dark-rgb: 245, 219, 241;
  --md-sys-color-on-secondary-container-dark: rgba(
    var(--md-sys-color-on-secondary-container-dark-rgb),
    1
  );
  --md-sys-color-tertiary-dark-rgb: 246, 184, 172;
  --md-sys-color-tertiary-dark: rgba(var(--md-sys-color-tertiary-dark-rgb), 1);
  --md-sys-color-on-tertiary-dark-rgb: 76, 37, 30;
  --md-sys-color-on-tertiary-dark: rgba(
    var(--md-sys-color-on-tertiary-dark-rgb),
    1
  );
  --md-sys-color-tertiary-container-dark-rgb: 103, 59, 51;
  --md-sys-color-tertiary-container-dark: rgba(
    var(--md-sys-color-tertiary-container-dark-rgb),
    1
  );
  --md-sys-color-on-tertiary-container-dark-rgb: 255, 218, 212;
  --md-sys-color-on-tertiary-container-dark: rgba(
    var(--md-sys-color-on-tertiary-container-dark-rgb),
    1
  );
  --md-sys-color-error-dark-rgb: 255, 180, 171;
  --md-sys-color-error-dark: rgba(var(--md-sys-color-error-dark-rgb), 1);
  --md-sys-color-on-error-dark-rgb: 105, 0, 5;
  --md-sys-color-on-error-dark: rgba(var(--md-sys-color-on-error-dark-rgb), 1);
  --md-sys-color-error-container-dark-rgb: 147, 0, 10;
  --md-sys-color-error-container-dark: rgba(
    var(--md-sys-color-error-container-dark-rgb),
    1
  );
  --md-sys-color-on-error-container-dark-rgb: 255, 180, 171;
  --md-sys-color-on-error-container-dark: rgba(
    var(--md-sys-color-on-error-container-dark-rgb),
    1
  );
  --md-sys-color-background-dark-rgb: 30, 26, 29;
  --md-sys-color-background-dark: rgba(
    var(--md-sys-color-background-dark-rgb),
    1
  );
  --md-sys-color-on-background-dark-rgb: 233, 224, 228;
  --md-sys-color-on-background-dark: rgba(
    var(--md-sys-color-on-background-dark-rgb),
    1
  );
  --md-sys-color-surface-dark-rgb: 30, 26, 29;
  --md-sys-color-surface-dark: rgba(var(--md-sys-color-surface-dark-rgb), 1);
  --md-sys-color-on-surface-dark-rgb: 233, 224, 228;
  --md-sys-color-on-surface-dark: rgba(
    var(--md-sys-color-on-surface-dark-rgb),
    1
  );
  --md-sys-color-surface-variant-dark-rgb: 77, 68, 76;
  --md-sys-color-surface-variant-dark: rgba(
    var(--md-sys-color-surface-variant-dark-rgb),
    1
  );
  --md-sys-color-on-surface-variant-dark-rgb: 208, 195, 204;
  --md-sys-color-on-surface-variant-dark: rgba(
    var(--md-sys-color-on-surface-variant-dark-rgb),
    1
  );
  --md-sys-color-outline-dark-rgb: 153, 141, 150;
  --md-sys-color-outline-dark: rgba(var(--md-sys-color-outline-dark-rgb), 1);
  --md-sys-color-shadow-dark-rgb: 0, 0, 0;
  --md-sys-color-shadow-dark: rgba(var(--md-sys-color-shadow-dark-rgb), 1);
  --md-sys-color-inverse-surface-dark-rgb: 233, 224, 228;
  --md-sys-color-inverse-surface-dark: rgba(
    var(--md-sys-color-inverse-surface-dark-rgb),
    1
  );
  --md-sys-color-inverse-on-surface-dark-rgb: 51, 47, 50;
  --md-sys-color-inverse-on-surface-dark: rgba(
    var(--md-sys-color-inverse-on-surface-dark-rgb),
    1
  );
  --md-sys-color-inverse-primary-dark-rgb: 157, 30, 175;
  --md-sys-color-inverse-primary-dark: rgba(
    var(--md-sys-color-inverse-primary-dark-rgb),
    1
  );
}
:root,
.light-theme {
  color-scheme: light;
  --md-sys-color-primary-rgb: 157, 30, 175;
  --md-sys-color-primary: rgba(var(--md-sys-color-primary-rgb), 1);
  --md-sys-color-on-primary-rgb: 255, 255, 255;
  --md-sys-color-on-primary: rgba(var(--md-sys-color-on-primary-rgb), 1);
  --md-sys-color-primary-container-rgb: 255, 214, 252;
  --md-sys-color-primary-container: rgba(
    var(--md-sys-color-primary-container-rgb),
    1
  );
  --md-sys-color-on-primary-container-rgb: 54, 0, 62;
  --md-sys-color-on-primary-container: rgba(
    var(--md-sys-color-on-primary-container-rgb),
    1
  );
  --md-sys-color-secondary-rgb: 108, 88, 107;
  --md-sys-color-secondary: rgba(var(--md-sys-color-secondary-rgb), 1);
  --md-sys-color-on-secondary-rgb: 255, 255, 255;
  --md-sys-color-on-secondary: rgba(var(--md-sys-color-on-secondary-rgb), 1);
  --md-sys-color-secondary-container-rgb: 245, 219, 241;
  --md-sys-color-secondary-container: rgba(
    var(--md-sys-color-secondary-container-rgb),
    1
  );
  --md-sys-color-on-secondary-container-rgb: 37, 22, 38;
  --md-sys-color-on-secondary-container: rgba(
    var(--md-sys-color-on-secondary-container-rgb),
    1
  );
  --md-sys-color-tertiary-rgb: 130, 82, 73;
  --md-sys-color-tertiary: rgba(var(--md-sys-color-tertiary-rgb), 1);
  --md-sys-color-on-tertiary-rgb: 255, 255, 255;
  --md-sys-color-on-tertiary: rgba(var(--md-sys-color-on-tertiary-rgb), 1);
  --md-sys-color-tertiary-container-rgb: 255, 218, 212;
  --md-sys-color-tertiary-container: rgba(
    var(--md-sys-color-tertiary-container-rgb),
    1
  );
  --md-sys-color-on-tertiary-container-rgb: 51, 17, 11;
  --md-sys-color-on-tertiary-container: rgba(
    var(--md-sys-color-on-tertiary-container-rgb),
    1
  );
  --md-sys-color-error-rgb: 186, 26, 26;
  --md-sys-color-error: rgba(var(--md-sys-color-error-rgb), 1);
  --md-sys-color-on-error-rgb: 255, 255, 255;
  --md-sys-color-on-error: rgba(var(--md-sys-color-on-error-rgb), 1);
  --md-sys-color-error-container-rgb: 255, 218, 214;
  --md-sys-color-error-container: rgba(
    var(--md-sys-color-error-container-rgb),
    1
  );
  --md-sys-color-on-error-container-rgb: 65, 0, 2;
  --md-sys-color-on-error-container: rgba(
    var(--md-sys-color-on-error-container-rgb),
    1
  );
  --md-sys-color-background-rgb: 255, 251, 255;
  --md-sys-color-background: rgba(var(--md-sys-color-background-rgb), 1);
  --md-sys-color-on-background-rgb: 30, 26, 29;
  --md-sys-color-on-background: rgba(var(--md-sys-color-on-background-rgb), 1);
  --md-sys-color-surface-rgb: 255, 251, 255;
  --md-sys-color-surface: rgba(var(--md-sys-color-surface-rgb), 1);
  --md-sys-color-on-surface-rgb: 30, 26, 29;
  --md-sys-color-on-surface: rgba(var(--md-sys-color-on-surface-rgb), 1);
  --md-sys-color-surface-variant-rgb: 237, 223, 232;
  --md-sys-color-surface-variant: rgba(
    var(--md-sys-color-surface-variant-rgb),
    1
  );
  --md-sys-color-on-surface-variant-rgb: 77, 68, 76;
  --md-sys-color-on-surface-variant: rgba(
    var(--md-sys-color-on-surface-variant-rgb),
    1
  );
  --md-sys-color-outline-rgb: 127, 116, 124;
  --md-sys-color-outline: rgba(var(--md-sys-color-outline-rgb), 1);
  --md-sys-color-shadow-rgb: 0, 0, 0;
  --md-sys-color-shadow: rgba(var(--md-sys-color-shadow-rgb), 1);
  --md-sys-color-inverse-surface-rgb: 51, 47, 50;
  --md-sys-color-inverse-surface: rgba(
    var(--md-sys-color-inverse-surface-rgb),
    1
  );
  --md-sys-color-inverse-on-surface-rgb: 247, 238, 242;
  --md-sys-color-inverse-on-surface: rgba(
    var(--md-sys-color-inverse-on-surface-rgb),
    1
  );
  --md-sys-color-inverse-primary-rgb: 252, 170, 255;
  --md-sys-color-inverse-primary: rgba(
    var(--md-sys-color-inverse-primary-rgb),
    1
  );
}
.dark-theme {
  color-scheme: dark;
  --md-sys-color-primary-rgb: 252, 170, 255;
  --md-sys-color-primary: rgba(var(--md-sys-color-primary-rgb), 1);
  --md-sys-color-on-primary-rgb: 88, 0, 100;
  --md-sys-color-on-primary: rgba(var(--md-sys-color-on-primary-rgb), 1);
  --md-sys-color-primary-container-rgb: 124, 0, 141;
  --md-sys-color-primary-container: rgba(
    var(--md-sys-color-primary-container-rgb),
    1
  );
  --md-sys-color-on-primary-container-rgb: 255, 214, 252;
  --md-sys-color-on-primary-container: rgba(
    var(--md-sys-color-on-primary-container-rgb),
    1
  );
  --md-sys-color-secondary-rgb: 216, 191, 212;
  --md-sys-color-secondary: rgba(var(--md-sys-color-secondary-rgb), 1);
  --md-sys-color-on-secondary-rgb: 59, 43, 59;
  --md-sys-color-on-secondary: rgba(var(--md-sys-color-on-secondary-rgb), 1);
  --md-sys-color-secondary-container-rgb: 83, 65, 82;
  --md-sys-color-secondary-container: rgba(
    var(--md-sys-color-secondary-container-rgb),
    1
  );
  --md-sys-color-on-secondary-container-rgb: 245, 219, 241;
  --md-sys-color-on-secondary-container: rgba(
    var(--md-sys-color-on-secondary-container-rgb),
    1
  );
  --md-sys-color-tertiary-rgb: 246, 184, 172;
  --md-sys-color-tertiary: rgba(var(--md-sys-color-tertiary-rgb), 1);
  --md-sys-color-on-tertiary-rgb: 76, 37, 30;
  --md-sys-color-on-tertiary: rgba(var(--md-sys-color-on-tertiary-rgb), 1);
  --md-sys-color-tertiary-container-rgb: 103, 59, 51;
  --md-sys-color-tertiary-container: rgba(
    var(--md-sys-color-tertiary-container-rgb),
    1
  );
  --md-sys-color-on-tertiary-container-rgb: 255, 218, 212;
  --md-sys-color-on-tertiary-container: rgba(
    var(--md-sys-color-on-tertiary-container-rgb),
    1
  );
  --md-sys-color-error-rgb: 255, 180, 171;
  --md-sys-color-error: rgba(var(--md-sys-color-error-rgb), 1);
  --md-sys-color-on-error-rgb: 105, 0, 5;
  --md-sys-color-on-error: rgba(var(--md-sys-color-on-error-rgb), 1);
  --md-sys-color-error-container-rgb: 147, 0, 10;
  --md-sys-color-error-container: rgba(
    var(--md-sys-color-error-container-rgb),
    1
  );
  --md-sys-color-on-error-container-rgb: 255, 180, 171;
  --md-sys-color-on-error-container: rgba(
    var(--md-sys-color-on-error-container-rgb),
    1
  );
  --md-sys-color-background-rgb: 30, 26, 29;
  --md-sys-color-background: rgba(var(--md-sys-color-background-rgb), 1);
  --md-sys-color-on-background-rgb: 233, 224, 228;
  --md-sys-color-on-background: rgba(var(--md-sys-color-on-background-rgb), 1);
  --md-sys-color-surface-rgb: 30, 26, 29;
  --md-sys-color-surface: rgba(var(--md-sys-color-surface-rgb), 1);
  --md-sys-color-on-surface-rgb: 233, 224, 228;
  --md-sys-color-on-surface: rgba(var(--md-sys-color-on-surface-rgb), 1);
  --md-sys-color-surface-variant-rgb: 77, 68, 76;
  --md-sys-color-surface-variant: rgba(
    var(--md-sys-color-surface-variant-rgb),
    1
  );
  --md-sys-color-on-surface-variant-rgb: 208, 195, 204;
  --md-sys-color-on-surface-variant: rgba(
    var(--md-sys-color-on-surface-variant-rgb),
    1
  );
  --md-sys-color-outline-rgb: 153, 141, 150;
  --md-sys-color-outline: rgba(var(--md-sys-color-outline-rgb), 1);
  --md-sys-color-shadow-rgb: 0, 0, 0;
  --md-sys-color-shadow: rgba(var(--md-sys-color-shadow-rgb), 1);
  --md-sys-color-inverse-surface-rgb: 233, 224, 228;
  --md-sys-color-inverse-surface: rgba(
    var(--md-sys-color-inverse-surface-rgb),
    1
  );
  --md-sys-color-inverse-on-surface-rgb: 51, 47, 50;
  --md-sys-color-inverse-on-surface: rgba(
    var(--md-sys-color-inverse-on-surface-rgb),
    1
  );
  --md-sys-color-inverse-primary-rgb: 157, 30, 175;
  --md-sys-color-inverse-primary: rgba(
    var(--md-sys-color-inverse-primary-rgb),
    1
  );
}
