<div class="demo-preview-block">
  <h3>Default layout</h3>
  <p>Uses a header for large screen sizes and a collapsible drawer for smaller
    screens.</p>

  <div class="demo-layout">
    <div class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button">
      <header class="mdl-layout__header">
        <!-- Icon -->
        <div class="mdl-layout-icon demo-app-icon"></div>
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Material Design Lite</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation -->
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="javascript:void(0);">Hello</a>
            <a class="mdl-navigation__link" href="javascript:void(0);">World.</a>
            <a class="mdl-navigation__link" href="javascript:void(0);">How</a>
            <a class="mdl-navigation__link" href="javascript:void(0);">Are</a>
            <a class="mdl-navigation__link" href="javascript:void(0);">You?</a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Material Design Lite</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="javascript:void(0);">Hello</a>
          <a class="mdl-navigation__link" href="javascript:void(0);">World.</a>
          <a class="mdl-navigation__link" href="javascript:void(0);">How</a>
          <a class="mdl-navigation__link" href="javascript:void(0);">Are</a>
          <a class="mdl-navigation__link" href="javascript:void(0);">You?</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="demo-layout__content"></div>
      </main>
    </div>
  </div>


  <h3>Scrolling header</h3>
  <p>Same as the standard layout, but the header scrolls with the content.</p>

  <div class="demo-layout">
    <div class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button">
      <header class="mdl-layout__header mdl-layout__header--scroll">
        <!-- Icon -->
        <div class="mdl-layout-icon demo-app-icon"></div>
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Material Design Lite</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation -->
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="javascript:void(0);">Hello</a>
            <a class="mdl-navigation__link" href="javascript:void(0);">World.</a>
            <a class="mdl-navigation__link" href="javascript:void(0);">How</a>
            <a class="mdl-navigation__link" href="javascript:void(0);">Are</a>
            <a class="mdl-navigation__link" href="javascript:void(0);">You?</a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Material Design Lite</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="javascript:void(0);">Hello</a>
          <a class="mdl-navigation__link" href="javascript:void(0);">World.</a>
          <a class="mdl-navigation__link" href="javascript:void(0);">How</a>
          <a class="mdl-navigation__link" href="javascript:void(0);">Are</a>
          <a class="mdl-navigation__link" href="javascript:void(0);">You?</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="demo-layout__content"></div>
      </main>
    </div>
  </div>


  <h3>Fixed drawer with header</h3>
  <p>The drawer is always open in large screen sizes, functioning as side
    navigation.</p>

  <div class="demo-layout">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--overlay-drawer-button">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Fixed drawer layout demo</span>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="sample-expclean">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" name="sample" id="sample-expclean" />
            </div>
          </div>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Material Design Lite</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="javascript:void(0);">Hello</a>
          <a class="mdl-navigation__link" href="javascript:void(0);">World.</a>
          <a class="mdl-navigation__link" href="javascript:void(0);">How</a>
          <a class="mdl-navigation__link" href="javascript:void(0);">Are</a>
          <a class="mdl-navigation__link" href="javascript:void(0);">You?</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="demo-layout__content"></div>
      </main>
    </div>
  </div>


  <h3>Fixed drawer (no header)</h3>
  <p>Same as the previous layout, but with no header.</p>

  <div class="demo-layout">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--overlay-drawer-button">
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Material Design Lite</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="javascript:void(0);">Hello</a>
          <a class="mdl-navigation__link" href="javascript:void(0);">World.</a>
          <a class="mdl-navigation__link" href="javascript:void(0);">How</a>
          <a class="mdl-navigation__link" href="javascript:void(0);">Are</a>
          <a class="mdl-navigation__link" href="javascript:void(0);">You?</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="demo-layout__content"></div>
      </main>
    </div>
  </div>


  <h3>Fixed header</h3>
  <p>Always shows a header, even in smaller screens.</p>

  <div class="demo-layout">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <!-- Icon -->
        <div class="mdl-layout-icon demo-app-icon"></div>
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Material Design Lite</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="javascript:void(0);">Hello</a>
            <a class="mdl-navigation__link" href="javascript:void(0);">World.</a>
            <a class="mdl-navigation__link" href="javascript:void(0);">How</a>
            <a class="mdl-navigation__link" href="javascript:void(0);">Are</a>
            <a class="mdl-navigation__link" href="javascript:void(0);">You?</a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Material Design Lite</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="javascript:void(0);">Hello</a>
          <a class="mdl-navigation__link" href="javascript:void(0);">World.</a>
          <a class="mdl-navigation__link" href="javascript:void(0);">How</a>
          <a class="mdl-navigation__link" href="javascript:void(0);">Are</a>
          <a class="mdl-navigation__link" href="javascript:void(0);">You?</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="demo-layout__content"></div>
      </main>
    </div>
  </div>


  <h3>Fixed drawer and fixed header</h3>
  <p>The drawer is always open in large screens. The header is always shown,
    even in small screens.</p>

  <div class="demo-layout">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Fixed drawer and header</span>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Material Design Lite</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="javascript:void(0);">Hello</a>
          <a class="mdl-navigation__link" href="javascript:void(0);">World.</a>
          <a class="mdl-navigation__link" href="javascript:void(0);">How</a>
          <a class="mdl-navigation__link" href="javascript:void(0);">Are</a>
          <a class="mdl-navigation__link" href="javascript:void(0);">You?</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="demo-layout__content"></div>
      </main>
    </div>
  </div>


  <h3>Multi-row layout</h3>
  <p>Example of a more complex waterfall header, with multiple rows (on large
    screens only).</p>

  <div class="demo-layout">
    <div class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button">
      <header class="mdl-layout__header mdl-layout__header--waterfall">
        <!-- Icon -->
        <div class="mdl-layout-icon demo-app-icon"></div>
        <!-- Top row -->
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-animation--default" id="my_text_changes">
            Material Design Lite
          </span>
          <div class="mdl-layout-spacer"></div>
          <!-- Only show when compact, check CSS -->
          <nav class="mdl-navigation" id="compact_navigation">
            <a class="mdl-navigation__link" href="javascript:void(0);">Hello</a>
            <a class="mdl-navigation__link" href="javascript:void(0);">World.</a>
            <a class="mdl-navigation__link" href="javascript:void(0);">How</a>
            <a class="mdl-navigation__link" href="javascript:void(0);">Are</a>
            <a class="mdl-navigation__link" href="javascript:void(0);">You?</a>
          </nav>
        </div>
        <!-- Middle row, subtitle -->
        <div class="mdl-layout__header-row">
          <span class="mdl-typography--title">
            Multi-row layout demo
          </span>
        </div>
        <!-- Bottom row -->
        <div class="mdl-layout__header-row">
          <div class="mdl-layout-spacer"></div>
          <!-- Only show when expanded, check CSS -->
          <nav class="mdl-navigation" id="expanded_navigation">
            <a class="mdl-navigation__link" href="javascript:void(0);">Hello</a>
            <a class="mdl-navigation__link" href="javascript:void(0);">World.</a>
            <a class="mdl-navigation__link" href="javascript:void(0);">How</a>
            <a class="mdl-navigation__link" href="javascript:void(0);">Are</a>
            <a class="mdl-navigation__link" href="javascript:void(0);">You?</a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Material Design Lite</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="javascript:void(0);">Hello</a>
          <a class="mdl-navigation__link" href="javascript:void(0);">World.</a>
          <a class="mdl-navigation__link" href="javascript:void(0);">How</a>
          <a class="mdl-navigation__link" href="javascript:void(0);">Are</a>
          <a class="mdl-navigation__link" href="javascript:void(0);">You?</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="demo-layout__content"></div>
      </main>
    </div>
  </div>


  <h3>Transparent header</h3>
  <p>Uses a transparent header that draws on top of the layout's background.</p>

  <div class="demo-layout">
    <div class="mdl-layout mdl-js-layout" id="transparent_demo">
      <header class="mdl-layout__header mdl-layout__header--transparent">
        <!-- Icon -->
        <div class="mdl-layout-icon demo-app-icon"></div>
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Material Design Lite</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation -->
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="javascript:void(0);">Hello</a>
            <a class="mdl-navigation__link" href="javascript:void(0);">World.</a>
            <a class="mdl-navigation__link" href="javascript:void(0);">How</a>
            <a class="mdl-navigation__link" href="javascript:void(0);">Are</a>
            <a class="mdl-navigation__link" href="javascript:void(0);">You?</a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Material Design Lite</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="javascript:void(0);">Hello</a>
          <a class="mdl-navigation__link" href="javascript:void(0);">World.</a>
          <a class="mdl-navigation__link" href="javascript:void(0);">How</a>
          <a class="mdl-navigation__link" href="javascript:void(0);">Are</a>
          <a class="mdl-navigation__link" href="javascript:void(0);">You?</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
      </main>
    </div>
  </div>

  <h3>Scrollable tabs</h3>
  <p>Simple header with scrollable tabs.</p>

  <div class="demo-layout">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <!-- Icon -->
        <div class="mdl-layout-icon demo-app-icon"></div>
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Material Design Lite</span>
        </div>
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
          <a href="#blue-panel-scroll" class="mdl-layout__tab is-active">Blue</a>
          <a href="#green-panel-scroll" class="mdl-layout__tab">Green</a>
          <a href="#red-panel-scroll" class="mdl-layout__tab">Red</a>
          <a href="#blue-panel-scroll" class="mdl-layout__tab">Blue Two</a>
          <a href="#green-panel-scroll" class="mdl-layout__tab">Green Two</a>
          <a href="#red-panel-scroll" class="mdl-layout__tab">Red Two</a>
          <a href="#blue-panel-scroll" class="mdl-layout__tab">Blue Three</a>
          <a href="#green-panel-scroll" class="mdl-layout__tab">Green Three</a>
          <a href="#red-panel-scroll" class="mdl-layout__tab">Red Three</a>
          <a href="#blue-panel-scroll" class="mdl-layout__tab">Blue Four</a>
          <a href="#green-panel-scroll" class="mdl-layout__tab">Green Four</a>
          <a href="#red-panel-scroll" class="mdl-layout__tab">Red Four</a>
          <a href="#blue-panel-scroll" class="mdl-layout__tab">Blue Five</a>
          <a href="#green-panel-scroll" class="mdl-layout__tab">Green Five</a>
          <a href="#red-panel-scroll" class="mdl-layout__tab">Red Five</a>
          <a href="#blue-panel-scroll" class="mdl-layout__tab">Blue Six</a>
          <a href="#green-panel-scroll" class="mdl-layout__tab">Green Six</a>
          <a href="#red-panel-scroll" class="mdl-layout__tab">Red Six</a>
        </div>
      </header>
      <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="blue-panel-scroll">
          <div class="demo-layout__content-blue"></div>
        </section>
        <section class="mdl-layout__tab-panel" id="green-panel-scroll">
          <div class="demo-layout__content-green"></div>
        </section>
        <section class="mdl-layout__tab-panel" id="red-panel-scroll">
          <div class="demo-layout__content-red"></div>
        </section>
      </main>
    </div>
  </div>

  <h3>Fixed tabs</h3>
  <p>Simple header with fixed tabs.</p>

  <div class="demo-layout">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
      <header class="mdl-layout__header">
        <!-- Icon -->
        <div class="mdl-layout-icon demo-app-icon"></div>
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Material Design Lite</span>
        </div>
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
          <a href="#blue-panel-fixed" class="mdl-layout__tab is-active">Blue</a>
          <a href="#green-panel-fixed" class="mdl-layout__tab">Green</a>
          <a href="#red-panel-fixed" class="mdl-layout__tab">Red</a>
        </div>
      </header>
      <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="blue-panel-fixed">
          <div class="demo-layout__content-blue"></div>
        </section>
        <section class="mdl-layout__tab-panel" id="green-panel-fixed">
          <div class="demo-layout__content-green"></div>
        </section>
        <section class="mdl-layout__tab-panel" id="red-panel-fixed">
          <div class="demo-layout__content-red"></div>
        </section>
      </main>
    </div>
  </div>
</div>
